---
title: 1975 Winners
navigation: Contest
---

<h1>1975 Winners</h1>

<p>The following are the winners from the 1975 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/seventy-six/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;<a href="/contest/winners/">&nbsp;YEAR-BY-YEAR</a></p>
<p><em>This was the first year that the print photo contest was held in conjunction with the Seminar speakers.</em><br>
<em>It was also billed as the “12th annual Atlanta Press Photographers Association Photography contest Winners.”</em></p>
<p><strong>BEST IN SHOW AWARD</strong><br>
David Chobat</p>
<p><strong>JOHN BENT MEMORIAL AWARD</strong><br>
Michael Pugh (for the portfolio of prints (10 or more)<br>
best exemplifying outstanding performance by a press photographer)</p>
<p><strong>PICTURE STORY OR PICTURE ESSAY</strong><br>
First – Ken Hawkins<br>
Second – Don Rutledge<br>
Third – Robert O. Davis</p>
<p><strong>NEWS</strong><br>
First – David Chobat<br>
Second – Joe Sebo Jr.<br>
Third – Robert Jordan</p>
<p><strong>SPORTS</strong><br>
First – Ken Hawkins<br>
Second – Michael Pugh<br>
Third – Lennox McClendon</p>
<p><strong>PERSONALITIES &amp; PORTRAITS</strong><br>
First – Michael Pugh<br>
Second – Lennox McClendon<br>
Third – Ken Hawkins</p>
<p><strong>CHILDREN</strong><br>
First – Michael Pugh<br>
Second – Gerald F. Jones<br>
Third – Don Rutledge</p>
<p><strong>FEATURES</strong><br>
First – Don Rutledge<br>
Second – Robert Jordan<br>
Third – Calvin Cruce</p>
<p><strong>ARCHITECTUAL AND INDUSTRIAL</strong><br>
First – Floyd Jillson<br>
Second – Floyd Jillson</p>
<p><strong>NATURE</strong><br>
First – Deloye Burrell<br>
Second – Michael Pugh<br>
Third – Deloye Burrell</p>
<p><strong>SCENIC</strong><br>
First – Lana Harris<br>
Second – Michael Pugh<br>
Third – Timothy R. McLaughlin</p>
<p><strong>ILLUSTRATIVE AND ADVERTISING</strong><br>
First – Henry Patton<br>
Second – Ken Patterson<br>
Third – Don Rutledge</p>
<p><strong>ANNUAL EVENTS IN GEORGIA </strong>(black and white)<br>
First – Lennox McClendon<br>
Second – Billy Downs<br>
Third – Melanie Thompson</p>
<p><strong>GEORGIA SCENIC ATTRACTIONS </strong>(black and white)<br>
First – Michael Pugh<br>
Second – Deloye Burrell<br>
Third – Bob Connell</p>
<p><strong>FUN IN GEORGIA</strong> (black and white)<br>
First – Steve Hutcheson<br>
Second – Steve Hutcheson<br>
Third – Deloye Burrell</p>
<p><strong>GEORGIA SCENIC ATTRACTIONS</strong> (color)<br>
First – Floyd Jillson<br>
Second – E. Alan McGee, Atlanta<br>
Third – Doc Farris, Decatur</p>
<p><strong>STONE MOUNTAIN PARK</strong><br>
First – Michael Pugh<br>
Second – Bob Connell<br>
Third – Steve Hutcheson</p>
<p><strong>CALLOWAY GARDENS</strong><br>
First – Deloye Burrell<br>
Second – Deloye Burrell<br>
Third – Ken Patterson</p>
<p><strong>LION COUNTRY SAFARI</strong><br>
First – Michael Pugh<br>
Second – Lana Swindler<br>
Third – Lennox McClendon</p>
<p><strong>GOLD HILLS OF DAHLONEGA</strong><br>
First – Billy Downs<br>
Second – Billy Downs</p>
<p><strong>ATLANTA BRAVES AWARD</strong><br>
Ken Hawkins</p>
<p><strong>ATLANTA FALCONS AWARD</strong><br>
Lennox McClendon</p>
<p><strong>ATLANTA HAWKS AWARD</strong><br>
Ken Hawkins</p>
<p><strong>ATLANTA FLAMES AWARD</strong><br>
Lennox McClendon</p>
<p><strong>BEST AMATEUR IN SHOW AWARD</strong><br>
Deloye Burrell</p>
<p>Judges:<br>
Jack Corn, NPPA Region 6 Director;<br>
Everett Hullum of the Baptist Home Mission Board;<br>
Freelancer Dennis Darling</p>
<p style="text-align: center;"><a href="/contest/winners/seventy-six/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;<a href="/contest/winners/">&nbsp;YEAR-BY-YEAR</a></p>
<p>Below are scans of the official entry form and rules for the 1975 Contest:</p>
<p><a href="/wp-content/uploads/2013/05/1975_contest_form-1.jpg"><img class="alignleft size-full wp-image-1388" alt="1975_contest_form-1" src="/wp-content/uploads/2013/05/1975_contest_form-1.jpg" width="900" height="695"></a><a href="/wp-content/uploads/2013/05/1975_contest_form-2.jpg"><img class="alignleft size-full wp-image-1389" alt="1975_contest_form-2" src="/wp-content/uploads/2013/05/1975_contest_form-2.jpg" width="900" height="695"></a></p>
				<footer class="entry-meta">
				</footer>
