---
title: Sponsors
navigation: Sponsors
---

<h1>2014 Sponsors</h1>

<% data = YAML.load_file("source/sponsors/sponsors.yml") %>

<div class='sponsors'>
  <% data.each do |sponsor| %>
    <a href="<%= sponsor[:homepage] %>" target="_blank">
      <img src="<%= sponsor[:image_url] %>" alt="<%= sponsor[:name] %>" height="<%= sponsor[:image_height] %>">
    </a>
  <% end %>
</div>