---
title: 2001 Winners
navigation: Contest
---

<h1>2001 Winners</h1>

<p>The following are the winners from the 2001 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/zero/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/two/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 2001 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Aristide Economopoulos, of Star—Ledger</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Vincent Laforet, The New York Times<br>
Second Place — Andrew Cutraro, The St Louis Post—Dispatch<br>
Third Place — Damon Winter, The Dallas Morning News<br>
HM — Mike Stocker, Ft. Lauderdale Sun—Sentinel</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Carlton Ward, University of Florida<br>
Second Place — Glenn Danforth, University of Florida<br>
Third Place — Amber Tanille Woolfalk, Western Kentucky University<br>
HM — Kathleen Flynn, Western Kentucky University<br>
HM — John Loomis, University of Missouri<br>
HM — Jennifer Sens, University of Florida</p>
<p><strong>STAFF OF THE YEAR</strong><br>
The Charlotte Observer</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Armando Solares, Sarasota Herald—Tribune “Hell”<br>
Second Place — Nasser Shiyoukhi, The Associated Press “Acting Out”<br>
Third Place — Glenn Danforth, University of Florida “Evacuation”<br>
HM — Al Schaben, Los Angeles Times “Surf Rescue”<br>
HM — Andrew Cutraro, St Louis Post—Dispatch<br>
HM — Hilda M. Perez, Ft. Lauderdale Sun—Sentinel “Bullets Fly”</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Alexandar Zemlianichenko, Associated Press “Russian Vets”<br>
Second Place — Alan Diaz, Associated Press “Controversial Ballet”<br>
Third Place — Brian Walski, Los Angeles Times “untitled”<br>
HM — Mike Stocker, Ft. Lauderdale Sun—Sentinel “Big Brother”<br>
HM — David H. Schreiber, C&amp;G newspapers (MI) “I’m Innocent”</p>
<p><strong>FEATURE</strong><br>
First Place — Gary O’Brien, The Charlotte Observer “The Rite of Spring”<br>
Second Place — Logan Mock—Bunting, University of North Carolina at Chapel Hill “Ick”<br>
Third Place — Lannis Waters, Palm Beach Post “Big Bunny”<br>
HM — Carlton Ward, University of Florida “Magnum”<br>
HM — Mark Cornelison, Lexington Herald Leader “First Haircut”<br>
HM — Beth Keiser, Associated Press “Bay of New York Invasion”</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Stuart Bayer, The Journal News (White Plains, NY) “Soccer Face”<br>
Second Place — Francisco Kjolseth, The Charlotte Observer “Tango on the Street”<br>
Third Place — Ed Sackett, Orlando Sentinel “Slide”<br>
HM — Dave C2001, University of Florida “Missed Chance”<br>
HM — Rich Glickstein, The State (Columbia, SC) “Clobber”</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Mike Fender, Indianapolis Star “Ripped Coach”<br>
Second Place — Chris Lee, St. Louis Post—Dispatch “Keg Stand”<br>
Third Place — Dante Smith, Coshocton (OH) Tribune “Dawg Pound”<br>
HM — Mike Fender, Indianapolis Star “Backyard Bruisers”<br>
HM — John Simmons, The Charlotte Observer “Spawning Time”</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place — Genevieve Ross, Virginian—Pilot<br>
Second Place — Damon Winter, Dallas Morning News “Sarah Islam”<br>
Third Place — Romain Blanquart, Naples Daily News “Mother’s Day”<br>
HM — Stephen M. Katz, Bangor Daily News “Cycle”<br>
HM — Annie O’Neill, Pittsburgh Post—Gazette “Eskimo”<br>
HM — Matt Detrich, Indianapolis Star “So Long Ski”</p>
<p><strong>PICTORIAL</strong><br>
First Place — Damon Winter, Dallas Morning News “Great Egrets”<br>
Second Place — Al Schaben, Los Angeles Times “Surfer’s delight”<br>
Third Place — Martin Leber, Freelance, Germany<br>
HM — Ron Wurzer, Seattle Times “Synchronization”<br>
HM — Franka Bruns, Pittsburgh Post—Gazette “Key Note Player”</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Jim Hudelson, Shreveport Times “Okra”<br>
Second Place — Laura Mueller, The Charlotte Observer “Sunday Hats”<br>
Third Place — Jeff Widener, Honolulu Advertiser “Siam Silhouettes”<br>
HM — Francisco Kjolseth, The Charlotte Observer “Art of Packing”</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Carol Cleere, Tampa Tribune “Warehousing the Elderly”<br>
Second Place — Carol Cleere, Tampa Tribune “The Blues”<br>
Third Place — Carol Cleere, Tampa Tribune “Freaky Florida”<br>
HM — Francisco Kjolseth, The Charlotte Observer “Homey Office”<br>
HM — Stuart Tannehill, Florida Times—Union “Foster Care Murder”</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — Franka Bruns, Pittsburgh Post—Gazette “Living for Family”<br>
Second Place — Thomas Boyd, The Eugene Register—Guard “American Nights: Exhibition, Escapism, Indulgence”<br>
Third Place — Mona Reeder, Dallas Morning News “Kindness Never Gets Old”<br>
HM — James Borchuck, The St. Petersburg Times “In All His Glory”<br>
HM — Carlton Ward, University of Florida “The Barbaritos”</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Brian Walski, Los Angeles Times “Another Summer of Hatred ”<br>
Second Place — Mike Simons, Freelance “Riots”<br>
Third Place — Andrew Cutraro, St Louis Post—Dispatch “Al—Aqsa”<br>
HM — Sam Dean, The Roanoke Times “VMI Women’s Final Days”<br>
HM — Mike Stocker, Ft. Lauderdale Sun—Sentinel “Big Brother”</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Jeff Siner, The Charlotte Observer “Saturday Night Dirt”<br>
Second Place — Chris Lee, St. Louis Post—Dispatch “In the Minors”<br>
Third Place — Mike Stocker, Ft. Lauderdale Sun—Sentinel “Boxing Doctor”<br>
HM — Damon Winter, Dallas Morning News “Angola Prison Rodeo”<br>
HM — Hyosub Shin, Ohio University “Skatopia”</p>
<p><strong>NEW WAR — SINGLE</strong><br>
First Place — Carmen Taylor, Associated Press “The Last Second”<br>
Second Place — Gulnara Samoilova, Associated Press “Twin Towers Survivors”<br>
Third Place — Richard Drew, Associated Press, “Trade Center Tragedy”<br>
HM — Seth Harrison, The Journal News “South Tower Collapses”<br>
HM — Gulnara Samoilova, Associated Press “South Tower Collapses”<br>
HM — Ernesto Mora, Associated Press “Anguished Onlookers”<br>
HM — Danny Wilcox Frazier, Iowa City Press—Citizen “Shock in the Heartland”</p>
<p><strong>NEW WAR — STORY</strong><br>
First Place — Aristide Economopoulos, The Star—Ledger “September 11th”<br>
Second Place — Jerome Delay, Associated Press “Out of Afghanistan”<br>
Third Place — Gulnara Samoilova, Associated Press, “Terror at the Twin Towers”<br>
HM — Irfan Khan, Los Angeles Times “Pakistan Between A Rock And A Hard Place”</p>
<p style="text-align: center;"><a href="/contest/winners/zero/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/two/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;<a href="/contest/winners/two/"></a><a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
