---
title: 2021 Best Portfolio
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Emilio Morenatti / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-32d085', yaml_data: 'source/2021/best-portfolio/slideshow-first-place-32d085.yml' } %>