---
title: 2003 Winners
navigation: Contest
---

<h1>2003 Winners</h1>

<p style="text-align: center;"><a href="/contest/winners/two/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/four/">NEXT YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 2003 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Stacia Spragg, Albuquerque Tribune</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Jahi Chikwendiu, Washington Post<br>
Second Place — Jamie Francis, St. Petersburg Times<br>
Third Place — Michael Robinson—Chavez, Washington Post<br>
HM — Cheryl Diaz Meyer, Dallas Morning News</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Libby Volgyes, University of Missouri<br>
Second Place — Rebecca Koenig, University of Missouri<br>
Third Place — Coke Whitworth, University of North Carolina<br>
HM — James Branaman, Western Kentucky University<br>
HM — David Zentz, University of Florida</p>
<p><strong>STAFF OF THE YEAR (TIE)</strong><br>
Memphis Commercial Appeal<br>
The Washington Post</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Sean Hiller, Daily Breeze "Dangler"<br>
Second Place — Enric Marti, The Associated Press "Bus Bomb Jerusalem"<br>
Third Place — Manny Crisostomo, Sacramento Bee "Protest Gone Ugly"<br>
HM — Kuni Takahashi, Boston Herald "Father's Grief"<br>
HM — Lee Depkin, Freelance / The Rockdale (GA) Citizen "Showdown"</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Christopher Schneider, Rocky Mountain News "Funeral Procession"<br>
Second Place — Justin Merriman, Valley News Dispatch "Shot Dead"<br>
Third Place — Jahi Chikwendiu, The Washington Post "Insh—Allah"<br>
HM — Cheryl Diaz Meyer, The Dallas Morning News "The Bone's Story"<br>
HM — Manny Crisostomo, Sacramento Bee "911 Memorial"</p>
<p><strong>FEATURE</strong><br>
First Place — Chris Curry, Peoria Journal Star "Laundry Day"<br>
Second Place — J.M. Eddins, The Washington Times "Aerial Dispaly"<br>
Third Place — Mark Dolejs, Durham Herald—Sun "Faces"<br>
HM — Sol Neelman, The Oregonian "Hot Springs"</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Mike Longo, The Associated Press "Sosa Beaned"<br>
Second Place — Chris Faytok, Newark Star—Ledger "Zimmer Goes Down"<br>
Third Place — Barry Reeger, Greensburg (PA) Tribune—Review "Facemask"<br>
HM — Jason Hunt, Coeur d'Alene Press "Eight Seconds"<br>
HM — Jason Hunt, Coeur d'Alene Press "Head's Up"</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Dave Pierini, The Herald, Jasper, IN "Fit for Football"<br>
Second Place — Francis Gardler, Patuxent Publishing Company "Final Game Turf"<br>
Third Place — Jeremy Bales, The Gadsden (AL) Times "Shadow of Youth"<br>
HM — Sara Davis, freelane "Peeper"<br>
HM — Carolyn Kaster, The Associated Press "Good Loser"</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place — Melissa Lyttle, South Florida Sun—Sentinel "Blowin' Smoke"<br>
Second Place — Cheryl Diaz Meyer, Dallas Morning News "Face of a Warrior"<br>
Third Place — Vincent Laforet, The New York Times "Aboard the USS Abraham Lincoln"<br>
HM — Wiqan Ang, Western Kentucky University "Sharing Light"<br>
HM — Barry Gutierrez, Rocky Mountain News</p>
<p><strong>PICTORIAL</strong><br>
First Place — James Weber, Memphis Commercial Appeal "Fall Flurries"<br>
Second Place — Jeff Widener, Honolulu Advertiser "Laid Back"<br>
Third Place — Todd Heisler, Rocky Mountain News, "The Talyan"<br>
HM — Josh Ritchie, The Pantagraph "Sunset Convoy"<br>
HM — Libby Volgyes, University of Missouri "Morning Gallup"</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — A.J.Wolfe, Memphis Commercial Appeal "Wedding Dress"<br>
Second Place — Joey Ivansco, Atlanta Journal—Constitution "Prom Fashions"<br>
Third Place — Francisco Kjolseth, Salt Lake Tribune "Smart Appliances"</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — James Weber, Memphis Commercial Appeal "Blind Mice"<br>
Second Place — Carol Cleere, Tampa Tribune "Overmedicating Kids"<br>
Third Place — Jon Fletcher, Florida Times—Union "How Heavy is Too Heavy?"<br>
HM — Francisco Kjolseth, Salt Lake Tribune "Proof Positive"</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — Stacia Spragg, Albuquerque Tribune<br>
Second Place — Jahi Chikwendiu, Washington Post<br>
Third Place — Jahi Chikwendiu, Washington Post<br>
HM — James Prichard, Education Week</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Kuni Takahashi, Boston Herald<br>
Second Place — Chris Zuppa, St. Petersburg Times<br>
Third Place — Gina Ferazzi, Los Angeles Times<br>
HM — Erich Schleger, The Dallas Morning News<br>
HM — Robert Cohen, St. Louis Post Dispatach</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Mark Weber, Birmingham Post—Herald<br>
Second Place — Chris Zuppa, St. Petersburg Times<br>
Third Place — Patrick Schneider, Charlotte Observer<br>
HM — Chris Zuppa, St. Petersburg Times<br>
HM — Natalie Behring—Chisholm, freelance</p>
<p><strong>WAR ON TERROR</strong><br>
First Place — Kuni Takahashi, Boston Herald<br>
Second Place — Jack Gruber, USA Today<br>
Third Place — Michael Robinson—Chavez, Washington Post<br>
HM — Chuck Liddy, Raleigh News & Observer<br>
HM — Andrea Woodall, Washington Post</p>
<p><strong>WAR ON TERROR STORY</strong><br>
First Place — Jack Gruber, USA Today<br>
Second Place — Kuni Takahashi, Boston Herald<br>
Third Place — Michael Robinson—Chavez, Washington Post<br>
HM — Cheryl Diaz Meyer, Dallas Morning News<br>
HM — Michael Robinson—Chavez, Washington Post</p>
<p style="text-align: center;"><a href="/contest/winners/two/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/four/">NEXT YEAR</a>     |     <a href="/contest/winners/four/"></a><a href="/contest/winners/">YEAR-BY-YEAR</a></p>

