---
title: 2013 Best Student Portfolio
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h4>Winner: Coty Giannelli / The Daily Kent Stater</h4>

<%= partial 'layouts/slideshow', locals: { id: 'carousel', yaml_data: 'source/contest/winners/2013/best-student-portfolio/slideshow.yml', keybindings: true } %>