---
title: 1996 Winners
navigation: Contest
---

<h1>1996 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 1996 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1996 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
John Beale, Pittsburgh Post—Gazette</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Wally Skalij, The Daily Breeze (Torrance, Calif.)<br>
Second Place — Thomas Michael Alleman, The Daily Breeze (Torrance, Calif.)<br>
Third Place — Steve Shelton, The Augusta Chronicle</p>
<p><strong>STUDENT PORTFOLIO</strong><br>
First Place — Stephanie Sinclair, University of Florida<br>
Second Place — Alan Spearman, University of Georgia<br>
Third Place — Barry Gutierrez, Western Kentucky University</p>
<p><strong>GEORGIA PHOTOGRAPHER of the YEAR</strong><br>
Steve Shelton, The Augusta Chronicle</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Chuck Fadely, The Miami Herald<br>
Second Place — Sherman Zent, The Palm Beach Post<br>
Third Place — Kirk D. McKoy, Los Angeles Times<br>
HM — Brian Baer, St. Petersburg Times<br>
HM — Todd Sumlin, Wilmington Star-News</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — John Beale, Pittsburgh Post-Gazette<br>
Second Place — A. Enrique Valentin, El Nuevo Herald<br>
Third Place — Brian Walski, Boston Herald<br>
HM — Andrew Rogers, University of Texas at Austin<br>
HM — Eric Seals, The State, Columbia, SC</p>
<p><strong>FEATURE</strong><br>
First Place — Steven G. Smith, The Commercial Appeal<br>
Second Place — David H. Schreiber, The Outlook (Santa Monica, Calif.)<br>
Third Place — Victoria Buckner, The Arizona Republic<br>
HM — Vicki Cronis, Virginian-Pilot<br>
HM — Tyler Hicks, Wilmington Star-News</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Chuck Fadely, The Miami Herald<br>
Second Place — Gary Bogdon, The Orlando Sentinel<br>
Third Place — Patrick Witty, Freelance<br>
HM — Michael Holahan, Augusta Chronicle<br>
HM — Jim Virga, Sun-Sentinel</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Aris Economopoulos, Freelance<br>
Second Place — Patrick Witty, Freelance<br>
Third Place — Christopher A. Record, The Charlotte Observer<br>
HM — Steven G. Smith, The Commercial Appeal<br>
HM — Rick Wilson, Florida Times-Union<br>
HM — Swayne B. Hall, Fayetteville Observer-Times</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place — Leah Hogsten, Freelance<br>
Second Place — Bob Self, The Florida Times-Union<br>
Third Place — Nicole DeVito, The Topeka Capital-Journal<br>
HM — Susan G. Stocker, Sun-Sentinel</p>
<p><strong>PICTORIAL</strong><br>
First Place — Kathleen Cabble, St. Petersburg Times<br>
Second Place — Liu Xin, The Palm Beach Post<br>
HM — Matt Harnett, Affiliation unknown</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Sherman Zent, The Palm Beach Post<br>
Second Place — Benjamin Rusnak, Ft. Myers News-Press<br>
Third Place — Steven G. Smith, The Commercial Appeal<br>
HM — Nicole DeVito, The Topeka Capital-Journal<br>
HM — Jamie Francis, The State Columbia, SC</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Bonnie Heath, Athens Daily News<br>
Second Place — Bonnie Heath, Athens Daily News</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — Benjamin Rusnak, Ft. Myers News-Press<br>
Second Place — Alan Spearman, University of Georgia<br>
Third Place — Chad Stevens, Western Kentucky University<br>
HM — David H. Schreiber, The Outlook (Santa Monica, Calif.)</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Tyler Hicks, Wilmington Star News<br>
Second Place — Rick Loomis, Los Angels Times<br>
Third Place — Roger W. Winstead, The News and Observer<br>
HM — Erich Schlegel, Dallas Morning News</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Erich Schlegel, Dallas Morning News<br>
Second Place — David Eulitt, The Topeka Capital-Journal<br>
Third Place — Rick Wilson, Florida Times-Union<br>
HM — Kirk D. McKoy, Los Angeles Times</p>
<p><strong>CAMPAIGN '96</strong><br>
First Place — Nuri Vallbona, Miami Herald<br>
Second Place — Robert T. Willett, The News & Observer<br>
Third Place — Joe Burbank, The Orlando Sentinel<br>
HM — Brian Walski, Boston Herald<br>
HM — Michael Chow, The Arizona Republic</p>
<p><strong>ATLANTA OLYMPIC GAMES</strong><br>
First Place — Gary Bogdon, The Orlando Sentinel<br>
Second Place — Bob Rives, Augusta Chronicle<br>
Third Place — David Tulis, Atlanta Constitution<br>
HM — Gary Bogdon, The Orlando Sentinel</p>

<%= partial 'layouts/contest_navigation', locals: { year: 1996 } %>