---
title: 1989 Winners
navigation: Contest
---

<h1>1989 Winners</h1>

<p>The following are the winners from the 1989 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/eighty-eight/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/ninety/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 1989 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Michael Ging, The Arizona Republic</p>
<p><strong>BEST PORTFOLIO</strong><br>
First – Greg Foster, Freelance<br>
Second – Scott Wiseman, The Palm Beach Post<br>
Third – Charles Bertram, The Lexington Herald-Leader<br>
HM – Judy Lutz Spencer, Pittsburgh Post Gazette<br>
HM – Michael Ging, The Arizona Republic</p>
<p><strong>BEST STUDENT PORTFOLIO</strong><br>
First – Larry Powell, Western Kentucky University<br>
Second – Chienchi Chang, Indiana University<br>
HM – Lynn Saunders, Western Kentucky University<br>
HM – Joseph A. Garcia, Western Kentucky University<br>
HM – Butch Ireland, University of Nebraska – Lincoln</p>
<p><strong>GEORGIA PHOTOGRAPHER of the YEAR</strong><br>
First – Greg Foster, Freelance<br>
HM – W.A. Bridges Jr., The Atlanta Journal-Constitution<br>
HM – Joey Ivansco, The Atlanta Journal-Constitution<br>
HM – Michael Schwarz, The Atlanta Journal-Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First – Nick Arroyo, The Atlanta Journal-Constitution<br>
Second – Raul de Molina, Shooting Star Photo Agency<br>
Third – Nancy Andrews, The Free Lance-Star<br>
HM – Greg Lovett, The Palm Beach Post<br>
HM – Lisa Waddell, The Memphis Commercial Appeal</p>
<p><strong>GENERAL NEWS</strong><br>
First – Raul de Molina, Shooting Star Photo Agency<br>
Second – Michael Ging, The Arizona Republic<br>
Third – Sean Dougherty, Ft. Lauderdale News/Sun-Sentinel<br>
HM – Raul de Molina, Shooting Star Photo Agency<br>
HM – Joel Stahl, Freelance</p>
<p><strong>SPORTS ACTION</strong><br>
First – Raul de Molina, Shooting Star Photo Agency<br>
Second – Joe Burbank, The Orlando Sentinel<br>
Third – Paula Nelson, The Dallas Morning News<br>
HM – Jerry L. Wolford, Greensboro News &amp; Record<br>
HM – Michael Ging, The Arizona Republic</p>
<p><strong>SPORTS FEATURE</strong><br>
First – Michael Ging, The Arizona Republic<br>
Second – Jack Rowland, St. Petersburg Times<br>
Third – Patrick Farrell, The Miami Herald<br>
HM – Robert York, Palm Beach Daily News<br>
HM – Joseph A. Garcia, Western Kentucky University</p>
<p><strong>FEATURE</strong><br>
First – Melanie Bell, Broward Review<br>
Second – Allan Detrich, The Toledo Blade<br>
Third – Melanie Bell, Broward Review<br>
HM – Rick McCawley, The Miami Herald<br>
HM – Scott Wiseman, The Palm Beach Post</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – Jeanie Adams, Western Kentucky University<br>
Second – Greg Foster, Freelance<br>
Third – Bruce Gilbert, New York Newsday<br>
HM – Karen Pulfer, The Commercial Appeal<br>
HM – Tom Burton, The Orlando Sentinel</p>
<p><strong>PICTORIAL</strong><br>
First – Pat McDonough, The Courier-Journal<br>
Second – Jim Hudelson, Indiana University<br>
Third – Steve Smart, Western Kentucky University<br>
HM – Nancy Andrews, The Freelance-Star<br>
HM – Johnny Crawford, The Atlanta Journal-Constitution</p>
<p><strong>EDITORIAL ILLUSTRATION</strong><br>
First – Gary S. Chapman, The Louisville Courier-Journal<br>
Second – Joey Ivansco, The Atlanta Journal-Constitution<br>
Third – Gary S. Chapman, The Louisville Courier-Journal<br>
HM – Michael McMullan, The Commercial Appeal<br>
HM – William Berry, The Atlanta Journal-Constitution</p>
<p><strong>FASHION</strong><br>
First – Chris Usher, The Orlando Sentinel<br>
Second – Andy Sharp, The Atlanta Journal-Constitution<br>
Third – Joey Ivansco, The Atlanta Journal-Constitution</p>
<p><strong>FOOD</strong><br>
First – Joey Ivansco, The Atlanta Journal-Constitution<br>
Second – Louie Favorite, The Atlanta Journal-Constitution<br>
Third – Robert Cohen, The Memphis Commercial Appeal<br>
HM – Joey Ivansco, The Atlanta Journal-Constitution</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First – Jim Hudelson, Indiana University<br>
Second – Karim Shamsi-Basha, The Knoxville Journal<br>
Third – John Kringas, Northern Illinois University<br>
HM – Rick Musacchio, The Tennessean<br>
HM – Peter Ackerman, Asbury Park Press</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – Patrick Farrell, The Miami Herald<br>
Second – Antonio Olmos, The Miami Herald<br>
Third – Ted Jackson, The Times Picayune<br>
HM – Morris Goen, San Antonio Express News<br>
HM – Peter Ackerman, Asbury Park Press<br>
HM – Judy Walgren, The Dallas Morning News<br>
HM – Andrew Innerarity, The Miami Herald</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – David Tulis, UPI Atlanta<br>
Second – Judy Lutz Spencer, Pittsburgh Post Gazette<br>
Third – John Keating, Newsday<br>
HM – Pat McDonough, The Courier-Journal<br>
HM – William Snyder, The Dallas Morning News</p>
<p style="text-align: center;">
<a href="/contest/winners/eighty-eight/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/ninety/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
