---
title: 2020 Best in Show
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Ben Hendren</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-dc8bd6', yaml_data: 'source/2020/best-in-show/slideshow.yml' } %>