---
title: 1984 Winners
navigation: Contest
---

<h1>1984 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 1984 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1984 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Cheryl Bray, Atlanta Journal-Constitution</p>
<p><strong>BEST PORTFOLIO</strong><br>
Jim Gensheimer, The San Jose Mercury News</p>
<p><strong>BEST OVERALL STAFF PERFORMANCE</strong><br>
The Atlanta Journal and Constitution</p>
<p><strong>BEST STUDENT PORTFOLIO</strong><br>
Lois Bernstein – Ohio University</p>
<p><strong>GEORGIA PRESS PHOTOGRAPHER of the YEAR</strong><br>
Cheryl Bray, Atlanta Journal and Constitution<br>
HM – William Berry, Macon Telegraph and News<br>
HM – Joey Ivansco, Atlanta Journal-Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First – Andy Nelson, Kansas City Star intern<br>
Second – Greg Lovett, Western Kentucky University<br>
Third – Gus Gustovich, Shreveport (LA) Journal<br>
HM – Jan Housewerth, Kansas City Star</p>
<p><strong>GENERAL NEWS</strong><br>
First – Carol Guzy, Miami Herald<br>
Second – Dave Findley, Nashville Banner<br>
Third – Charles Bertram, Lexington Herald-Leader<br>
HM – David Walters, Miami Herald<br>
HM – W.A. Bridges Jr., Atlanta Journal-Constitution</p>
<p><strong>SPORTS ACTION</strong><br>
First – Jan Housewerth, Kansas City Star<br>
Second – Anne Ryan, Freelance<br>
Third – Louie Favorite, St. Petersburg Times<br>
HM – Pam Smith O'Hara, Miami Herald<br>
HM – John Rottet, News and Observer, Raleigh, NC</p>
<p><strong>SPORTS FEATURE</strong><br>
First – Steven R. Nickerson, Lexington Herald-Leader<br>
Second – Mary Lou Foy, Miami Herald<br>
Third – Mark Edelson, The Sun-Tattler, Hollywood, FL<br>
HM – John Rottet, News and Observer, Raleigh, NC<br>
HM – Mark Edelson, The Sun-Tattler, Hollywood, FL</p>
<p><strong>FEATURE</strong><br>
First – John Moran, Gainesville Sun<br>
Second – Jeff Shaw, Dallas Times Herald<br>
Third – Ginger Pinson, Columbia Record<br>
HM – Stephen Crowley, Miami Herald<br>
HM – Tom Ervin, West Palm Beach Post</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – Shan Gordon, Palm Beach Post<br>
Second – Garth Francis, Ft. Myers News-Press<br>
Third – Mark Lyons, Western Kentucky University<br>
HM – Carol T. Powers, Miami Herald<br>
HM – Carol Guzy, Miami Herald</p>
<p><strong>PICTORIAL</strong><br>
First – Mark Edelson, The Sun-Tattler, Hollywood, FL<br>
Second – Rick McKay, Cox Newspapers, Washington<br>
Third – John Keating, Dallas Times Herald<br>
HM – Tom Ervin, West Palm Beach Post<br>
HM – William Berry, Macon Telegraph and News</p>
<p><strong>ILLUSTRATION</strong><br>
First – Rich Mahan, Ft. Lauderdale News/Sun-Sentinel<br>
Second – Marice Cohn, Miami Herald<br>
Third – William Berry, Macon Telegraph and News</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First – Lois Bernstein, Ohio University<br>
Second – Ben Van Hook, Courier Journal and Louisville Times<br>
Third – Bill Frakes, Miami Herald</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – Lois Bernstein, Ohio University<br>
Second – Jim Gensheimer, San Jose Mercury News<br>
Third – Alan Warren, Western Kentucky University<br>
HM – Michael S. Wirtz, Dallas Times Herald</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – Cheryl Bray, Atlanta Journal-Constitution<br>
Second – Lois Bernstein, Ohio University<br>
Third – Ann States, Freelance<br>
HM – Bill Luster, Courier Journal and Louisville Times</p>
<p><strong>CAMPAIGN '84</strong><br>
First – Dan Sheehan, Florida Times Union<br>
Second – Jan Housewerth, Kansas City Star</p>

<%= partial 'layouts/contest_navigation', locals: { year: 1984 } %>

