---
title: 2015 Sports Picture Story
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Andres Kudacki / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-7a3eb1', yaml_data: 'source/2015/sports-picture-story/slideshow-first-place-7a3eb1.yml' } %>

<h3>Second Place: Patrick Smith / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2cecdb', yaml_data: 'source/2015/sports-picture-story/slideshow-second-place-2cecdb.yml' } %>

<h3>Honorable Mention: Susana Vera / REUTERS</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-dd2433', yaml_data: 'source/2015/sports-picture-story/slideshow-honorable-mention-dd2433.yml' } %>