---
title: 2012 Sports Picture Story
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Patrick Smith / Freelance</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-1', yaml_data: 'source/contest/winners/2012/sports-picture-story/slideshow-first-place.yml' } %>

<h3>Second Place: Liu Tao / Zuma Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2', yaml_data: 'source/contest/winners/2012/sports-picture-story/slideshow-second-place.yml' } %>

<h3>Honorable Mention: Logan Mock-Bunting / Freelance</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3', yaml_data: 'source/contest/winners/2012/sports-picture-story/slideshow-honorable-mention.yml' } %>

