---
title: 2015 Best Portfolio
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>



<h3>First Place: Chip Somodevilla / Getty Images News</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-ac1c63', yaml_data: 'source/contest/winners/2015/best-portfolio/slideshow-first-place-ac1c63.yml' } %>