---
title: 2005 Winners
navigation: Contest
---

<h1>2005 Winners</h1>

<p>The following are the winners from the 2005 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/four/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/six/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 2005 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Todd Heisler, Rocky Mountain News, “Honor After the Fall”</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Robert Cohen, St. Louis Dispatch<br>
Second Place — Mario Tama, Getty Images<br>
Third Place — Chris Hondros, Getty Images<br>
HM — John Pendygraft, St. Petersburg Times<br>
HM — Joe Raedle, Getty Images</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Justin Cook, University of North Carolina<br>
Second Place — Melanie Blanding, Western Kentucky University<br>
Third Place — Raymond McCrea Jones, University of North Carolina<br>
HM — Casey Templeton, Casey Templeton, James Madison University<br>
HM — Nathan Clendenin, University of North Carolina</p>
<p><strong>STAFF OF THE YEAR</strong><br>
Rocky Mountain News</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Chris Hondros, Getty Images, “Horror And Grief”<br>
Second Place — Sol Neelman, The Oregonian, “Fatality”<br>
Third Place — Nabil al Jurani, Associated Press, “British Forces”<br>
HM — Justin Cook, University of North Carolina , “Gunpoint”<br>
HM — Tomas Munita, Associated Press, “Afghanistan Fire”</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Todd Heisler, Rocky Mountain News, “Honor After The Fall” (Tarmac)<br>
Second Place — Todd Heisler, Rocky Mountain News, “Salute”<br>
Third Place — Joe Burbank, Orlando Sentinel, “Verdict Vindication”<br>
HM — Renee Byer, Sacramento Bee, “Final Moments”<br>
HM — Chris Zuppa, St. Petersburg Times, “Saying Good—bye”<br>
HM— Todd Heisler, Rocky Mountain News, “Honor After The Fall” (Casket)</p>
<p><strong>FEATURE</strong><br>
First Place — Chris Zuppa, St. Petersburg Times, “Magical Summer”<br>
Second Place — Todd Heisler, Rocky Mountain News, “Honor After The Fall” (Sleep)<br>
Third Place — Craig Litten, Daytona Beach News—Journal, “Speed Bumps”<br>
HM — Garrett Hobbard, Naples Daily News, “Junior Scuba”<br>
HM — Joe Burbank, Orlando Sentinel, “Chilly Reception”</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Chris Detrick, The Salt Lake Tribune, “Ashley Khederian ”<br>
Second Place — Susan Tiller, Daytona Beach News—Journal, “Pit Crash”<br>
Third Place — Chris Detrick, The Salt Lake Tribune, “Greyhound Racing”<br>
HM — Hamid Alqasmi, Associated Press, “Camel Races”<br>
HM — Michael Sohn, Associated Press, “Wakeboard”</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Chris McGrath, Getty Images, ” Ice Magic”<br>
Second Place — Andrew Craft, Fayetteville Observer, “Practice Jump”<br>
Third Place — Lisa Frantz, San Antonio Express News, “Bucked”<br>
HM — Adam Pretty, Getty Images, “Victory”<br>
HM — Chris Detrick, The Salt Lake Tribune, “Rainbow”</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place — Chip Somodevilla, The Freelance Star, “Scovia”<br>
Second Place — Dana Romanoff, The Freelance Star, “Selassie”<br>
Third Place — Brian Cassella, St. Petersburg Times, “Railroad”<br>
HM — Erik Lunsford, The Palm Beach Post, “The Spirit of Mind”<br>
HM — Armando Solares, Sarasota Herald Tribune, “1 cool back”</p>
<p><strong>PICTORIAL</strong><br>
First Place — Andrew Otto, The Herald, “Aurora”<br>
Second Place — Erik Lunsford, The Palm Beach Post, “Up and Over”<br>
Third Place — Win McNamee, Getty Images. Taking Flight”<br>
HM — David McNew, Getty Images, “Disney Concert Hall”<br>
HM — J.B. Forbes, St. Louis Post—Dispatch, “Silent Night”</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Kevin German, The Sacramento Bee, TBD<br>
Second Place — Carol Cleere, The Tampa Tribune, “Corpse Bride”<br>
Third Place — Scott Keeler, St. Petersburg Times, “Mombars”<br>
HM — Rick Wilson, The Florida Times Union, “Summer Songs”</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Sean Stripp, Tribune—Review, “Fortunate Son”<br>
Second Place — Ellen Jaskol, Rocky Mountain News, “Double Weight”<br>
Third Place — Carol Cleere, The Tampa Tribune, “Face Value”<br>
HM — Will Lester, Inland Valley Daily Tribune, “Driven to Distraction”<br>
HM — Carol Cleere, The Tampa Tribune, “Residents &amp; Rest”</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — Todd Heisler, Rocky Mountain News, “Honor After The Fall”<br>
Second Place — Rodrigo Abd, Associated Press, “Guatemala Gangs”<br>
Third Place — Ronald Erdrich, Abilene Reporter—News, “Till Death Do Us Part”<br>
HM — Rodney A. Lamkey Jr., The Washington Times, “Rural America Under the Influence.”<br>
HM — Nicole Fruge, San Antonio News—Express, “Love Among The Lost”<br>
HM — Jay Janner, Austin American—Statesman, “First Day of Kindergarten”</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — David Guttenfelder, Associated Press, “South Asia Earthquake”<br>
Second Place — Spencer Platt, Getty Images, TBD<br>
Third Place — Anja Neidringhaus, Associated Press, “Taking Fallujah”<br>
HM — John Pendygraft, St. Petersburg Times, “Tsunami”<br>
HM — Michael Robinson—Chavez, Washington Post, “Leaving Gaza”</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Robert Cohen, St. Louis Post Dispatch, “One Last Look”<br>
Second Place — Chris Detrick, The Salt Lake Tribune, “A Trainer’s Tale”<br>
Third Place — Adam Pretty, Getty Images, “Tombstones”<br>
HM — Mary F. Calvert, The Washington Times, “Black Widow”</p>
<p><strong>HURRICANE KATRINA—SINGLE</strong><br>
First Place — Mario Tama, Getty Images, “New Orleans Under Water and On Fire”<br>
Second Place — John Pendygraft, St. Petersburg Times, “Katrina Desperation”<br>
Third Place — Matt Rourke, Austin American—Statesman, “Dixon”<br>
HM — Mark Wilson, Getty Images, “Depths of Despair”<br>
HM — Lannis Waters, The Palm Beach Post, “Safe Hug”</p>
<p><strong>HURRICANE KATRINA—PICTURE STORY</strong><br>
First Place — Mark Wilson, Getty Images, “Katrina’s Wrath”<br>
Second Place — John Pendygraft, St. Petersburg Times, “Katrina”<br>
Third Place — Douglas R. Clifford, St. Petersburg Times, “Landfall”<br>
HM — Steven B. Thornton, Arkansas Democrat—Gazette, “Katrina Pains”<br>
HM — Lisa Krantz, San Antonio News—Express, “Katrina Aftermath”<br>
HM — Mario Tama, Getty Images, “After the Levees Broke”</p>
<p><strong>NIKON SHOOTOUT</strong><br>
First Place &nbsp;— Dan Beauvais<br>
Second Place — Lisa Hudson<br>
Third Place — Hannah Reichel</p>
<p style="text-align: center;"><a href="/contest/winners/four/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/six/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
