---
title: 2017 Rich Mahan Best Student Portfolio
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>Gabriel Scarlett</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-5cc8dc', yaml_data: 'source/2017/rich-mahan-best-student-portfolio/slideshow-first-place-5cc8dc.yml' } %>