---
title: Code of Conduct
navigation: About
---

<h3>Atlanta Photojournalism Seminar Statement on Sexual Harassment</h3>

<p>The <strong>Atlanta Photojournalism Seminar</strong> is an environment where sexual harassment of any kind – verbal or physical – will not be tolerated. We expect all attendees to conduct themselves in a professional manner, which is respectful toward diversity, orientation, gender and age. This includes participants, guest speakers and staff during the duration of the workshop and its functions.</p>

<p>The seminar promotes the highest standards of photojournalism where ideas, coaching and learning is available for everyone. Portfolio reviews and contest judging are conducted by working photographers and editors who are looked upon to set the bar for excellence in the profession.</p>

<p><strong>We recognize that speaking truth to power without threat is not simple, nor is it easy.</strong></p>

<p>Conduct unbecoming of a professional will not be tolerated and will be addressed by the following system:</p>

<p>If anyone is a victim of such behavior, or is a direct witness to such behavior, please report it to Board Member Bita Honarvar in person or through <a href='mailto:bita@photojournalism.org'>bita@photojournalism.org</a>. This is a confidential complaint and incident reporting system. From there, we will take
action to make sure individuals feel safe and that the issues have been addressed.</p>

<p>Like other professions, the photojournalism community is beginning to recognize the need to address the problem of sexual harassment in the workplace and at work-related functions.</p>

<p>The Atlanta Photojournalism Seminar strives to be that role model where bad behavior is not tolerated and we believe we share in the responsibility to reset the bar through example and action.</p>

<p><em>The Atlanta Photojournalism Seminar would like to thank Sue Morrow, Katie Klann and Melissa Golden for their help in preparing this statement.</em></p>