---
title: Dates and Location
navigation: About
comments: off
---

<p>The <strong>2019 Atlanta Photojournalism Seminar</strong> will be held November 8-9, 2019 at the DoubleTree by Hilton Atlanta Perimeter Dunwoody, 4386 Chamblee Dunwoody Rd, Atlanta, GA 30341.</p>

<p>Please use this link to receive the Seminar discounted, breakfast included, room rate. The deadline to use this link is October 21, 2019. Rooms are limited. <a href='http://group.doubletree.com/AtlantaPhotojournalismSeminar' target='_blank'>http://group.doubletree.com/AtlantaPhotojournalismSeminar</a></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.842522427779!2d-84.31900108478845!3d33.91945238064217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5097727ff9057%3A0x83bcd958a540e74b!2s4386+Chamblee+Dunwoody+Rd%2C+Atlanta%2C+GA+30341!5e0!3m2!1sen!2sus!4v1565956693528!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen class="hotel-map"></iframe>