---
title: Dates and Location
navigation: About
comments: off
---

<p>The <strong>2016 Atlanta Photojournalism Seminar</strong> will be held November 11-12, 2016 at the <a href="http://www.hilton.com/en/hi/groups/personalized/A/ATLHPHF-PHOTO1-20161110/index.jhtml?WT.mc_id=POG" target="_blank">Hilton Atlanta Northeast</a>, located at 5993 Peachtree Industrial Blvd, Peachtree Corners, GA 30092. A short drive from downtown Atlanta, the area offers a host of reasonably priced dining options.</p>

<p>The hotel's group rate for the seminar is $84 per night. Individuals must register by booking online by Thursday, November 3, 2016 and identify themselves as being with the Atlanta Photojournalism Seminar. Attendees may not be able to receive the special rate after that date, and are subject to availability of rooms. <a href="http://www.hilton.com/en/hi/groups/personalized/A/ATLHPHF-PHOTO1-20161110/index.jhtml?WT.mc_id=POG" target="_blank">Click here</a> for more information and to book your room online.</p>

<a href="http://www.hilton.com/en/hi/groups/personalized/A/ATLHPHF-PHOTO1-20161110/index.jhtml?WT.mc_id=POG" target="_blank"><img src="/images/hilton_atlanta_northeast.jpg" alt="Hilton Atlanta Northeast"></a><br>

<p>The following shows a map of the area along with nearby places to eat, shop, and bank.</p>

<img src="/images/2016/map.png" alt="2015 Atlanta Photojournalism Seminar Map" />

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3309.557480985344!2d-84.22934699999995!3d33.952507999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5a0e06c2583cb%3A0xe5133457e89b17ff!2sHilton+Atlanta+Northeast!5e0!3m2!1sen!2sus!4v1426160239723" class="hotel-map" frameborder="0" style="border:0"></iframe>