---
title: Dates and Location
navigation: About
comments: off
---

<p>The <strong>2019 Atlanta Photojournalism Seminar</strong> will be held November 8-9, 2019 at the DoubleTree by Hilton Atlanta Perimeter Dunwoody, 4386 Chamblee Dunwoody Rd, Atlanta, GA 30341.</p>