---
title: Dates and Location
navigation: About
comments: off
---

<p>The <strong>2018 Atlanta Photojournalism Seminar</strong> will be held November 9-10, 2018 at the <a href="http://www.hilton.com/en/hi/groups/personalized/A/ATLHPHF-PHOTO1-20181108/index.jhtml?WT.mc_id=POG" target="_blank">Hilton Atlanta Northeast</a>, located at <a href="https://www.google.com/maps/dir/''/5993+Peachtree+Industrial+Blvd,+Norcross,+GA+30092/" target="_blank">5993 Peachtree Industrial Blvd, Peachtree Corners, GA 30092</a>. A short drive from downtown Atlanta, the area offers a host of reasonably priced dining options.</p>

<p>Use the link below to get the special Seminar discounted room rate of $94 plus fees and taxes, which includes breakfast and Wi-Fi.</p>

<a href="http://www.hilton.com/en/hi/groups/personalized/A/ATLHPHF-PHOTO1-20181108/index.jhtml?WT.mc_id=POG" target="_blank">http://www.hilton.com/en/hi/groups/personalized/A/ATLHPHF-PHOTO1-20181108/index.jhtml?WT.mc_id=POG</a>

<p>Coming from the Atlanta Airport? Take MARTA from the Airport to the Doraville Station and call the hotel at 770-447-4747. The hotel shuttle bus will pick you up at no cost. Pro tip: Be sure to get on the North-East Gold Line train that stops at the Doraville Station and call a stop or two before you arrive at the Doraville station.</p>

<a href="http://www.hilton.com/en/hi/groups/personalized/A/ATLHPHF-PHOTO1-20181108/index.jhtml?WT.mc_id=POG" target="_blank"><img src="/images/hilton_atlanta_northeast.jpg" alt="Hilton Atlanta Northeast"></a><br>

<p>The following shows a map of the area along with nearby places to eat, shop, and bank.</p>

<img src="/images/2016/map.png" alt="2017 Atlanta Photojournalism Seminar Map" />

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3309.557480985344!2d-84.22934699999995!3d33.952507999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5a0e06c2583cb%3A0xe5133457e89b17ff!2sHilton+Atlanta+Northeast!5e0!3m2!1sen!2sus!4v1426160239723" class="hotel-map" frameborder="0" style="border:0"></iframe>