---
title: 2014 Rich Mahan Best Student Portfolio
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Carolyn Van Houten</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-f7dd9a', yaml_data: 'source/2014/rich-mahan-best-student-portfolio/slideshow-first-place-f7dd9a.yml', keybindings: true } %>