---
title: 2015 Seminar Hotel and Dates Announced
date: 2015-03-17 18:12 UTC
navigation: News
tags: announcements
---

<p>The Atlanta Photojournalism Seminar's board of directors is pleased to announce the dates and location for the 2015 Seminar. The two-day event will take place Nov. 13-14, 2015, at the <a href="http://bit.ly/1KZEoxA" target="_blank">Hilton Atlanta Northeast</a> and will feature photography and video workshops as well as distinguished speakers from the photojournalism field.</p>

<p>This will be the first year APS, now in its 43<sup>rd</sup> year, will hold the event at the Hilton Atlanta Northeast, a move that brings cheaper rooms for attendees and a host of nearby dining and entertainment options. Rooms for those registering for the Seminar will cost $74, a $20 savings from last year.</p>

<p>"This new location is perfect for us," said APS President Kevin Liles. "There are lots of places nearby that attendees can easily walk or catch a cab to, which was not the case at our previous location."</p>

<p>This year's Seminar also features a new structure for workshops. Video Day (V-Day) will be combined with Friday photo workshops, both being held on Friday, though on separate tracks. Saturday's program of featured speakers will remain unchanged. The shortening of the Seminar from three days to two was made in an effort to keep costs down and to allow more people to make the trip to Atlanta.</p>

<p>"We really wanted to give attendees the most bang for their buck, and we think that this new format will allow attendees to do that," Liles said.</p>

<p>Faculty members for the 2015 Seminar will be announced in the coming months and will be announced here on the Seminar's website and via social media (<a href="https://twitter.com/atlantaseminar" alt="Atlanta Photojournalism Seminar Twitter" target="_blank">@atlantaseminar</a>).</p>

<p>The Atlanta Photojournalism Seminar, America's longest continuously operating photojournalism conference, was founded in 1973 by a group of photojournalists representing newspapers, magazines and wire services. It promotes the highest standards of photojournalism through an annual educational
conference and a photography contest judged by working photographers.</p>

<a href="/documents/aps-2015-dates-and-location-press-release.pdf" alt="Atlanta Photojournalism Seminar 2015 Dates and Location" title="Click here to download this press release as a PDF" class="tooltip-link" data-placement="right">
  <img src="/images/icons/pdf.png" alt="Press Release PDF" width="48">
</a>