---
title: 1994 Winners
navigation: Contest
---

<h1>1994 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 1994 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1994 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Susan Stocker, Sun-Sentinel, Ft. Lauderdale</p>
<p><strong>BEST PORTFOLIO</strong><br>
First place – Michael Lutzky, The Baltimore Sun<br>
Second place – Allan Detrich, The Toledo Blade<br>
Third place – Gary Kanadjian, The Palm Beach Post<br>
HM – Stephen Morton, The Gainesville Sun</p>
<p><strong>STUDENT PORTFOLIO</strong><br>
First place – Laura Kleinhenz, University of North Carolina, Chapel Hill<br>
Second place – Craig Fritz, Western Kentucky University<br>
Third place – Patrick Witty, Western Kentucky University<br>
HM – Adrian Dennis, University of Florida</p>
<p><strong>GEORGIA PORTFOLIO</strong><br>
First Place – Jonathan Newton, The Atlanta Journal-Constitution<br>
HM – Rich Addicks, The Atlanta Journal-Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First place – Joe Stefanchik, Western Kentucky University<br>
Second place – Greg Lovett, The Palm Beach Post<br>
Third place – (tie) Jeffery A. Salter, The Miami Herald<br>
Third place – (tie) Jeffery A. Salter, The Miami Herald<br>
HM – David Tulis, The Atlanta Journal-Constitution<br>
HM – Paul J. Milette, The Palm Beach Post</p>
<p><strong>GENERAL NEWS</strong><br>
First place – Marta Lavandier, Associated Press<br>
Second place – Joe Raedle, Sun-Sentinel, Ft. Lauderdale<br>
Third place – Eric Williams, The Atlanta Journal-Constitution<br>
HM – Jonathan Newton, The Atlanta Journal-Constitution</p>
<p><strong>FEATURES</strong><br>
First place – Jeffery A. Salter, The Miami Herald<br>
Second place – Laura Allen Noel, Freelance<br>
Third place – Craig Fritz, Western Kentucky University</p>
<p><strong>SPORTS ACTION</strong><br>
First place – Jerry W. Hoefer, Ft. Worth Star Telegram<br>
Second place – David Bergman, The Miami Herald<br>
Third place – Jared Lazarus, University of Florida<br>
HM – Craig Fritz, Western Kentucky University<br>
HM – Eliot J. Schechter, Sun Sentinel, Ft. Lauderdale<br>
HM – Stephen Morton, Gainesville Sun</p>
<p><strong>SPORTS FEATURE</strong><br>
First place – Rich Addicks, The Atlanta Journal-Constitution<br>
Second place – Stephen Morton, Gainesville Sun<br>
Third place – David Bergman, The Miami Herald<br>
HM – Lloyd Fox, The Baltimore Sun</p>
<p><strong>PORTRAIT PERSONALITY</strong><br>
First place – Gary Kanadjian, The Palm Beach Post<br>
Second place – John R. Stanmeyer, The Tampa Tribune<br>
Third place – C.W. Griffin, The Miami Herald<br>
HM – Lonnie Timmons III, The Miami Herald<br>
HM – Allan Detrich, The Toledo Blade<br>
HM – Allan Detrich, The Toledo Blade</p>
<p><strong>PICTORIAL</strong><br>
First place – C.W. Griffin, The Miami Herald<br>
Second place – C.W. Griffin, The Miami Herald<br>
Third place – Carol Cleere, The Augusta Chronicle<br>
HM – Craig Fritz, Western Kentucky University<br>
HM – Greg Lovett, The Palm Beach Post</p>
<p><strong>EDITORIAL ILLUSTRATION</strong><br>
First place – Mark Mirko, The Palm Beach Post<br>
(no other awards given in this category)</p>
<p><strong>FASHION</strong><br>
First place – Heather Stone, The Knoxville News Sentinel<br>
Second place – Joey Ivansco, The Atlanta Journal-Constitution<br>
Third place – Blake Madden, The Augusta Chronicle<br>
HM – Lisa Kyle, Ohio University<br>
HM – Karen Pulfer Focht, The Commercial Appeal</p>
<p><strong>FOOD</strong><br>
First place – Linda Stelter, The State, Columbia, S.C.<br>
Second place – Pam Royal, The State, Columbia, S.C.<br>
Third place – Jamie Francis, The State, Columbia, S.C.<br>
HM – Larry McCormack, The Nashville Banner<br>
HM – Kristen A. Cortazzo, The Patriot News</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First place – Allan Detrich, The Toledo Blade<br>
Second place – Randy Greenwill, The Evansville Press<br>
Third place – Brian Baer, St. Petersburg Times<br>
HM – Craig Fritz, Western Kentucky University<br>
HM – Andre F. Chung, Chicago Sun-Times</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First place – Lannis Waters, The Palm Beach Post<br>
Second place – John Stanmeyer, The Tampa Tribune<br>
Third place – (tie) Al Diaz, The Miami Herald<br>
Third place – (tie) Jeffery A. Salter, The Miami Herald</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First place – Susan Stocker, The Sun-Sentinel<br>
Second place – Jonathan Newton, The Atlanta Journal-Constitution<br>
Third place – Robert J. Gurecki, The Daily Times<br>
HM – Jamie Fracis, The State, Columbia, S.C.</p>

<%= partial 'layouts/contest_navigation', locals: { year: 1994 } %>