---
title: 2013 Chris Hondros Memorial International News
navigation: Contest
comments: on
---

<h1>2013 Chris Hondros Memorial International News</h1>

<%= partial 'layouts/return_to_winners' %>

<h4>First Place: Andoni Lubaki / Associated Press</h4>

<%= partial 'layouts/slideshow', locals: { id: 'carousel', yaml_data: 'source/contest/winners/2013/chris-hondros-memorial-international-news/slideshow-first-place.yml' } %>