// require normalize

$navbar-height: 40px;
$navbar-default-brand-color: #FA7500;
$navbar-default-brand-hover-color: #FA7500;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: #333;
$font-size-base: 16px;
$background-color: #efefef;
$navbar-background-color: #ddd;

@import "compass";
@import "bootstrap";

html, body {
  max-width: 100%;
}

body {
  background: $background-color;
  border-top: 3px solid $navbar-default-link-active-color;
}

.form-control, .btn, .timeline {
  border-radius: 0;
}

header {
  background: $background-color;
  border-radius: 0;
  padding: 10px 0;

  .logo {
    font-size: 48px;
    color: $navbar-default-brand-color;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: #EA6500;
      text-decoration: none;
    }
  }

  .logo-caption {
    font-weight: 200;
    position: relative;
    top: -14px;
    right: -138px;
  }

  .header-search {
    float: right;
    padding: 24px 0;
  }
}

.navbar {
  background: $navbar-background-color;
  border-radius: 0;
  box-shadow: none;
  padding: 5px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  a.navbar-brand {
    font-size: 32pt;
    margin-left: 8%;
    padding-right: 50px;
    line-height: 30px;
  }
}

#homepage-carousel {
  box-shadow: 1px 1px 5px #333;
}

footer {
  height: 300px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px #333;
  border-top: 1px solid #666;
  background-color: #303030; // Old browsers
  @include filter-gradient(#303030, #141414, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(radial-gradient(center, ellipse cover,  #303030 0%,#1e1e1e 40%,#141414 100%));
}