$navbar-height: 40px;
$navbar-default-brand-color: #FA7500;
$navbar-default-brand-hover-color: #FA7500;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: #333;
$font-size-base: 16px;
$background-color: #efefef;
$navbar-background-color: rgba(0,39,59,.05);
$link-color: #428bca;

@import "compass";
@import "bootstrap";

html, body {
  max-width: 100%;
}

body {
  background: $background-color;
  border-top: 3px solid $navbar-default-link-active-color;
}

a, a:visited {
  color: $link-color;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;

  &:hover {
    text-decoration: none;
    color: darken($link-color, 10%);
  }
}

.form-control, .btn, .timeline {
  border-radius: 0;
}

h1, h2, h3, h4, ul, p {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

/* Allow dropdown menus to show on link hover */
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

header {
  background: $background-color;
  border-radius: 0;
  padding: 10px 0;

  .logo-main {
    font-size: 48px;
    color: $navbar-default-brand-color;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: #EA6500;
      text-decoration: none;
    }
  }

  .logo-caption {
    font-weight: 400;
    position: relative;
    top: -14px;
    right: -134px;
    color: rgba(0,39,59,.3);
  }

  .header-search {
    float: right;
    padding: 24px 0;
  }
}

.navbar {
  background: $navbar-background-color;
  border-radius: 0;
  box-shadow: none;
  padding: 1px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  a.navbar-brand {
    font-size: 32pt;
    margin-left: 8%;
    padding-right: 50px;
    line-height: 30px;
  }
}

.dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  .divider {
    margin: 5px 0;
  }
}

#homepage-carousel {
  box-shadow: 1px 1px 5px #333;
}

footer {

  color: rgba(0,39,59,.35);
  font-size: 13px;
  
  .footer-row:first-child {
    border-top: 2px solid rgba(0,39,59,.08);
  }

  a {
    color: rgba(0,39,59,.35);
    text-decoration: none;

    &:hover {
      color: rgba(0,39,59,.65);
    }
  }

  h4 {
    color: rgba(0,39,59,.35);
  }

  ul {
    list-style-type: none;
    margin: 0 0 0 -40px;
  }
  min-height: 150px;
  margin-top: 60px;

  .copyright {
    font-size: 12px;
    color: rgba(0,39,59,.35);
    margin-top: 15px;
    display: block;
  }

  .footer-social {
    text-align: center;
    // border-left: 1px solid rgba(0,39,59,.08);
    // border-right: 1px solid rgba(0,39,59,.08);
  }
}

.faculty-section {
  margin-top: 20px;
}

.faculty-image {
  margin: 5px 15px 10px 0;
  float: left;
  height: 310px;
}

.hotel-map {
  width: 100%;
  height: 400px;
}

.social-icon {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  img {
    width: 30px;
    margin-right: 4px;
    opacity: 0.7;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}

.modal-content {
  border-radius: 0px;
}

.modal-header, .modal-footer {
  background-color: #e1e1e1;
}

.modal-footer {
  margin-top: 0;
}

.modal-body {
  background-color: #f4f4f4;
}

@media (max-width: 460px) {
  header {
    .logo-main {
      font-size: 36px;
    }

    .logo-caption {
      right: -60px;
      font-size: 13px;
    }
  }
}