$logo-dark-color: rgb(65, 64, 66);
$logo-orange: rgb(242, 103, 34); // #F26722
$navbar-height: 40px;
$navbar-default-brand-color: #FA7500;
$navbar-default-brand-hover-color: #FA7500;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: $logo-dark-color;
$font-size-base: 16px;
$background-color: #efefef;
$navbar-background-color: rgba(0,39,59,.05);
$gray-blue: rgba(0,39,59,.5);
$gray-blue-lighter: rgba(0,39,59,.3);
$gray-blue-darker: rgba(0,39,59,.65);
$link-color: #428bca;

@import "compass";
@import "bootstrap";

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

body {
  background: $background-color;
  border-top: 4px solid $navbar-default-link-active-color;
  color: $logo-dark-color;
}

a, a:visited {
  color: $link-color;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;

  &:hover {
    text-decoration: none;
    color: darken($link-color, 10%);
  }
}

.form-control, .btn, .timeline {
  border-radius: 0;
}

h1, h2, h3 {
  margin-top: 10px;
  color: $logo-dark-color;
}

h2, h3, h4, ul, p {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

/* Allow dropdown menus to show on link hover */
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

#nav-logo {
  width: 470px;
}

header {
  background: $background-color;
  border-radius: 0;
  padding: 10px 0;

  .logo-main {
    font-size: 48px;
    color: $navbar-default-brand-color;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: #EA6500;
      text-decoration: none;
    }
  }

  .header-search {
    float: right;
    padding: 24px 0;
  }
}

.navbar-default {
  .navbar-nav > li > a {
    color: $gray-blue-darker;
  }

  .navbar-nav > li.active > a {
    color: #222;
  }
}

.navbar {
  background: $background-color;
  border-radius: 0;
  box-shadow: none;
  padding: 1px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;

  a {
    color: $gray-blue;
  }

  .navbar-container {
    margin: 0 auto;
  }

  a.navbar-brand {
    font-size: 32pt;
    margin-left: 8%;
    padding-right: 50px;
    line-height: 30px;
  }

  #navbar-links {
    margin-top: 65px;
    border-bottom: 2px solid $gray-blue-lighter;
    float: right;
  }
}

.dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  .divider {
    margin: 5px 0;
  }
}

#homepage-carousel {
  box-shadow: 1px 1px 5px #333;
}

.carousel-indicators {

  bottom: -50px;

  .active {
    background-color: $gray-blue-lighter;
  }

  li {
    margin: 0;
    padding: 5px;
    border: 2px solid $gray-blue;
  }
}

footer {

  color: $gray-blue-darker;
  font-size: 13px;
  min-height: 150px;
  margin-top: 50px;
  
  .footer-row:first-child {
    border-top: 2px solid $gray-blue-lighter;
  }

  a {
    color: $gray-blue-darker;
    text-decoration: none;

    &:hover {
      color: darken($gray-blue-darker, 40%);
    }
  }

  h4 {
    color: $gray-blue-darker;
  }

  ul {
    list-style-type: none;
    margin: 0 0 0 -40px;
  }

  .copyright {
    font-size: 12px;
    color: $gray-blue-darker;
    margin-top: 15px;
    display: block;
  }

  .tagline {
    font-size: 12px;
    color: $gray-blue-darker;
    margin-top: 15px;
    display: block;
  }

  .footer-social {
    text-align: center;
    // border-left: 1px solid rgba(0,39,59,.08);
    // border-right: 1px solid rgba(0,39,59,.08);
  }

  .footer-logo {
    img {
      width: 120px;
      margin-top: 15px;
      margin-right: 10px;
      float: left;
      opacity: 0.9;
    }
  }
}

.faculty-section {
  margin-top: 20px;
}

.faculty-image {
  margin: 5px 15px 10px 0;
  float: left;
  height: 310px;
}

.hotel-map {
  width: 100%;
  height: 400px;
}

.social-icon {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  img {
    width: 30px;
    margin-right: 4px;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s, box-shadow 0.3s;
    transition: opacity 0.3s, box-shadow 0.3s;

    &:hover {
      opacity: 1;
      box-shadow: 0 0 4px #666;
    }
  }
}

#search_query {
  box-shadow: none;
  border: 2px solid $gray-blue;
  border-radius: 3px;
  width: 300px;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

  &:focus {
    -webkit-box-shadow: 0 0 15px #666;
            box-shadow: 0 0 15px #666;
  }
}

.btn {
  border: 2px solid $gray-blue;
  border-radius: 3px;
  height: 36px;
  font-size: 14px;
  background-color: $gray-blue-lighter;
  color: white;
  text-shadow: 0 0 4px #999;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    border: 2px solid $gray-blue;
    color: white;
    background-color: $gray-blue;
  }
}

.modal-content {
  border-radius: 0px;
}

.modal-header, .modal-footer {
  background-color: #e1e1e1;
}

.modal-footer {
  margin-top: 0;
}

.modal-body {
  background-color: #f4f4f4;
}

.carousel-caption {
  font-size: 12px;
  padding-bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 5px 40px;
  background: rgba(0,0,0,0.5);
  text-shadow: 0 0 5px #000;

  h4 {
    margin: 5px 0;
    font-size: 16px;
  }

  p {
    margin: 5px 0;
  }
}

iframe[id^='twitter-widget-'] {
  width: 100% !important;
}

#twitter-widget-0 {
  width: 100%;
  margin: 0 auto;
}

#twitter-spinner {
  padding: 10px 10px;
  position: relative;
}

.twitter-timeline {
  text-align: center;
  margin: 0 auto;
}

.navbar-nav > li > .dropdown-menu {
  border: 2px solid $gray-blue-lighter;
  border-radius: 3px;
}

@media (max-width: 1199px) {
  #search_query {
    width: 222px;
  }
  #nav-logo {
    width: 350px;
  }

  .navbar-nav > li > a {
    padding: 10px;
  }
}

@media (max-width: 991px) {
  #nav-logo {
    width: 100%;
    padding: 20px;
  }

  .navbar {
    #navbar-links {
      margin-top: 0;
      float: left;
      width: 100%;
    }
  }

  footer {
    text-align: center;

    h4 {
      font-size: 24px;
    }
    .footer-logo {
      margin: 0 auto;
      img {
        margin: 0;
        width: 200px;
        float: none;       
      }
    }

    .footer-contact {
      margin-bottom: 20px;
    }

    .footer-social {
      margin-bottom: 20px;
    }
  }

  .navbar-nav > li > a {
    padding: 10px 17px;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    padding: 0;
  }

  .logo-main {
    margin-left: -25px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0;

    #nav-logo {
      padding: 5px;
    }
  }

  .navbar {
    #navbar-links {
      border-bottom: none;
    }

    .navbar-collapse {
      border-top: 2px solid $gray-blue-lighter;
      border-bottom: 2px solid $gray-blue-lighter;
    }
  }

  #search_query {
    margin: 0 auto;
    display: inline;
  }

  .navbar-default .navbar-toggle {
    border: 2px solid $gray-blue;

    .icon-bar {
      background-color: $gray-blue;
    }
  }
}

@media (max-width: 460px) {
  header {
    .logo-main {
      font-size: 36px;
    }

    .logo-caption {
      right: -60px;
      font-size: 13px;
    }
  }

  .caption {
    display: none;
  }

  #about-video {
    max-height: 300px;
  }
}