// require normalize

$navbar-height: 60px;
$navbar-default-brand-color: #333;
$navbar-default-brand-hover-color: #FA7500;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: #333;
$font-size-base: 16px;

@import "compass";
@import "bootstrap";

html, body {
  max-width: 100%;
}

body {
  background: #fff;
  border-top: 3px solid $navbar-default-brand-hover-color;
}

header {
  background: #fff;
  border-radius: 0;

  .logo {
    color: #333;
    text-decoration: none;
    font-weight: 400;
    float: left;

    &:hover {
      color: #FA7500;
      text-decoration: none;
    }
  }

  .header-search {
    float: right;
  }
}

.navbar {
  background: #f5f5f5x;
  border-radius: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-shadow: none;
  padding: 5px;

  a.navbar-brand {
    font-size: 32pt;
    margin-left: 8%;
    padding-right: 50px;
    line-height: 30px;
  }
}


#homepage-carousel {
  box-shadow: 1px 1px 5px #333;
}

footer {
  height: 300px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px #333;
  border-top: 1px solid #666;
  background-color: #303030; // Old browsers
  @include filter-gradient(#303030, #141414, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(radial-gradient(center, ellipse cover,  #303030 0%,#1e1e1e 40%,#141414 100%));

}