---
title: 1979 Winners
navigation: Contest
---

<h1>1979 Winners</h1>

<p>The following are the winners from the 1979 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/seventy-eight/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/eighty/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 1979 print photo contest.</p>
<p>HM = Honorable Mention</p>
<p><em>*Competition was open only to members of the National Press Photographers Association.</em></p>
<p><strong>APPA Award of Excellence</strong><br>
Dan Dry, The Courier-Journal &amp; Louisville Times</p>
<p><strong>BEST IN SHOW</strong><br>
Carla Hotvedt, The Gainesville Sun, Gainesville, FL</p>
<p><strong>SPOT NEWS</strong><br>
First – Lil Junas, York Daily Record, York, PA<br>
Second – Michael Pugh, United Press International, Atlanta<br>
Third – David Woo, The Dallas Morning News, Dallas, TX<br>
HM – Rich Mahan, Ft. Lauderdale News &amp; Sun Sentinel, FL<br>
HM – Battle Vaughan, The Miami Herald</p>
<p><strong>GENERAL NEWS</strong><br>
First – Bill Wax, The Gainesville Sun<br>
Second – Mary Lou Foy, The Miami Herald<br>
Third – Seny Norasingh, The Miami Herald<br>
HM – Murry Sill, The Miami Herald<br>
HM – Thomas Price, Ft. Myers News-Press</p>
<p><strong>FEATURES</strong><br>
First – David Woo, The Dallas Morning News<br>
Second – C. J. Walker, The Palm Beach Post<br>
Third – Rich Mahan, Ft. Lauderdale News &amp; Sun Sentinel<br>
HM – Ursula E. Seeman, Ft. Lauderdale News &amp; Sun Sentinel<br>
HM – Marice Cohn, The Miami Herald/Neighbors</p>
<p><strong>SPORTS ACTION</strong><br>
First – Michael Patrick, Knoxville News-Sentinel<br>
Second – Nancy Pierce, The Charlotte Observer<br>
Third – Bill Cranford, Florida Times Union/Jacksonville Journal<br>
HM – Bill Wax, The Gainesville Sun<br>
HM – Walter Michot, Ft. Lauderdale News-Sentinel</p>
<p><strong>SPORTS FEATURES</strong><br>
First – Red Morgan, The Miami Herald<br>
Second – Donn Dughi, United Press International, Tallahassee, FL<br>
Third – Steve Dozier, St. Petersburg Times<br>
HM – Ursula E. Seeman, Ft. Lauderdale News-Sentinel<br>
HM – Melissa Farlow, The Courier-Journal &amp; Louisville Times</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – Bob Dickerson, The Cincinnati Post<br>
Second – Bruce Gilbert, The Miami Herald<br>
Third – Bill Wax, The Gainesville Sun<br>
HM – Bill Creighton, The Charleston News &amp; Courier<br>
HM – Thomas Price, Ft. Myers News-Press</p>
<p><strong>PICTORIAL</strong><br>
First – Gary Chapman, Ft. Myers News-Press<br>
Second – Ricardo J. Ferro – St. Petersburg Times<br>
Third – Nicholas R. von Staden, Ft. Lauderdale News &amp; Sun-Sentinel<br>
HM – Walter Michot, Ft. Lauderdale News &amp; Sun-Sentinel<br>
HM – Greg Anderson, The Palm Beach Post</p>
<p><strong>ILLUSTRATION</strong><br>
First – Gary Chapman, Ft. Myers News-Press<br>
Second – Ed. C. Thompson, The Atlanta Journal &amp; Constitution Magazine<br>
Third – Gary Chapman, Ft. Myers News-Press<br>
HM – John Curry, Ft. Lauderdale News &amp; Sun-Sentinel<br>
HM – Laura Bullock, Randolph (NC) Technical College</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – Bill Wax, The Gainesville Sun<br>
Second – Bob Dickerson, The Cincinnati Post<br>
Third – Mary Lou Foy, The Miami Herald<br>
HM – Lou Toman, Ft. Lauderdale News &amp; Sun Sentinel<br>
HM – Michael Pugh, United Press International, Atlanta<br>
HM – Murry Sill, The Miami Herald</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First – Chris Walker, Ft. Lauderdale News &amp; Sun-Sentinel<br>
Second – Bob Dickerson, The Cincinnati Post<br>
Third – Seny Norasingh, The Gastonia (NC) Gazette</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – Carla Hotvedt, The Gainesville Sun<br>
Second – Dan Dry, The Courier-Journal &amp; Louisville Times<br>
Third – Mary Lou Foy, The Miami Herald<br>
HM – Bill Wax, The Gainesville Sun<br>
HM – Marice Cohn, The Miami Herald/Neighbors</p>
<p>Judges:<br>
Joe Elbert, Picture Editor, The Miami Herald, Miami, FL;<br>
Alice George, Picture Editor, GEO magazine, New York;<br>
Robin Hood, Freelance, Chattanooga, TN; winner Pulitzer Prize-Features, 1977;<br>
Tom Kelly, Chief Photographer, The Mercury, Pottstown, PD; Pulitzer-News,’79;<br>
Don Rutledge, Director, Photographic Services, So. Baptist Home Mission Board</p>
<p style="text-align: center;"><a href="/contest/winners/seventy-eight/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/eighty/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
