---
title: 2021 Rich Mahan Best Student Portfolio
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Chris Day</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-7c5009', yaml_data: 'source/2021/rich-mahan-best-student-portfolio/slideshow-first-place-7c5009.yml' } %>