<footer>

</footer>

<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div id="nav-logo" class="logo">
          <a class="logo-main" href="/winners/" title="Atlanta Photojournalism Seminar"><img src="https://photojournalism.s3.amazonaws.com/logos/atlpj_logo_circle_text.png"></a>
        </div>
      </div><!-- .navbar-header -->
    </div><!-- .container -->
  </nav><!-- .navbar -->
</header>