<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Dates and Location</h3>
        <p>The 2014 Seminar will be held November 13-15, 2014 at the <a href="http://www.westinatlantanorth.com/">Westin Atlanta North</a>.</p>
      </div>
      <div class="col-md-4">
        <h3>Follow Us</h3>
        <a href="http://www.facebook.com/atlantaseminar" class="social-icon" target="_blank">
          <img src="https://s3.amazonaws.com/photojournalism/icons/facebook.png">
        </a>
        <a href="http://www.twitter.com/atlantaseminar" class="social-icon" target="_blank">
          <img src="https://s3.amazonaws.com/photojournalism/icons/twitter.png">
        </a>
        <a href="https://plus.google.com/106141968448792182061/posts" class="social-icon" target="_blank">
          <img src="https://s3.amazonaws.com/photojournalism/icons/google.png">
        </a>
        <a href="http://instagram.com/atlantaseminar" class="social-icon" target="_blank">
          <img src="https://s3.amazonaws.com/photojournalism/icons/instagram.png">
        </a>
        <a href="http://vimeo.com/atlantaseminar" class="social-icon" target="_blank">
          <img src="https://s3.amazonaws.com/photojournalism/icons/vimeo.png">
        </a>
      </div>
      <div class="col-md-4">
        <h3>Quick Navigation</h3>
        <ul class="footer-navigation">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <ul>
            <li><a href="/about/hotel/">Hotel Information</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
          <li><a href="/faculty/">Faculty</a></li>
          <li><a href="#">Schedule</a></li>
          <li><a href="#">Register</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>