<footer>
  <div class="container">
    <div class="footer-row row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="footer-contact col-md-4">
          <h4>Contact Us At</h4>
          <address>
            <strong>Atlanta Photojournalism Seminar Inc.</strong><br>
            PMB 420 5579-B Chamblee Dunwoody Rd<br>
            Dunwoody, GA 30338<br>
            <a href='mailto:info@photojournalism.org' target="_blank">info@photojournalism.org</a>
          </address>
          </div>
          <div class="footer-social col-md-4">
            <h4>Join Us On</h4>
            <a href="http://www.facebook.com/atlantaseminar" class="social-icon" target="_blank">
              <img src="https://s3.amazonaws.com/photojournalism/icons/facebook.png" class="img-circle">
            </a>
            <a href="http://www.twitter.com/atlantaseminar" class="social-icon" target="_blank">
              <img src="https://s3.amazonaws.com/photojournalism/icons/twitter.png" class="img-circle">
            </a>
            <a href="https://plus.google.com/106141968448792182061/posts" class="social-icon" target="_blank">
              <img src="https://s3.amazonaws.com/photojournalism/icons/google.png" class="img-circle">
            </a>
            <a href="http://instagram.com/atlantaseminar" class="social-icon" target="_blank">
              <img src="https://s3.amazonaws.com/photojournalism/icons/instagram.png" class="img-circle">
            </a>
            <a href="http://vimeo.com/atlantaseminar" class="social-icon" target="_blank">
              <img src="https://s3.amazonaws.com/photojournalism/icons/vimeo.png" class="img-circle">
            </a>
            <small class="copyright">&copy; 2014 Atlanta Photojournalism Seminar</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>