<footer>
  <div class="container">
    <div class="footer-row row">
      <div class="col-md-12">
        <div class="row">
          <div class="footer-contact col-md-3">
            <h4>Dates and Location</h4>
            <p>The <strong>2015 Atlanta Photojournalism Seminar</strong> will be held <strong>November 13-14, 2015</strong> at the <a href="http://www3.hilton.com/en/hotels/georgia/hilton-atlanta-northeast-ATLHPHF/index.html">Hilton Atlanta Northeast</a>.</p>
          </div>
          <div class="footer-social col-md-3">
            <h4>Join Us On</h4>
            <a href="http://www.facebook.com/atlantaseminar" class="social-icon" target="_blank">
              <img src="/images/icons/facebook.png" class="img-circle">
            </a>
            <a href="http://www.twitter.com/atlantaseminar" class="social-icon" target="_blank">
              <img src="/images/icons/twitter.png" class="img-circle">
            </a>
            <a href="http://instagram.com/atlantaseminar" class="social-icon" target="_blank">
              <img src="/images/icons/instagram.png" class="img-circle">
            </a>
            <a href="http://vimeo.com/atlantaseminar" class="social-icon" target="_blank">
              <img src="/images/icons/vimeo.png" class="img-circle">
            </a>
          </div>
          <div class="footer-logo col-md-6">
            <img src="/images/logos/atlpj_logo_circle.png" class="img-circle">
            <p><h4>Atlanta Photojournalism Seminar</h4></p>
            <form class="navbar-form header-search" role="search" onsubmit="search(); return false">
              <span class="form-group">
                <input id="search_query" type="text" class="form-control" placeholder="Search">
              </span>
              <button id="search_button" type="submit" class="btn btn-default" onclick="search(); return false">Search</button>
            </form>
            <small class="copyright">&copy; 2015 Atlanta Photojournalism Seminar</small><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>