    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="November 8-9, 2019. The official website for the Atlanta Photojournalism Seminar, the longest running photojournalism seminar in the United States.">
    <title><%= "#{current_page.data.title} &middot; " if current_page.data.title %>Atlanta Photojournalism Seminar</title>
    
    <link rel="shortcut icon" href="/winners/favicon.png" />
    <%= stylesheet_link_tag "global" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js" %> 
    <%= javascript_include_tag "global" %>