<header>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a class="logo" href="/" title="Atlanta Photojournalism Seminar">photojournalism.org</a><br>
        <small class="logo-caption">ATLANTA PHOTOJOURNALISM SEMINAR</small>
      </div><!-- .col-md-8 -->
      <div class="col-md-4 hidden-xs hidden-sm">
        <form class="navbar-form header-search" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div><!-- .col-md-4 -->
    </div><!-- .row -->
  </div><!-- .container -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div><!-- .navbar-header -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li<%= " class=\"active\"" if current_page.data.title == "Home" %>><a href="/">Home</a></li>
          <li class="dropdown">
            <a href="/about/" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/about/">General</a></li>
              <li><a href="/about/staff/">Seminar Staff</a></li>
              <li><a href="#">Hotel Information</a></li>
              <li><a href="/contact/">Contact</a></li>
              <li class="divider"></li>
              <li><a href="#">Judging and Prizes</a></li>
            </ul>
          </li><!-- .dropdown -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contest <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">About</a></li>
              <li><a href="#">Winners</a></li>
              <li><a href="#">Rules</a></li>
              <li><a href="#">Categories</a></li>
              <li class="divider"></li>
              <li><a href="#">Judging and Prizes</a></li>
            </ul>
          </li><!-- .dropdown -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Faculty <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Faculty List</a></li>
              <li><a href="#">Speakers</a></li>
              <li><a href="#">Workshops</a></li>
            </ul>
          </li><!-- .dropdown -->
          <li<%= " class=\"active\"" if current_page.data.title == "Schedule" %>><a href="#">Schedule</a></li>
          <li<%= " class=\"active\"" if current_page.data.title == "Sponsors" %>><a href="#">Sponsors</a></li>
          <li><a href="#">Register</a></li>
        </ul><!-- .nav .navbar-nav -->
        <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
          <li><a href="https://facebook.com/atlantaseminar"><i class="fa fa-facebook-square fa-lg"></i></a></li>
          <li><a href="https://twitter.com/atlantaseminar"><i class="fa fa-twitter-square fa-lg"></i></a></li>
          <li><a href="https://instagram.com/atlantaseminar"><i class="fa fa-instagram fa-lg"></i></a></li>
          <li><a href="http://vimeo.com/atlantaseminar"><i class="fa fa-vimeo-square fa-lg"></i></a></li>
        </ul>
      </div><!-- .collapse .navbar-collapse -->
    </div><!-- .container -->
  </nav><!-- .navbar -->
</header>