---
title: 2013 Winners
navigation: Contest
---

<h1>2013 Winners</h1>


<%= partial 'layouts/contest_navigation', locals: { year: 2013 } %>

<div id="main">
<div id="primary">
<p><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="800" height="600"><param name="movie" value="http://www.photoshelter.com/swf/CSlideShow.swf?feedSRC=http%3A//photojournalism.photoshelter.com/gallery/2013-First-Place-Winners/G0000FuIRi0Eb3OQ%3Ffeed%3Djson"><param name="wmode" value="transparent"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="false"><param name="bgColor" value="#AAAAAA"><param name="flashvars" value="wmds=llQ6QNgpeC.p1Ucz7U.Y6ozKBw6oNqUQFK.0rsXAe_BDqunhX7YRFxJ_fYSIKMhAm2z0Hw--&target=_self&f_l=f&f_fscr=f&f_tb=f&f_bb=f&f_bbl=f&f_fss=f&f_2up=t&f_crp=f&f_wm=f&f_s2f=t&f_emb=f&f_cap=t&f_sln=f&imgT=casc&cred=iptc&trans=fade&f_link=f&f_smooth=f&f_mtrx=t&tbs=5000&f_ap=t&f_up=f&btype=old&bcolor=%23CCCCCC"><!--[if !IE]><!--><object type="application/x-shockwave-flash" data="http://www.photoshelter.com/swf/CSlideShow.swf?feedSRC=http%3A//photojournalism.photoshelter.com/gallery/2013-First-Place-Winners/G0000FuIRi0Eb3OQ%3Ffeed%3Djson" width="800" height="600"><param name="wmode" value="transparent"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="false"><param name="bgColor" value="#AAAAAA"><param name="flashvars" value="wmds=llQ6QNgpeC.p1Ucz7U.Y6ozKBw6oNqUQFK.0rsXAe_BDqunhX7YRFxJ_fYSIKMhAm2z0Hw--&target=_self&f_l=f&f_fscr=f&f_tb=f&f_bb=f&f_bbl=f&f_fss=f&f_2up=t&f_crp=f&f_wm=f&f_s2f=t&f_emb=f&f_cap=t&f_sln=f&imgT=casc&cred=iptc&trans=fade&f_link=f&f_smooth=f&f_mtrx=t&tbs=5000&f_ap=t&f_up=f&btype=old&bcolor=%23CCCCCC"><!--<![endif]--><a href="http://photojournalism.photoshelter.com/gallery/2013-First-Place-Winners/G0000FuIRi0Eb3OQ"><img src="http://www.photoshelter.com/gal-kimg-get/G0000FuIRi0Eb3OQ/s/800/600" alt=""></a><!--[if !IE]><!--></object><!--<![endif]--></object></p>
<div id="content" role="main">
<article id="post-881">The following are the winners of the <strong>2013</strong> <strong>Atlanta Photojournalism Seminar Contest</strong>. Thank you to everyone who entered and participated in the contest, and congratulations to the winners!<p></p>
<h3><a href="/contest/winners/2013/best-in-show/">Best in Show</a></h3>
<p>Andoni Lubaki / Associated Press</p>
<h3><a href="/contest/winners/2013/best-student-portfolio/">Rich Mahan Best Student Portfolio</a></h3>
<p>Coty Giannelli / The Daily Kent Stater</p>
<h3><a href="/contest/winners/2013/best-portfolio/">Best Portfolio</a></h3>
<p>Andrew Biraj / Reuters</p>
<h3><a href="/contest/winners/2013/spot-news/">Spot News</a></h3>
<p>1st Place – Mohammad Sajjad / Associated Press<br>
2nd Place – Munir uz Zaman / Agence France-Presse<br>
3rd Place – Sue Ogrocki / Associated Press<br>
Honorable Mention – Charles Krupa / Associated Press<br>
Honorable Mention – Karen Quincy Loberg / Ventura County Star<br>
Honorable Mention – Jessica Hill / Associated Press</p>
<h3><a href="/contest/winners/2013/general-news/">General News</a></h3>
<p>1st Place – Bernat Armangue / Associated Press<br>
2nd Place – Bernat Armangue / Associated Press<br>
3rd Place – Bernat Armangue / Associated Press<br>
Honorable Mention – Brian Powers / Freelance<br>
Honorable Mention – Scott Strazzante / Chicago Tribune</p>
<h3><a href="/contest/winners/2013/feature/">Feature</a></h3>
<p>1st Place – Brian Powers / Freelance<br>
2nd Place – Daniel Ochoa de Olza / Associated Press<br>
3rd Place – Scott Barbour / Getty Images<br>
Honorable Mention – Andoni Lubaki / Associated Press<br>
Honorable Mention – Kevin Frayer / Associated Press</p>
<h3><a href="/contest/winners/2013/sports-action/">Sports Action</a></h3>
<p>1st Place – Patrick Smith / Freelance<br>
2nd Place – Patrick Smith / Freelance<br>
3rd Place – David Phillip / Associated Press<br>
Honorable Mention – Mark Terrill / Associated Press<br>
Honorable Mention – Susana Vera / REUTERS STRINGER</p>
<h3><a href="/contest/winners/2013/sports-feature/">Sports Feature</a></h3>
<p>1st Place – Jabin Botsford / Western Kentucky University<br>
2nd Place – Oded Balilty / Associated Press<br>
3rd Place – Francis Gardler / Lincoln Journal Star<br>
Honorable Mention – Scott Barbour / Getty Images<br>
Honorable Mention – Gerald Herbert / Associated Press</p>
<h3><a href="/contest/winners/2013/portrait-personality/">Portrait/Personality</a></h3>
<p>1st Place – Oded Balilty / Associated Press<br>
2nd Place – Jabin Botsford / Western Kentucky University</p>
<h3><a href="/contest/winners/2013/pictorial/">Pictorial</a></h3>
<p>1st Place – Stephanie Strasburg / Pittsburgh Tribune-Review<br>
2nd Place – Robin Laird / University of Southern California<br>
3rd Place – Justin Sullivan / getty images<br>
Honorable Mention – David Goldman / Associated Press</p>
<h3><a href="/contest/winners/2013/news-picture-story/">News Picture Story</a></h3>
<p>1st Place – Kevin Frayer / Associated Press<br>
2nd Place – Andrew Biraj / Reuters<br>
3rd Place – Daniel Ochoa de Olza / Associated Press<br>
Honorable Mention – David Guttenfelder / Associated Press</p>
<h3><a href="/contest/winners/2013/feature-picture-story/">Feature Picture Story</a></h3>
<p>1st Place – Rodrigo Abd / Associated Press<br>
2nd Place – David Goldman / Associated Press<br>
3rd Place – Matt McClain / The Washington Post<br>
Honorable Mention – John Moore / Getty Images</p>
<h3><a href="/contest/winners/2013/sports-picture-story/">Sports Picture Story</a></h3>
<p>1st Place – Patrick Smith / Freelance<br>
2nd Place – Stefan Wermuth / REUTERS<br>
3rd Place – Patrick Smith / Freelance<br>
Honorable Mention – David Ramos / Getty Images</p>
<h3><a href="/contest/winners/2013/chris-hondros-memorial-international-news/">Chris Hondros Memorial International News</a></h3>
<p>1st Place – Andoni Lubaki / Associated Press<br>
2nd Place – Bernat Armangue / Associated Press<br>
3rd Place – Justin Merriman / Pittsburgh Tribune-Review<br>
Honorable Mention – Narciso Contreras / Associated Press</p>
<h3><a href="/contest/winners/2013/product-illustration/">Product Illustration</a></h3>
<p>Honorable Mention – Larry McCormack / The Tennessean</p>
<h3>Issue Illustration</h3>
<p>No awards.</p>
<h3><a href="/contest/winners/2013/multimedia-slideshow/">Multimedia Slideshow</a></h3>
<p>1st Place – Christopher Capozziello / Christopher Capozziello LLC</p>
<h3>Multimedia Interactive</h3>
<p>No awards.</p>
</article>
</div>
</div>
</div>

<%= partial 'layouts/contest_navigation', locals: { year: 2013 } %>

