---
title: 2013 Winners
navigation: Contest
---

<h1>2013 Winners</h1>


<%= partial 'layouts/contest_navigation', locals: { year: 2013 } %>
<%= partial 'layouts/slideshow', locals: { id: 'carousel', yaml_data: 'source/contest/winners/2013/slideshow.yml' } %>

<p>The following are the winners of the <strong>2013 Atlanta Photojournalism Seminar Contest</strong>. Thank you to everyone who entered and participated in the contest, and congratulations to the winners!</p>

<h4>Best in Show</h4>
<p>Andoni Lubaki / Associated Press</p>
<h4>Rich Mahan Best Student Portfolio</h4>
<p>Coty Giannelli / The Daily Kent Stater</p>
<h4>Best Portfolio</h4>
<p>Andrew Biraj / Reuters</p>
<h4>Spot News</h4>
<p>1st Place – Mohammad Sajjad / Associated Press<br>
2nd Place – Munir uz Zaman / Agence France-Presse<br>
3rd Place – Sue Ogrocki / Associated Press<br>
Honorable Mention – Charles Krupa / Associated Press<br>
Honorable Mention – Karen Quincy Loberg / Ventura County Star<br>
Honorable Mention – Jessica Hill / Associated Press</p>
<h4>General News</h4>
<p>1st Place – Bernat Armangue / Associated Press<br>
2nd Place – Bernat Armangue / Associated Press<br>
3rd Place – Bernat Armangue / Associated Press<br>
Honorable Mention – Brian Powers / Freelance<br>
Honorable Mention – Scott Strazzante / Chicago Tribune</p>
<h4>Feature</h4>
<p>1st Place – Brian Powers / Freelance<br>
2nd Place – Daniel Ochoa de Olza / Associated Press<br>
3rd Place – Scott Barbour / Getty Images<br>
Honorable Mention – Andoni Lubaki / Associated Press<br>
Honorable Mention – Kevin Frayer / Associated Press</p>
<h4>Sports Action</h4>
<p>1st Place – Patrick Smith / Freelance<br>
2nd Place – Patrick Smith / Freelance<br>
3rd Place – David Phillip / Associated Press<br>
Honorable Mention – Mark Terrill / Associated Press<br>
Honorable Mention – Susana Vera / REUTERS STRINGER</p>
<h4>Sports Feature</h4>
<p>1st Place – Jabin Botsford / Western Kentucky University<br>
2nd Place – Oded Balilty / Associated Press<br>
3rd Place – Francis Gardler / Lincoln Journal Star<br>
Honorable Mention – Scott Barbour / Getty Images<br>
Honorable Mention – Gerald Herbert / Associated Press</p>
<h4>Portrait/Personality</h4>
<p>1st Place – Oded Balilty / Associated Press<br>
2nd Place – Jabin Botsford / Western Kentucky University</p>
<h4>Pictorial</h4>
<p>1st Place – Stephanie Strasburg / Pittsburgh Tribune-Review<br>
2nd Place – Robin Laird / University of Southern California<br>
3rd Place – Justin Sullivan / getty images<br>
Honorable Mention – David Goldman / Associated Press</p>
<h4>News Picture Story</h4>
<p>1st Place – Kevin Frayer / Associated Press<br>
2nd Place – Andrew Biraj / Reuters<br>
3rd Place – Daniel Ochoa de Olza / Associated Press<br>
Honorable Mention – David Guttenfelder / Associated Press</p>
<h4>Feature Picture Story</h4>
<p>1st Place – Rodrigo Abd / Associated Press<br>
2nd Place – David Goldman / Associated Press<br>
3rd Place – Matt McClain / The Washington Post<br>
Honorable Mention – John Moore / Getty Images</p>
<h4>Sports Picture Story</h4>
<p>1st Place – Patrick Smith / Freelance<br>
2nd Place – Stefan Wermuth / REUTERS<br>
3rd Place – Patrick Smith / Freelance<br>
Honorable Mention – David Ramos / Getty Images</p>
<h4>Chris Hondros Memorial International News</h4>
<p>1st Place – Andoni Lubaki / Associated Press<br>
2nd Place – Bernat Armangue / Associated Press<br>
3rd Place – Justin Merriman / Pittsburgh Tribune-Review<br>
Honorable Mention – Narciso Contreras / Associated Press</p>
<h4>Product Illustration</h4>
<p>Honorable Mention – Larry McCormack / The Tennessean</p>
<h4>Issue Illustration</h4>
<p>No awards.</p>
<h4>Multimedia Slideshow</h4>
<p>1st Place – Christopher Capozziello / Christopher Capozziello LLC</p>
<h4>Multimedia Interactive</h4>
<p>No awards.</p>
</article>

<%= partial 'layouts/contest_navigation', locals: { year: 2013 } %>

