---
title: 1992 Winners
navigation: Contest
---

<h1>1992 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 1992 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1992 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Patrick Farrell, Miami Herald</p>
<p><strong>BEST STUDENT PORTFOLIO</strong><br>
First place – Stephen Traynor, Western Kentucky University<br>
Second place – Annie O'Neill, University of Missouri<br>
Third place – Rick Loomis, Western Kentucky University<br>
HM – Tamara Voiniski, Western Kentucky University</p>
<p><strong>BEST PORTFOLIO </strong><br>
First place – Patrick Farrell, The Miami Herald<br>
Second place – Bruce Strong, Orange County (Calif.) Register<br>
Third place – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Susan Stocker, Sun-Sentinel, Ft. Lauderdale<br>
HM – Scott Wiseman, Palm Beach Post<br>
HM – Robert A. Davis, Chicago Sun-Times</p>
<p><strong>GEORGIA PHOTOGRAPHER of the YEAR</strong><br>
First place – Joey Ivansco, Atlanta Journal-Constitution<br>
Second place – W. A. Bridges, Jr., Atlanta Journal-Constitution<br>
Third place – Eric Williams, Atlanta Journal-Constitution<br>
HM – William Berry, Atlanta Journal-Constitution<br>
HM – Jean Shifrin, Atlanta Journal-Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First place – W. A. Bridges Jr., Atlanta Journal-Constitution<br>
Second place – David Kadlubowski, Tampa Tribune<br>
Third place – Karen Pulfer Focht, Memphis Commercial Appeal<br>
HM – Jerry W. Hoefer, Ft. Worth Star-Telegram<br>
HM – Matt Brunworth, Lewisville (Texas) News<br>
HM – Patrick Farrell, The Miami Herald</p>
<p><strong>GENERAL NEWS</strong><br>
First place – Patrick Farrell – The Miami Herald<br>
Second place – Susan G. Stocker, Sun-Sentinel, Ft. Lauderdale<br>
Third place – Bruce Strong, Orange County (Calif.) Register<br>
HM – Bruce Strong, Orange County (Calif.) Register<br>
HM – Bill Steber , The Nashville Tennessean</p>
<p><strong>SPORTS ACTION</strong><br>
First place – L.E. Baskow, University of Florida<br>
Second place – Robert J. Gurecki, The Daily Times, Primos, PA<br>
Third place – Gary Allen, Raleigh (NC) News and Observer<br>
HM – Paul J. Milette, Palm Beach Post<br>
HM – Lloyd Fox, The Baltimore Sun</p>
<p><strong>SPORTS FEATURES</strong><br>
First place – Greg Lovett, Palm Beach Post<br>
Second place – Chuck Wing, Western Kentucky University<br>
Third place – Jack Rowland, St. Petersburg Times<br>
HM – Jonathan Newton, Atlanta Journal-Constitution<br>
HM – Rudy Nyhoff, Augusta (GA) Chronicle</p>
<p><strong>FEATURE</strong><br>
First place – Mike Stocker, The Miami Herald<br>
Second place – Larry McCormack, Nashville Banner<br>
Third place – Barry C. Allen, Palm Beach Post<br>
HM – Steve Delafield, Denton (TX) Record-Chronicle<br>
HM – Willis Lucia, The Times-Picayune, New Orleans</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First place – Patrick Farrell, Miami Herald<br>
Second place – Leah Hogsten, Western Kentucky University<br>
Third place – Rick Loomis, Western Kentucky University<br>
HM – Scott Wiseman, Palm Beach Post<br>
HM – Adrian Dennis, University of Florida</p>
<p><strong>PICTORIAL</strong><br>
First place – William Berry, Atlanta Journal-Constitution<br>
Second place – Robert Cohen, The Commercial Appeal, Memphis<br>
Third place (tie) – Patrick Farrell, Miami Herald<br>
Third place (tie) – Craig Fritz, Western Kentucky University<br>
HM – Greg Lovett, Palm Beach Post<br>
HM – Daniel Portnoy, Associated Press</p>
<p><strong>EDITORIAL ILLUSTRATION</strong><br>
First place – Andrew Boyd and Kenneth Harrison, The Times Picayune<br>
Second place – Frederick J. McGawley, Miami Herald<br>
Third place – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Karen Pulfer Focht, Commercial Appeal, Memphis</p>
<p><strong>FASHION</strong><br>
First place – Joey Ivansco, Atlanta Journal-Constitution<br>
Second place – Robert Cohen, The Commercial Appeal<br>
Third place – Kathy Anderson, Times-Picayune, New Orleans<br>
HM – Nuri Valbona, The Houston Post<br>
HM – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Louie Favorite, Atlanta Journal-Constitution</p>
<p><strong>FOOD</strong><br>
First place – Rex Perry, The Tennesean, Nashville<br>
Second place – Annemarie Poyo, Emory University, Atlanta<br>
Third place – Eric Olig, Augusta (GA) Chronicle/Augusta Herald<br>
HM – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Jay Capers, Florence (SC) Morning News</p>
<p><strong>CAMPAIGN '92</strong><br>
First place – Robert Cohen, The Commercial Appeal, Memphis<br>
Second place – Bruce Strong, Orange County (Calif.) Register<br>
Third place – Renee Ittner-McManus, Freelance<br>
HM – Robert Seale, Augusta (GA) Chronicle/Augusta Herald<br>
HM – Jetta Fraser, Asheville (NC) Citizen-Times</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First place – Joey Ivansco, Atlanta Journal-Constitution<br>
Second place – Rich Addicks, Atlanta Journal-Constitution<br>
Third place – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Joe Stefanchik, Western Kentucky University</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First place – Cheryl Meyer, Western Kentucky University<br>
Second place – Stephen Traynor, Western Kentucky University<br>
Third place – Patrick Farrell, Miami Herald<br>
HM – Scott Wiseman, Palm Beach Post<br>
HM – Jackie Bell, News/Sun-Sentinel, Ft. Lauderdale</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First place – Patrick Farrell, Miami Herald<br>
Second place – W.A. Bridges, Atlanta Journal-Constitution<br>
Third place – Judy Walgren, Dallas Morning News<br>
HM – Steve Thackston, Freelance<br>
HM – Beth A. Keiser, Miami Herald<br>
HM – Jeffrey M. Boan, Freelance</p>

<%= partial 'layouts/contest_navigation', locals: { year: 1992 } %>