---
title: 1980 Winners
navigation: Contest
---

<h1>1980 Winners</h1>

<p>The following are the winners from the 1980 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/seventy-nine/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/1980-one/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 1980 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>APPA Award of Excellence</strong><br>
Dan Dry, The Courier-Journal &amp; Louisville Times</p>
<p><strong>BEST IN SHOW</strong><br>
Don Davis Jr., The Greensboro (NC) Daily News</p>
<p><strong>GEORGIA PHOTOGRAPHER of the YEAR</strong><br>
Louie Favorite, The Atlanta Journal and The Atlanta Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First – Stephen Crowley, Palm Beach Post<br>
Second – Dayna Smith, Palm Beach Post and Times Extra<br>
Third – Don Davis Jr., Greensboro Daily News<br>
HM – Frank Empson, Nashville Tennessean<br>
HM – Neil B. McGahee, Tampa Tribune</p>
<p><strong>GENERAL NEWS</strong><br>
First – David Walters, Miami Herald<br>
Second – Stephen Crowley, Palm Beach Post<br>
Third – Maurice Cone, Miami Herald-Neighbors<br>
HM – Walter Stricklin, Florida Times-Union and Jacksonville Journal<br>
HM – John F. Bard, Tampa Tribune</p>
<p><strong>CAMPAIGN ’80</strong><br>
First – Dan Dry, Courier-Journal and Louisville Times<br>
Second – Larry N. Reese, Houston Chronicle<br>
Third – David Woo, Dallas Morning News<br>
HM – Michael A. Patrick, Knoxville News-Sentinel<br>
HM – Jerome McClendon, Atlanta Constitution and Atlanta Journal</p>
<p><strong>FEATURE</strong><br>
First – Carla Hotvedt-Horne, Gainesville Sun<br>
Second – Jim Wright, Courier-Journal and Louisville Times<br>
Third – Bill Wax, Gainesville Sun<br>
HM – Mike Sargent, Raleigh (NC) Times<br>
HM – John Walther, Miami Herald</p>
<p><strong>SPORTS ACTION</strong><br>
First – Scott Robinson, Florida Times-Union<br>
Second – John Kaplan, The Post, Athens, Ohio<br>
Third – Dan Dry, Courier-Journal and Louisville Times<br>
HM – Eric Mencher, St. Petersburg Times<br>
HM – Rich Mahan, Ft. Lauderdale Sun-Sentinel</p>
<p><strong>SPORTS FEATURES</strong><br>
First – Jim Mendenhall, Courier-Journal and Louisville Times<br>
Second – C.J. Walker, Palm Beach Post-Times<br>
Third – Joseph W. Rimkus Jr., Miami Herald<br>
HM – Timothy Bullard, Houston Chronicle<br>
HM – Eric Mencher, St. Petersburg Times</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – Dan Dry, Courier-Journal and Louisville Times<br>
Second – Timothy Bullard, Houston Chronicle<br>
HM – Carol Guzy, Miami Herald<br>
HM – Steve Dozier, Miami Herald<br>
HM – Keith Graham, Miami Herald</p>
<p><strong>PICTORIAL</strong><br>
First – David Lutman, Courier-Journal and Louisville Times<br>
Second – Carol Guzy, Miami Herald<br>
Third – Bill Serne, Tampa Tribune<br>
HM – Murry Sill, Miami Herald<br>
HM – Earl Carter, Kingsport (TN) Times-News</p>
<p><strong>ILLUSTRATION</strong><br>
First – Ted Jackson, student, University of Southern Mississippi<br>
HM – Carl Siebert, Ft. Lauderdale News &amp; Sun-Sentinel<br>
HM – Tom Kennedy, Gainesville Sun</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – Don Davis Jr., Greensboro Daily News<br>
Second – Murry Sill, Miami Herald<br>
Third – Rich Mahan, Ft. Lauderdale News<br>
HM – Murry Sill, Miami Herald<br>
HM – Dan Dry, Courier-Journal &amp; Louisville Times<br>
HM – Phil Sheffield, Tampa Tribune</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First – Tom Salyer, United Press International, Miami<br>
Second – Erica Berger, Clearwater (FL) Sun<br>
Third – Jebb Harris, Courier-Journal &amp; Louisville Times</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – Ricardo Ferro, St. Petersburg Times<br>
Second – Stephen Crowley, Palm Beach Post<br>
Third – Dan Dry, Courier-Journal &amp; Louisville Times<br>
HM – Bill Wax, Gainesville Sun</p>
<p style="text-align: center;">
<a href="/contest/winners/seventy-nine/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/1980-one/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
