---
title: 1983 Winners
navigation: Contest
---

<h1>1983 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 1983 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1983 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST OF SHOW</strong><br>
Don Ipock, University of Missouri</p>
<p><strong>BEST OVERALL PORTFOLIO</strong><br>
First – Marice Carolyn Cohn, Miami Herald<br>
HM – Tom Burton, Orlando Sentinel<br>
HM – Vince Heptig, Ft. Worth Star-Telegram</p>
<p><strong>BEST PHOTO STAFF</strong><br>
The Miami Herald</p>
<p><strong>STUDENT PHOTOGRAPHER of the YEAR</strong><br>
First – Todd Buchanan, Western Kentucky University<br>
HM – Ben Van Hook, University of Kentucky<br>
HM – Don Ipock, University of Missouri</p>
<p><strong>GEORGIA PRESS PHOTOGRAPHER OF THE YEAR</strong><br>
First – Joey Ivansco, Valdosta (Ga.) Daily Times<br>
HM – Michael Pugh, Atlanta Journal-Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First – John Costello, Ft. Worth Star-Telegram<br>
Second – David Murray, Ft. Lauderdale News<br>
Third – Michael O'Bryon, Miami Herald<br>
HM – Ron Ennis, Ft. Worth Star-Telegram</p>
<p><strong>GENERAL NEWS</strong><br>
First – Ron Ennis, Ft. Worth Star-Telegram<br>
Second – Raymond Gehman, Virginia Pilot-Ledger Star<br>
Third – Dave Kraus, Tulsa Tribune<br>
HM – John Moran, Gainesville Sun</p>
<p><strong>SPORTS ACTION</strong><br>
First – Raymond Gehman, Virginia Pilot-Ledger Star<br>
Second – Robert Johnson, The Tennessean<br>
Third – Norm Tindell, Ft. Worth Star-Telegram<br>
HM – Jim Genshrimer, The Courier Journal-Louisville Times<br>
HM – Erik Lesser, Independent Florida Alligator</p>
<p><strong>SPORTS FEATURE</strong><br>
First – Vince Heptig, Ft. Worth Star-Telegram<br>
Second – Andy Sharp, Atlanta Journal-Constitution<br>
Third – Red Morgan, Miami Herald<br>
HM – Andy Sharp, Atlanta Journal-Constitution<br>
HM – Scott Goldsmith, The Courier Journal-Louisville Times</p>
<p><strong>FEATURE</strong><br>
First – Don Ipock, University of Missouri<br>
Second – William Berry, Macon Telegraph and News<br>
Third – Cheryl Nuss, University of Missouri<br>
HM – Rick Mansfield, Nashville Banner</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – Raymond Gehman, Virginia Pilot-Ledger Star<br>
Second – Richard Rogers, The Tennessean<br>
Third – ??, Miami Herald<br>
HM – Mark Sluder, Charlotte (N.C.) Observer<br>
HM – Joey Ivansco, Valdosta (Ga.) Daily Times</p>
<p><strong>PICTORIAL</strong><br>
First – Scott Goldsmith, The Courier Journal-Louisville Times<br>
Second – Raymond Gehman, Virginia Pilot-Ledger Star<br>
Third – Tom Burton, The Orlando Sentinel<br>
HM – Pete Cross, Miami Herald<br>
HM – Erica Berger, Miami Herald</p>
<p><strong>ILLUSTRATION</strong><br>
First – Dennis Hamilton Jr., Florida Times Union-Jacksonville Journal<br>
Second – Mark Beaudin, Ft. Myers News Press<br>
Third – Dennis Hamilton Jr., Florida Times Union-Jacksonville Journal<br>
HM – John Moran, Gainesville Sun<br>
HM – Bob Eighmie, Miami Herald</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First – Willliam Snyder, Miami News<br>
Second – Jim Gensheimer, Courier Journal-Louisville Times<br>
Third – William Serne, St. Petersburg Times</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – Jim Gensheimer, Courier Journal-Louisville Times<br>
Second – Ben Van Hook, Courier Journal-Louisville Times<br>
Third – Todd Buchanan, Western Kentucky University<br>
HM – Tom Burton, Orlando Sentinel<br>
HM – Adrienne Helitzer, Courier Journal-Louisville Times</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – Stepehn Crowley, Palm Beach Post and Times<br>
Second – Bill Frakes, Miami Herald<br>
Third – Marice Carolyn Cohn, Miami Herald<br>
HM – John Costello, Ft. Worth Star-Telegram<br>
HM – David Woo, Dallas Morning Herald</p>

<%= partial 'layouts/contest_navigation', locals: { year: 1983 } %>