---
title: 2014 Sponsors
navigation: Sponsors
---

<% data = YAML.load_file("source/sponsors/2014/sponsors.yml") %>

<div class='sponsors'>
  <% data.each do |sponsor| %>
    <a href="<%= sponsor[:homepage] %>" target="_blank">
      <img src="<%= sponsor[:image_url] %>" alt="<%= sponsor[:name] %>" height="<%= sponsor[:image_height] %>">
    </a>
  <% end %>
</div>