---
title: 2010 Winners
navigation: Contest
---

<h1>2010 Winners</h1>

<p style="text-align: center;"><a href="/contest/winners/nine/">PREVIOUS YEAR </a>    |     <a href="/contest/winners/eleven/">NEXT YEAR</a>     |    <a href="/contest/winners/"> YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 2010 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong><strong>BEST IN SHOW</strong><br>
</strong>Christopher Capozziello/AEVUM</p>
<p><strong>BEST PORTFOLIO</strong><br>
Michael Holahan/The Augusta Chronicle</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place – Ty Cacek/Western Kentucky University<br>
Second Place – Ty Wright/Ohio University<br>
Third Place – David Kasnic/Western Kentucky University</p>
<p><strong>STAFF OF THE YEAR (3-WAY-TIE)<br>
</strong>The Augusta Chronicle<br>
The Associated Press<br>
Getty Images</p>
<p><strong>SPOT NEWS<br>
</strong>First Place – Michael Mullady/San Francisco State University<br>
Second Place – Ivan Sekretarev/The Associated Press<br>
Third Place – Justin Sullivan/Getty Images<br>
HM – Rodrigo Abd/The Associated Press<br>
HM – Salvatore Laporta/The Associated Press</p>
<p><strong>GENERAL NEWS</strong><br>
First Place – Gemunu Amarasinghe/The Associated Press<br>
Second Place – Spencer Platt/Getty Images<br>
Third Place – Adrees Latif/Reuters<br>
HM – Robert Strong/Reuters<br>
HM – Greg S. Kahn/Naples Daily News</p>
<p><strong>FEATURE<br>
</strong>First Place – Chris Zuppa/St. Petersburg Times<br>
Second Place –  Ty Cacek/Western Kentucky University<br>
Third Place – Joe Amon/The Denver Post<br>
HM – Corey Perrine/The Augusta Chronicle<br>
HM – Rodrigo Abd/The Associated Press<br>
HM – Ty Wright/Ohio University</p>
<p><strong>SPORTS ACTION</strong><br>
First Place – Chul Ahn Jim Jeong/Jimmy Shoots<br>
Second Place – Domingo Botan/The Associated Press<br>
Third Place – Ty Wright/Ohio University<br>
HM – Chris Detrick/The Salt Lake Tribune<br>
HM – Michael Holahan/The Augusta Chronicle</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place – Andrew Craft/The Fayetteville Observer<br>
Second Place – Patrick Smith/Provo Daily Herald<br>
Third Place – Logan Mock-Bunting/Freelance<br>
HM – Joe Buglewicz/Freelance<br>
HM – Djamila Grossman/The Salt Lake Tribune</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place – Ross Taylor/The Virginian-Pilot<br>
Second Place – Scott McIntyre/St. Petersburg Times<br>
Third Place – Mario Tama/Getty Images<br>
HM – Abel Ruiz de León Trespando/Freelance<br>
HM – Amiran White/Freelance<strong></strong></p>
<p><strong>PICTORIAL</strong><br>
First Place – Rich-Joseph Facun/The National<br>
Second Place – Rich-Joseph Facun/The National<br>
Third Place – Matt Mallams/AEVUM<br>
HM- Mario Tama/Getty Images<br>
HM – Patrick Smith/Provo Daily Herald</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place – Chris Hondros/Getty Images<br>
Second Place – Greg S. Kahn/Naples<strong> </strong>Daily News<br>
Third Place – Michael Mullady/San Francisco State University<br>
HM – Michael Mullady/San Francisco State University<br>
HM – Spencer Platt/Getty Images</p>
<p><strong>FEATURE PICTURE STORY/ESSAY</strong><br>
First Place – Joe Amon/The Denver Post<br>
Second Place – Ross Taylor/The Virginian-Pilot<br>
Third Place – Michael Holahan/The Augusta Chronicle<br>
HM – Corey Perrine/The Augusta Chronicle<br>
HM – Michael Robinson Chavez/Los Angeles Times<strong></strong></p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place – Scott Strazzante/Chicago Tribune<br>
Second Place – Linus Sundahl-Djerf/Freelance<br>
Third Place – Michael Holahan/The Augusta Chronicle<br>
HM – Chris McGrath/Getty Images<br>
HM – Linus Sundahl-Djerf/Freelance<strong></strong></p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place – Damian AhChing/Gwinnett Technical College<br>
Second Place – Ross Taylor/The Virginian-Pilot <strong></strong></p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place – Logan Mock-Bunting/Freelance<strong></strong></p>
<p><strong>MILITARY PHOTOGRAPH<br>
</strong>First Place – Timothy Hale/U.S. Army Reserve</p>
<p><strong>MULTIMEDIA SLIDESHOW</strong><br>
First Place – Christopher Capozziello/AEVUM<br>
Second Place – Charles "Stretch" Ledford/University of Miami<br>
Third Place – Lance Murphey and John Hubbell/Freelance<br>
HM – Charles "Stretch" Ledford/University of Miami<br>
HM – Lauren Frohne/UNC-Chapel Hill</p>
<p><strong>MULTIMEDIA INTERACTIVE PRESENTATION</strong><br>
First Place – Stephanie Klein-Davis/Freelance</p>
<p style="text-align: center;"><a href="/contest/winners/nine/">PREVIOUS YEAR </a>    |     <a href="/contest/winners/eleven/">NEXT YEAR</a>     |    <a href="/contest/winners/"> YEAR-BY-YEAR</a></p>

