---
title: 1988 Winners
navigation: Contest
---

<h1>1988 Winners</h1>

<p style="text-align: center;"><a href="/contest/winners/eighty-seven/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/eighty-nine/">NEXT YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1988 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST PORTFOLIO</strong><br>
First – Charles Trainor Jr., The Miami Herald<br>
Second – Carol Guzy, The Washington Post<br>
Third – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Patrick Farrell, The Miami Herald<br>
HM – Judy Lutz, Pittsburgh Post-Gazette</p>
<p><strong>BEST STUDENT PORTFOLIO</strong><br>
Alan Lessig, University of Kentucky</p>
<p><strong>GEORGIA PHOTOGRAPHER of the YEAR</strong><br>
First – Joey Ivansco, The Atlanta Journal-Constitution<br>
Runner-up – Michael Schwarz, The Atlanta Journal-Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First – Robin Romback, Pittsburgh Press<br>
Second – Rick McFarland, San Antonio Express-News<br>
Third – Charles Trainor Jr., Miami Herald<br>
HM – Bobby Coker, Orlando Sentinel<br>
HM – Robert Cohen, Sun-Tattler<br>
HM – John Curry, Ft. Lauderdale News Sun-Sentinel</p>
<p><strong>GENERAL NEWS</strong><br>
First – Tom Burton, Orlando Sentinel<br>
Second – Bill Goodman, Nashville Banner<br>
Third – Michael Mercanti, Philadelphia Daily News<br>
HM – Joe Burbank, Orlando Sentinel<br>
HM – Judy Lutz, Pittsburgh Post-Gazette<br>
HM – Todd Buchanan, Louisville Courier-Journal</p>
<p><strong>SPORTS ACTION</strong><br>
First – Jerry L. Wolford, Greensboro News and Record<br>
Second – David Gamble, Asbury Park Press<br>
Third – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Calvin Cruce, Atlanta Journal-Constitution<br>
HM – Eliot J. Schechter, Ft. Lauderdale News/Sun-Sentinel</p>
<p><strong>SPORTS FEATURES</strong><br>
First – Lenny Cohen, Miami News<br>
Second – Todd Buchanan, Louisville Courier-Journal<br>
Third – Louis DeLuca, Dallas Times-Herald<br>
HM – James H. Wallace, Louisville Courier-Journal<br>
HM – Michael Schwarz, Atlanta Journal-Constitution</p>
<p><strong>FEATURE</strong><br>
First – Robin Rombach, Pittsburgh Press<br>
Second – John G. Davenport, San Antonio Express-News<br>
Third – Robert York, Palm Beach Daily News<br>
HM – Gerry Pate, Spartanburg Herald-Journal<br>
HM – Joey Ivansco, Atlanta Journal-Constitution</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – Rich Addicks, Atlanta Journal-Constitution<br>
Second – Walt Stricklin, Atlanta Journal-Constitution<br>
Third – Joe Barrera Jr., San Antonio Express-News<br>
HM – Gerald Martineau, Washington Post<br>
HM – Jerry W. Hoefer, Ft. Worth Star-Telegram</p>
<p><strong>PICTORIAL</strong><br>
First – Bill Frakes, Miami Herald<br>
Second – James H. Wallace, Louisville Courier-Journal<br>
Third – Ed Suba Jr., Akron Beacon-Journal<br>
HM – Andy Kauffman, South Plantation High School<br>
HM – Vicki Buckner, Greensboro News & Record</p>
<p><strong>EDITORIAL ILLUSTRATION</strong><br>
First – Susan Gardner, Ft. Lauderdale News/Sun-Sentinel<br>
Second – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Anne Ryan, Ft. Lauderdale News/Sun-Sentinel<br>
HM – Bruce Helm, Milwaukee Journal<br>
HM – Marice Cohn Band, Miami Herald</p>
<p><strong>FASHION</strong><br>
First – Joey Ivansco, Atlanta Journal-Constitution<br>
Second – Marice Cohn Band, Miami Herald<br>
Third – J.D. Schwalm, Jackson Clarion-Ledger<br>
HM – Marice Cohn Band, Miami Herald<br>
HM – Vicki Buckner, Greensboro News & Record<br>
HM – Ed Suba Jr., Akron Beacon-Journal</p>
<p><strong>FOOD</strong><br>
First – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Chris Usher, Orlando Sentinel</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
HM – Patrick Farrell, Miami Herald</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – Jonathan S. Kral, Miami Herald<br>
Second – Charles Trainor Jr., Miami Herald<br>
Third – Charles Trainor Jr., Miami Herald<br>
HM – Patrick Farrell, Miami Herald<br>
HM – Alan Lessig, University of Kentucky<br>
HM – Judy Lutz, Pittsburgh Post-Gazette</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – Charles Trainor Jr., Miami Herald<br>
Second – Charles Bertram, Lexington Herald-Leader<br>
Third – Carol Guzy, Washington Post<br>
HM – John Keating, Newsday<br>
HM – William Snyder, Dallas Morning News</p>
<p><strong>CAMPAIGN '88</strong><br>
First – David Murray Jr., Ft. Lauderdale News/Sun-Sentinel<br>
Second – Andy Sharp, Atlanta Journal-Constitution<br>
Third – Dave Einsel, Houston Chronicle<br>
HM – Joseph A. Garcia, Western Kentucky University<br>
HM – Michael Malone, Lexington Herald-Leader<br>
HM – Alan Lessig, University of Kentucky</p>
<p style="text-align: center;">
<a href="/contest/winners/eighty-seven/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/eighty-nine/">NEXT YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>

