---
title: 1976 Winners
navigation: Contest
---

<h1>1976 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 1976 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1976 print photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST PORTFOLIO</strong><br>
No award</p>
<p><strong>JOHN BENT AWARD</strong><br>
No award</p>
<p><strong>PICTURE STORY & ESSAY</strong><br>
First – Nancy Warnecke, The Tennessean<br>
Second – Randy Cox, Jackson (MS) Clarion-Ledger<br>
Third – Neil B. McGahee, The Bradenton (FL) Herald<br>
HM – Larry Kasperek, Jackson Clarion-Ledger<br>
HM – Larry Kasperek, Jackson Clarion-Ledger</p>
<p><strong>SPOT NEWS</strong><br>
First – Dean D. Dixon, Mobile Press Register<br>
Second – Akira Suwa, Palm Beach Post-Times<br>
Third – Jimmy Ellis, The Tennessean<br>
HM – Mark Petty, Pensacola News-Journal<br>
HM – Joe Maher, Columbus Ledger-Enquirer</p>
<p><strong>GENERAL NEWS</strong><br>
First – Frank Empson, The Tennessean<br>
Second – Steve Murray, Raleigh News and Observer, and Times<br>
Third – Norman N. Smith, The Bradenton Herald<br>
HM – Bill Welch, The Tennessean<br>
HM – Neil B. McGahee, The Bradenton Herald</p>
<p><strong>SPORTS</strong><br>
First – Charles Pugh Jr, Atlanta Journal-Constitution<br>
Second – Jim Strickland, Raleigh News and Observer, and Times<br>
Third – Akira Suwa, Palm Beach Post-Times<br>
HM – Larry Kasperek, Jackson Clarion-Ledger<br>
HM – Steve Murray, Raleigh News and Observer, and Times</p>
<p><strong>FEATURES</strong><br>
First – Bryan Grigsby, Gainesville Sun<br>
Second – Suzanne Shingler, The Albany Herald<br>
Third – Randy Cox, Jackson Clarion-Ledger<br>
HM – Ricardo Ferro, St. Petersburg Times & Independent<br>
HM – Nancy Warnecke, The Tennessean</p>
<p><strong>PERSONALITIES & PORTRAIT</strong><br>
First – Jim Wright, Gainesville Sun<br>
Second – Lanna J. Harris, United Press International, Atlanta<br>
Third – Randy Cox, Jackson Clarion-Ledger<br>
HM – Nancy Warnecke, The Tennessean<br>
HM – R.M. Blumensaadt, Georgia Tech</p>
<p><strong>SCENIC</strong><br>
First – Jim Strickland, Raleigh News and Observer, and Times<br>
Second – Chuck Beckley, Journal and Sentinel (Winston Salem, NC)<br>
Third – Nancy Warnecke, The Tennessean<br>
HM – Bob East III, Ft. Lauderdale News<br>
HM – Gene Furr, Raleigh News and Observer, and Times</p>
<p><strong>NATURE</strong><br>
First – Jim Wright, Gainesville Sun<br>
Second – Mary V. Southworth, Ft. Lauderdale News<br>
Third – N.R. von Staden, Ft. Lauderdale News<br>
HM – Mitch L. Kezar, Tampa Tribune<br>
HM – Bill Sanders, Asheville Citizen-Times</p>
<p><strong>ILLUSTRATIVE & ADVERTISING & ABSTRACT</strong><br>
No award</p>
<p><strong>ARCHITECTURE & INDUSTRIAL</strong><br>
First – R.M. Blumensaadt, Georgia Tech<br>
Second – Akira Suwa, Palm Beach Post-Times<br>
Third – R.M. Blumensaadt, Georgia Tech<br>
HM – Jim Trumpp, University of South Carolina<br>
HM – Jim Wright, Gainesville Sun</p>
<p><strong>CAMPAIGN '76</strong><br>
First – Larry Kasperek, Jackson Clarion-Ledger<br>
Second – Nancy Warnecke, The Tennessean<br>
Third – Mike Ramsey, Gulf Publishing Co., Biloxi, MS<br>
HM – Mike Ramsey, Gulf Publishing Co., Biloxi, MS<br>
HM – Michael Pugh, United Press International, Atlanta</p>

<%= partial 'layouts/contest_navigation', locals: { year: 1976 } %>

