---
title: 2019 Contest Categories
navigation: Contest
---

<%= partial 'contest/contest_message' %>

<p>Photographers may enter any of the categories listed below, as well as the portfolio competition.</p>

<ol>
  <li><strong>Spot News</strong> - A single picture of an unscheduled event for which no advance planning was possible.</li>
  <li><strong>General News</strong> -  A picture of a scheduled or organized event for which advance planning was possible.</li>
  <li><strong>Feature</strong> - Usually a found situation with strong human interest; a fresh view of an everyday scene.</li>
  <li><strong>Sports Action</strong> -  A single picture showing participation in a game or athletic event.</li>
  <li><strong>Sports Feature</strong> - A feature picture that is sports related.</li>
  <li><strong>Portrait/Personality</strong> - A picture that captures an aspect of the subject's character.</li>
  <li><strong>News Picture Story</strong> - A collection of photos with a single theme that fits the description of the Spot News or General News category. 12 image maximum.</li>
  <li><strong>Chris Hondros Memorial International News</strong> - This category is in memory of Getty Images staff photographer Chris Hondros, who died on April 20, 2011 while covering conflict in Libya. Images should be a collection of photos with a single theme that have been taken outside of U.S. territory. 12 image maximum.</li>
  <li><strong>Feature Picture Story/Essay</strong> - A collection of photos with a single theme that fits the description of the Feature category. 12 image maximum.</li>
  <li><strong>Sports Picture Story</strong> - A collection of photos with a single theme that fits the description of the Sports Action or Sports Feature category. 12 image maximum.</li>
  <li><strong>Short Term Documentary Project</strong> - A single linear narrative with a journalistic approach produced for the web, which lasts no longer than 5 minutes. The production must include photography and/or film in combination with (but not limited to) animation, graphics, illustrations, sound or text. Key is storytelling, along with a proficient use of visual and other elements.</li>
  <li><strong>Long Term Documentary Project</strong> - A single linear narrative or series of linear narratives on a single topic with a journalistic storyline and produced for the web, which lasts no longer than 10 minutes. The production(s) must include photography and/or film in combination with (but not limited to) animation, graphics, illustrations, sound or text. The focus is skillful storytelling with strong narration building, competently executed using visual and other elements.</li>
</ol>

<h3>Multimedia Entries</h3>

<ul>
  <li>No more than 3 multimedia entries per person are permitted.</li>
  <li>Multimedia entries are required to provide a URL to their video, preferably uploaded to <a href="https://vimeo.com">Vimeo</a></li>
</ul>

<h3>Portfolio Entries</h3>

<p>There are two types of portfolio entries for this contest: <strong>Best Portfolio</strong> or <strong>Rich Mahan Best Student Portfolio</strong>. A portfolio entry does not count as entry, and is simply a combination of the images entered in the contest categories.</p>

<p>Photographers wishing to be considered for one of the portfolio awards should upload their photos under one of the Best Portfolio categories in the contest application.</p>

<ul>
  <li>Multimedia content is not allowed in portfolio submission.</li>
  <li>Each portfolio MUST include an entry from one multiple picture category (<strong>News Picture Story</strong>, <strong>Feature Picture Story</strong>, <strong>Sports Picture Story</strong>) and from one news category (<strong>Spot News</strong>, <strong>General News</strong>, <strong>News Picture Story</strong>).</li>
  <li>Portfolios may contain no more than 10 entries.</li>
  <li>Portfolios may contain no more than 40 images total.</li>
  <li>A picture story counts (12 images max per story) as one entry.</li>
  <li>Students may enter either the <strong>Best Portfolio</strong> or the <strong>Rich Mahan Student Portfolio</strong> competition, but not both.</li>
  <li>Only students who have not yet graduated are eligible for the Student category, therefore students should enter the contest with a University affiliation listed on their entry form, not a publication.</li>
  <li>There is no need to include separate folders inside the portfolio folder, loose images inside this folder is preferred.</li>
  <li>Portfolio entries will be judged separately from Category entries so you must make copies of the category entries you wish to be considered in your portfolio entry. You may simply duplicate your category entries, placing the copies in your portfolio folder.</li>
  <li>The <strong>Rich Mahan Student Portfolio</strong> honors the memory of former Seminar Board Member Rich Mahan.</li>
</ul>