---
title: 2012 Rich Mahan Best Student Portfolio
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>Winner: Jabin Botsford / Western Kentucky University</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel', yaml_data: 'source/contest/winners/2012/rich-mahan-best-student-portfolio/slideshow.yml' } %>

