---
title: 1986 Winners
navigation: Contest
---

<h1>1986 Winners</h1>

<p>The following are the winners from the 1986 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/eighty-five/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/eighty-seven/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 1986 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
David Spencer – The Sun-Tattler</p>
<p><strong>BEST STUDENT PORTFOLIO</strong><br>
Steve Hanks, Western Kentucky University<br>
HM – Scott Wiseman, Western Kentucky University<br>
HM – Chris Usher, Indiana University</p>
<p><strong>BEST PORTFOLIO</strong><br>
First – Brian Smith, Miami Herald<br>
HM – David Spencer, Sun-Tattler<br>
HM – Brian Peterson, St. Paul Pioneer Press Dispatch</p>
<p><strong>GEORGIA PHOTOGRAPHER of the YEAR</strong><br>
Rich Addicks, Atlanta Journal and Constitution<br>
HM – John Spink, Atlanta Journal and Constitution<br>
HM – Andy Sharp, Atlanta Journal and Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First – Greg Lovett, Western Kentucky University<br>
Second – Joyce Marshall, Fort Worth Star Telegram<br>
Third – Bruce Moyer, Naples Daily News<br>
HM – Scott Wheeler, Independent Florida Alligator<br>
HM – John G. Davenport, San Antonio Express-News</p>
<p><strong>GENERAL NEWS</strong><br>
First – Brian Peterson, St. Paul Pioneer Press Dispatch<br>
Second – Rich Addicks, Atlanta Journal and Constitution<br>
Third – Bernard Troncale, Birmingham News<br>
HM – John Beale, Pittsburgh Post-Gazette<br>
HM – Judy Lutz, The Sun Tattler</p>
<p><strong>SPORTS ACTION</strong><br>
First – Ken Geiger, Dallas Morning News<br>
Second – Shaun Stanley, Palm Beach Post<br>
Third – John Doman, St. Paul Pioneer Press Dispatch<br>
HM – Shaun Stanley, Palm Beach Post<br>
HM – William Snyder, Dallas Morning News</p>
<p><strong>SPORTS FEATURES</strong><br>
First – Brian Peterson, St. Paul Pioneer Press Dispatch<br>
Second – Rebecca Barger, Trenton (New Jersey) Times<br>
Third – Rhonda Goodman, Freelance<br>
HM – Chris Usher, Indiana University<br>
HM – David Walters, Miami Herald</p>
<p><strong>FEATURE</strong><br>
First – Michael Mercanti, Philadelphia Daily News<br>
Second – Larry Coyne, Memphis Commercial Appeal<br>
Third – Jamie Francis, Durham (NC) Herald<br>
HM – Richard Lipski, Washington Post<br>
HM – Joe Rimkus, Miami Herald</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – Judy Lutz, Sun Tattler<br>
Second – George Thompson, Chicago Tribune<br>
Third – Tom Hirschfeld, Indiana University<br>
HM – Steve Koger, Palladium Item<br>
HM – Dennis Hamilton, Florida Times Union</p>
<p><strong>PICTORIAL</strong><br>
First – William Snyder, Dallas Morning News<br>
Second – Gary Porter, Milwaukee Journal/Sentinel<br>
Third – Brian Smith, Miami Herald<br>
HM – Ron Jenkins, Fort Worth Star Telegram<br>
HM – Bernard Troncale, Birmingham News</p>
<p><strong>EDITORIAL ILLUSTRATION</strong><br>
First – David Spencer, Sun Tattler<br>
Second – Jan Housewerth, Boston Globe<br>
Third – Laura Elliot, Fort Myers News-Press<br>
HM – Dave Kraus, Tulsa Tribune<br>
HM – Jeff Barnes, Augusta Chronicle-Herald</p>
<p><strong>FASHION</strong><br>
First – Dennis Hamilton, Florida Times Union<br>
Second – Kelly Wilkinson, Gwinnett Daily News<br>
Third – William Snyder, Dallas Morning News<br>
HM – Melissa Mimms, Palm Beach Post<br>
HM – Marice Carolyn Cohn, Miami Herald</p>
<p><strong>FOOD</strong><br>
First – Keith Boyer, Birmingham Post-Herald<br>
Second – Kim Kulish, Birmingham Post-Herald<br>
Third – Craig Trumbo, Florida Times-Union</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First – Gary Porter, Milwaukee Journal and Sentinel<br>
Second – J. Gillis Courson, Louisville Courier-Journal and Times<br>
Third – Craig Trumbo, Florida Times-Union<br>
HM – Rick Bowmer, Philadelphia Daily News<br>
HM – John Keating, Dallas Times Herald</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – David Spencer, Sun Tattler<br>
Second – Laura Elliot, Fort Myers News Press<br>
Third – Melissa Mimms, Palm Beach Post<br>
HM – Susan Griffith, Gwinnett Daily News<br>
HM – Rick McKay, Cox Newspapers</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – Brian Smith, Miami Herald<br>
Second – John G. Davenport, San Antonio Press News<br>
Third – Ben Van Hook, Louisville Courier-Journal and Times<br>
HM – John Keating, Dallas Times Herald<br>
HM – Rick Bowmer, Philadelphia Daily News</p>
<p style="text-align: center;">
<a href="/contest/winners/eighty-five/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/eighty-seven/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
