---
title: 2000 Winners
navigation: Contest
---

<h1>2000 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 2000 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 2000 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Alan Diaz, of The Associated Press</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Reza A. Marvashti , The Free Lance-Star<br>
Second Place — Mike Fender, The Indianapolis Star<br>
Third Place — Matt Detrich, The Indianapolis Star<br>
HM — Bruce Bennett, The Palm Beach Post</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Melanie Burford, Ohio University<br>
Second Place — Jonathan Kirshner, Western Kentucky University<br>
Third Place — Amber Tanille Woolfalk, Western Kentucky University<br>
HM — James W. Prichard, Ohio University</p>
<p><strong>STAFF OF THE YEAR</strong><br>
Los Angeles Times<br>
Runner up — The Free Lance—Star</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Alan Diaz, The Associated Press "Elian Gonzalez"<br>
Second Place — Reza A. Marvashti, The Free Lance-Star "Jumper"<br>
Third Place — Tom Fox, Arlington Morning News<br>
HM — Jamie Francis, St. Petersburg Times "Brothers Kiss"</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Genevieve Ross, The Virginian Pilot "Heart Receipient"<br>
Second Place — Randall Hill, The Sun News "In Memory of Rusty"<br>
Third Place — H. Rick Mach, Western Kentucky University "Cry"<br>
HM — Francis Gardler, Patuxent Publishing Company "Stars and Stripes"<br>
HM — Carl Seibert, Ft. Lauderdale Sun-Sentinel "Elian's Saga"</p>
<p><strong>FEATURE</strong><br>
First Place — Randall Hill, The Sun News "Slam Jam"<br>
Second Place — Beatrice DeGea, The Los Angeles Times Mariachi"<br>
Third Place — Davis Turner, The Free Lance-Star "Resting Rider"<br>
HM — Jeffrey Sauger, Detroit Free Press "Summer School"<br>
HM — Mark Cornelison, Lexington Herald Leader "First Haircut"<br>
HM — Todd Sumlin, The Charlotte Observer "Chess World"<br>
HM — Matt Detrich, Indianapolis Star</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Wally Skalij, The Los Angeles Times "In Perfect Form"<br>
Second Place — Jim Rassol, Ft. Lauderdale Sun-Sentinel "The Sack"<br>
Third Place — Justin Best, The Hearld "Wrestling Victory"<br>
HM — Toni L. Sandys, St. Petersburg Times "Grass Face"<br>
HM — Bill Steber,The Tennessean "Ouch"<br>
HM — Anthony Stalcup, Gwinnett Daily Post "The Kick"<br>
HM — Melissa Little, Ft. Lauderdale Sun—Sentinel "Rimlit Run"</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Alan Hawes, The Post & Courier "Football Freezer"<br>
Second Place — Richard Chapman, The Chicago Sun Times "Bailout at the Prep Bowl"<br>
Third Place — Robert Cohen, St. Louis Post Dispatch "Warner Waits"<br>
HM — Robert Mayer , Ft. Lauderdale Sun-Sentinel "In the Light"<br>
HM — Robert Cohen, St. Louis Post Dispatch "Head Start"<br>
HM — Joey Ivansco, Atlanta Journal-Constitution "Wave Home"<br>
HM — Jahi Chikwendiu, Lexington Herald-Leader "Pain of Loss"<br>
HM — Steven Smith, Albuquerque Tribune</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place — Beatrice DeGea, Los Angeles Times "Kate"<br>
Second Place — Allen Schaben, Los Angeles Times "Repairing the Abuse"<br>
Third Place — John White, Ft. Lauderdale Sun-Sentinel "Eyes"<br>
HM — Rick Loomis, Los Angeles Times "Watchdog"<br>
HM — Melanie Burford, Ohio University "Waiting"<br>
HM — Jamie Rector, St. Louis Post-Dispatch "Yemeni Woman"<br>
HM — Anastia Walsh, Ft. Lauderdale Sun-Sentinel "Vieques Resident"</p>
<p><strong>PICTORIAL</strong><br>
First Place — Jacek Gancarz, Palm Beach Daily News "Parisian Glance"<br>
Second Place — Donna Natale, The Miami Herald "Despair"<br>
Third Place — Michael Rondou, St. Petersburg Times "The Awakening"<br>
HM — Greg Lovett, Palm Beach Post "Rodeo"<br>
HM — Lisa DeJong, "Ethereal Waters"<br>
HM — Joey Ivansco, The Atlanta Journal-Constitution "Coathanger at Dusk"<br>
HM — Bruce Bennett, Palm Beach Post "Writing on the Wall"<br>
HM — Rick Loomis, Los Angeles Times "Storm Chaser"</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Tomás Ovalle, The Fresno Bee "Middle Management Meltdown"<br>
Second Place — Matt Detrich, Indianapolis Star<br>
Third Place — Kent Phillips, Detroit Free Press "Shades of Sweetness"<br>
HM — Raul Rubiera, The Miami Herald "In Flight"<br>
HM — Genevieve Ross, The Virginian Pilot "Baking Bread"<br>
HM — Kent Phillips, Detroit Free Press "Shadows"</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Jeff Davis, The Topeka Capital-Journal "Power of Touch"<br>
Second Place — Francisco Kjolseth, The Charlotte Observer "Guns at School"<br>
Third Place — Francisco Kjolseth, The Charlotte Observer "Kicking Butts"<br>
HM — Dirk Shadd, St. Petersburg Times "Forget the Fork"<br>
HM — Kent Phillips, The Detroit Free Press "Cutting the Cord"</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — Jeff Siner, The Charlotte Observer "Vernon's Goodbye"<br>
Second Place — Lisa DeJong, St. Petersburg Times "Joyful Passing"<br>
Third Place — Frank J. Amon, The Free Lance-Star<br>
HM — Patrick Schneider, The Charlotte Observer "Hands of Baptism"</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Alan Diaz, The Associated Press "Elian Gonzalez"<br>
Second Place — Jamie Francis, St. Petersburg Times "Iraq: 10 Years of Sanctions"<br>
Third Place — Scott Strazzante, The Joliet (IL) Herald News "Caught in the Middle"<br>
HM — Candice C. Cusic, The Chicago Tribune "A Mother's Nightmare"<br>
HM — Lannis Waters, Palm Beach Post "Not Going to Vote"<br>
HM — Rick Loomis, Los Angeles Times "Day's Last Haul"<br>
HM — Enric Marti, The Associated Press "Mideast Conflict"</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Callie Lipkin, The Beacon News "A National Obsession"<br>
Second Place — Frank J. Amon, The Free Lance-Star<br>
Third Place — Gayle Shomer, The Charlotte Observer, "Girl Football"<br>
HM — Greg Lovett, Palm Beach Post "Rodeo"</p>

<%= partial 'layouts/contest_navigation', locals: { year: 2000 } %>