---
title: 2019 Chris Hondros Memorial International News
navigation: Contest
layout: wide
comments: on
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Dieu Nalio Chery / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-c0347b', yaml_data: 'source/2019/chris-hondros-memorial-international-news/slideshow-first-place-c0347b.yml' } %>

<h3>Second Place: Dar Yasin / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-15848b', yaml_data: 'source/2019/chris-hondros-memorial-international-news/slideshow-second-place-15848b.yml' } %>

<h3>Third Place: Javier Fergo / Stringer AP</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-868d5f', yaml_data: 'source/2019/chris-hondros-memorial-international-news/slideshow-third-place-868d5f.yml' } %>