---
title: Hotel Information
navigation: About
comments: on
---

<h1>Hotel Information</h1>

<p>The <strong>2014 Atlanta Photojournalism Seminar</strong> will be held November 13-15 at the <a href="http://www.westinatlantanorth.com/">Westin Atlanta North</a> (our fourth year at this location).</p>

<img src="https://photojournalism.s3.amazonaws.com/westin_atlanta_north.jpg" alt="Westin Atlanta North"><br><br>

<iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=7+Concourse+Parkway+Northeast,+Sandy+Springs,+GA&amp;aq=0&amp;oq=7+concourse+&amp;sll=33.242923,-84.277361&amp;sspn=0.091597,0.154152&amp;ie=UTF8&amp;hq=&amp;hnear=7+Concourse+Pkwy+NE,+Sandy+Springs,+Georgia+30328&amp;t=m&amp;ll=33.915586,-84.354916&amp;spn=0.02493,0.042915&amp;z=14&amp;iwloc=A&amp;output=embed" class="hotel-map" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe><br>
<small><a style="color: #0000ff; text-align: left;" href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=7+Concourse+Parkway+Northeast,+Sandy+Springs,+GA&amp;aq=0&amp;oq=7+concourse+&amp;sll=33.242923,-84.277361&amp;sspn=0.091597,0.154152&amp;ie=UTF8&amp;hq=&amp;hnear=7+Concourse+Pkwy+NE,+Sandy+Springs,+Georgia+30328&amp;t=m&amp;ll=33.915586,-84.354916&amp;spn=0.02493,0.042915&amp;z=14&amp;iwloc=A" target="_blank">View Larger Map</a></small>
