---
title: 2019 Best Portfolio
navigation: Contest
comments: on
---

<%= partial 'layouts/return_to_winners' %>


<h3>Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-065ae4', yaml_data: 'source/contest/winners/2019/best-portfolio/slideshow-first-place-065ae4.yml' } %>