---
title: 2012 Best Portfolio
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>Winner: Javier Arcenillas / GEA Photowords</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4', yaml_data: 'source/2012/best-portfolio/slideshow.yml' } %>

