---
title: 2021 Sports Picture Story
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Sascha Fromm / Thüringer Allgemeine</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e18a27', yaml_data: 'source/2021/sports-picture-story/slideshow-first-place-e18a27.yml' } %>

<h3>Second Place: Emilio Morenatti / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-9e7a8a', yaml_data: 'source/2021/sports-picture-story/slideshow-second-place-9e7a8a.yml' } %>

<h3>Third Place: Jordi Cohen</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4bf5f6', yaml_data: 'source/2021/sports-picture-story/slideshow-third-place-4bf5f6.yml' } %>