---
title: 2018 Best In Show
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-9bc4d2', yaml_data: 'source/contest/winners/2018/news-picture-story/slideshow-first-place-9bc4d2.yml' } %>