---
title: Judging and Prizes
navigation: Contest
---

<h1>Judging</h1>

<%= partial 'contest/contest_message' %>

<p>Contest judges consist of seminar faculty members. Open elimination rounds and closed portfolio judging will take place on Thursday, Nov 13, 2014. Final rounds of open judging are held during the Seminar on Friday, Nov. 14. Winners will be announced during the Seminar and posted on our website soon after the Nov. 15 awards ceremony.</p>

<h1>Prizes</h1>

<ul>
  <li>$1,000 and Nikon equipment for Best Portfolio</li>
  <li>$750 and Nikon equipment for 1st place Rich Mahan</li>
  <li>Student Portfolio</li>
  <li>$500 for Best in Show</li>
  <li>$100 awarded to all First Place winners</li>
</ul>

<p>First place winners receive plaques; second and third place winners and honorable mentions receive certificates. Special recognition will be given to the newspaper staff winning the most points in competition. Staff points are awarded as follows: Honorable Mention=1 point, Third Place=2 points, Second place= 3 points, First place= 4 points, Best Portfolio= 5 points. No staff points will be awarded for Best of Show.</p>