---
title: 2016 Judging and Prizes
navigation: Contest
---

<%= partial 'contest/contest_message' %>

<p>Contest judges are comprised of seminar faculty members. All judging will take place on Friday, November 11, 2016. Winners will be announced during the Seminar on Saturday, November 12, 2016, and posted on our website shortly after our awards ceremony.</p>

<h1>Prizes</h1>

<ul>
  <li>$1,000 for Best Portfolio and a Nikon Camera</li>
  <li>$750 for 1st place Rich Mahan Student Portfolio and a Nikon Camera</li>
  <li>$500 for Best in Show and a Nikon Camera</li>
  <li>$100 awarded to all First Place winners</li>
</ul>

<small><em>Note: Nikon camera model to be determined, and will be chosen at Nikon's discretion.</em></small>