---
title: 2018 Judging and Prizes
navigation: Contest
---

<%= partial 'contest/contest_message' %>

<p>Contest judges are comprised of seminar faculty members. All judging will take place on Friday, November 9, 2018. Winners will be announced during the Seminar on Saturday, November 10, 2018, and posted on our website shortly after our awards ceremony.</p>

<h1>Prizes</h1>

<ul>
  <li>$1,000 for Best Portfolio</li>
  <li>$750 for 1st place Rich Mahan Student Portfolio</li>
  <li>$500 and Sony A6500 Camera Kit for Best in Show</li>
  <li>$100 awarded to all First Place winners</li>
</ul>