---
title: 2015 Judging and Prizes
navigation: Contest
---

<%= partial 'contest/contest_message' %>

<p>Contest judges consist of seminar faculty members. All judging will take place on Friday, Nov 13, 2015. Winners will be announced during the Seminar on Saturday, Nov 14, 2015 and posted on our website soon after the awards ceremony.</p>

<h1>Prizes</h1>

<ul>
  <li>$1,000 for Best Portfolio</li>
  <li>$750 for 1st place Rich Mahan Student Portfolio</li>
  <li>$500 for Best in Show</li>
  <li>$100 awarded to all First Place winners</li>
</ul>

<p>First place winners receive plaques; second and third place winners and honorable mentions will receive certificates.</p>