---
title: Volunteer
navigation: Volunteer
---

<p>Each year the Seminar chooses 12 college students as volunteers. Volunteers are granted free Seminar tuition and supplied with a shared hotel room and 2 meals/day. Volunteers are obligated to perform assigned tasks during the Seminar that may preclude attendance at some Seminar events.</p>

<p>Deadline for submissions is <strong>September 15, 2018</strong>. Volunteers will be informed of their acceptance no later than <strong>September 25, 2018</strong>.</p>

<p>Please copy these questions and send your answers to Volunteer coordinator Mikki Harris at <a href='mailto:mikki@photojournalism.org'>mikki@photojournalism.org</a>.</p>

<p>
<strong>Information</strong><br>
Name:<br>
Email Address:<br>
Phone Number:<br>
Age:<br>
Gender (for hotel room assignment purposes):<br>
School:<br>
Major:<br>
Year (preference is given to Seniors):<br>
Website:<br>
Have you volunteered at the Seminar before? <br>
Have you attended the Seminar before? <br>
Why do you want to be a volunteer? <br>
</p>

<p>
<strong>Reference #1</strong><br>
Name<br>
Relationship<br>
Email<br>
</p>

<p>
<strong>Reference #2</strong><br>
Name<br>
Relationship<br>
Email<br>
</p>