---
title: 2002 Winners
navigation: Contest
---

<h1>2002 Winners</h1>

<p>The following are the winners from the 2002 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/one/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/three/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 2002 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Jamie Francis, St. Petersburg Times</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Barry Gutierrez, Rocky Mountain News<br>
Second Place — Chris Hondros, Getty Images<br>
Third Place — Kurt Vinion, Freelance, Berlin<br>
HM — Barbara Davidson, The Dallas Morning News<br>
HM — Chris M. Schneider, Ventura County Star</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Brian Wagner, Western Kentucky University<br>
Second Place — Peter van Agtmael, Yale University<br>
Third Place — James Rajotte, Penn State University<br>
HM — Nina Greipel, Western Kentucky University<br>
HM — Jennifer Sens, University of Florida</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Matt Inden, Rocky Mountain News freelance “Fatal Firefight”<br>
Second Place — Lin Jun—yi, The Associated Press “Boat Fire”<br>
Third Place — Tom Pennington, Ft. Worth Star—Telegram “Toronado”<br>
HM — Matt May, St. Augustine Record “Gas Station Homicide”<br>
HM — Stephen M. Katz, Bangor Daily News “Blaze”</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Chris Hondros, Getty Images “Homeless Girl”<br>
Second Place — Maria Avila, Rocky Mountain News “Final Farewell”<br>
Third Place — Nuri Valbona, Miami Herald “Delayed Voter”<br>
HM — Patrick Schneider, The Charlotte Observer “Dry as a Bone”<br>
HM — Mark Hancock, The Dallas Morning News “Richard Rozier”</p>
<p><strong>FEATURE</strong><br>
First Place — Jeremy Lurgio, Ravalli Republic “Wedding Wildfire”<br>
Second Place — Brian Davies, Eugene Register—Guard “Reading Buddies”<br>
Third Place — Eric Schmadel, Greensburg (PA) Tribune—Review”<br>
HM — Francis Gardler, Patuxent Publishing “Watered Down”</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Robert Hendricks, Casper Star—Tribune “Bull Rider”<br>
Second Place — Vincent Thain, Associated Press “Sepak Takraw”<br>
Third Place — James Borchuck, St. Petersburg Times “Lost Ski”<br>
HM — Vasha Hunt, Opelika—Auburn News “Tackled”<br>
HM — Francis Gardler, Patuxent Publishing “Goalkeeper Save”</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Marc Piscotty, Rocky Mountain News “Breather”<br>
Second Place — Josh Meltzer, Roanoke Times “Skater”<br>
Third Place — Patrick Schneider, The Charlotte Observer “Through the Smoke”<br>
HM — Jeff Roberson, Kansas City Star “State Champ”<br>
HM — Christopher A. Record, The Charlotte Observer “Happy Sapp”</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place — William Plowman, Reflex News/freelance “Raised on the Klan”<br>
Second Place — Ronald W. Erdrich, Abilene Reporter—News “At Home”<br>
Third Place — Bill Steber, The Tennessean “Rapper Haystack”<br>
HM — Brian Harkin, University of Missouri—Columbia “Funeral Home”<br>
HM — Lisa Krantz, Naples Daily News “Bathing”</p>
<p><strong>PICTORIAL</strong><br>
First Place — Mona Reeder, Dallas Morning News “Afghan Brick Factory”<br>
Second Place — Aristide Economopoulos, Newark Star—Ledger “Blue View”<br>
Third Place — Jamie Francis, St. Petersburg Times, “Checker Board”<br>
HM — Steven G. Smith, Rocky Mountain News “Chandelier”</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Bruce Bennett, Palm Beach Post “Mango”<br>
Second Place — Leah Hogsten, Salt Lake Tribune “Cherry Delight”<br>
Third Place — Jen Frieberg, Ft. Worth Star—Telegram “Texas Wine”<br>
HM — Stephanie Grace Lim, San Jose Mercury News “Lust for Limes”</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Francisco Kjolseth, Salt Lake Tribune “Spring Cleaning”<br>
Second Place — Carol Cleere, Tampa Tribune “A New Day For Newspapers”<br>
Third Place — Bill Steber, The Tennessean “Budget Crisis”</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — Jamie Francis, St. Petersburg Times “The Deuces”<br>
Second Place — Robert Cohen, St. Louis Post—Dispatch “Virgie’s Man”<br>
Third Place — Bradley Clift, Hartford Courant “Jessica &amp; John”<br>
HM — Kurt Vinion, Freelance “Lost Generation”<br>
HM — Chip Litherland, Sarasota Herald—Tribune “Inmate Cowboys”</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Cheryl Diaz Meyer, The Dallas Morning News “Tense Waiting”<br>
Second Place — Jamie Francis, St. Petersburg Times “Palestinians”<br>
Third Place — Mona Reeder, The Dallas Morning News “Riot In Kabul”<br>
HM — Barbara Davidson, The Dallas Morning News “Afghan POW Prison”<br>
HM — Jerome Delay, Associated Press “Mideast Turmoil”</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Chris Curry, Journal Star “Cairo’s Hope”<br>
Second Place — Damon Winter, The Dallas Morning News “Afghan Sports”<br>
Third Place — Sam Dean, Roanoke Times “Life In The Bus League”</p>
<p><strong>NEW WAR — SINGLE</strong><br>
First Place — Barry Reeger, Tribune—Review “Soldier Sendoff”<br>
Second Place — John Pendygraft, St. Petersburg Times “Youth Remember”<br>
Third Place — Eric Gay, Associated Press, “One Year Later”<br>
HM — Scott Spangler, Tribune—Review “Patriot”<br>
HM — Jamie Francis, St. Petersburg Times “Dove for Karzai”</p>
<p><strong>NEW WAR — STORY</strong><br>
First Place — Melissa Lyttle, Ft. Lauderdale Sun—Sentinel “The Ghosts of 9/11″<br>
Second Place — Jamie Francis, St. Petersburg Times “Two Dollars a Day”<br>
Third Place — Robert Mayer, Ft. Lauderdale Sun—Sentinel, “Trigger Emotions”<br>
HM — Damon Winter, Dallas Morning News “9/11 Portraits”</p>
<p style="text-align: center;"><a href="/contest/winners/one/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/three/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;<a href="/contest/winners/three/"></a><a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
