---
title: 2014 Sports Picture Story
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Daniel Ochoa de Olza / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-2954b6', yaml_data: 'source/contest/winners/2014/sports-picture-story/slideshow-first-place-2954b6.yml' } %>

<h3>Second Place: Patrick Smith / Freelance</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-12af3b', yaml_data: 'source/contest/winners/2014/sports-picture-story/slideshow-second-place-12af3b.yml' } %>

<h3>Third Place: Andres Kudacki / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-a8e51b', yaml_data: 'source/contest/winners/2014/sports-picture-story/slideshow-third-place-a8e51b.yml' } %>