---
title: 2011 Winners
navigation: Contest
---

<h1>2011 Winners</h1>

<p>The following are the winners from the 2011 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/ten/">PREVIOUS YEAR&nbsp;</a>&nbsp; &nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/twelve/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 2011 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong><strong>BEST IN SHOW</strong><br>
</strong>Estaban Felix/The Associated Press</p>
<p><strong>BEST PORTFOLIO</strong><br>
Rodrigo Abd/The Associate Press</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
Bryan Thomas/Ohio University</p>
<p><strong>BEST WIRE STAFF<br>
</strong>The Associated Press</p>
<p><strong>BEST NEWSPAPER STAFF (TIE)<br>
</strong>The Denver Post<br>
The Register-Mail</p>
<p><strong>SPOT NEWS<br>
</strong>First Place –&nbsp;Dimitri Messinis/The Associated Press<br>
Second Place –&nbsp;Anja Niedringhaus/The Associated Press<br>
Third Place –&nbsp;Felipe Dana/The Associated Press<br>
HM –&nbsp;Anja Niedringhaus/The Associated Press<br>
HM&nbsp;–&nbsp;Ramon Espinosa/The Associated Press</p>
<p><strong>GENERAL NEWS</strong><br>
First Place –&nbsp;Manu Brabo/The Associated Press<br>
Second Place –&nbsp;Joseph Raedle/Getty Images<br>
Third Place –&nbsp;Dar Yasin/The Associated Press<br>
HM&nbsp;–&nbsp;Carlos Barria/Reuters<br>
HM&nbsp;–&nbsp;Emilio Morenatti/The Associated Press</p>
<p><strong>FEATURE<br>
</strong>First Place –&nbsp;Lisa Wiltse<br>
Second Place –&nbsp;William B. Plowman<br>
Third Place –&nbsp;Joseph Raedle/Getty Images<br>
HM&nbsp;–&nbsp;Ariana McLaughlin</p>
<p><strong>SPORTS ACTION</strong><br>
First Place –&nbsp;Scott Strazzante/Chicago Tribune<br>
Second Place –&nbsp;Kent Sievers/Omaha World-Herald<br>
Third Place –&nbsp;Mathieu Belanger/Reuters<br>
HM&nbsp;–&nbsp;Michael Holahan/The Augusta Chronicle<br>
HM&nbsp;–&nbsp;Morry Gash/The Associated Press</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place –&nbsp;Misha Domozhilov/Freelance<br>
Second Place –&nbsp;Matt Miller/Omaha World-Herald<br>
Third Place –&nbsp;Matt Dunham/The Associated Press<br>
HM&nbsp;–&nbsp;Daniel Ochoa de Olza/The Associated Press<br>
HM&nbsp;–&nbsp;Alyssa Schukar/Omaha World-Herald</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place –&nbsp;Alex Boerner/Scripps Treasure<br>
Second Place –&nbsp;T.J. Kirkpatrick/Freelance<br>
Third Place –&nbsp;Nick Adams/The Register-Mail<br>
HM&nbsp;–&nbsp;Rodrigo Abd/Associated Press<br>
HM&nbsp;–&nbsp;Ross Taylor/The Virginian-Pilot</p>
<p><strong>PICTORIAL</strong><br>
First Place –&nbsp;Scott Strazzante/Chicago Tribune<br>
Second Place –&nbsp;Michael Henninger/Pittsburgh<br>
Third Place –&nbsp;Mathieu Belanger/Reuters<br>
HM&nbsp;–&nbsp;Alex Boerner/Scripps Treasure</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place&nbsp;–&nbsp;T.J. Kirkpatrick/Freelance<br>
Second Place&nbsp;–&nbsp;Carlos Barria/Reuters<br>
Third Place&nbsp;–&nbsp;Michael Holahan/The Augusta Chronicle<br>
HM&nbsp;–&nbsp;Mike Kane/Freelance<br>
HM&nbsp;–&nbsp;Ty Wright/Ohio University</p>
<p><strong>CHRIS HONDROS MEMORIAL INTERNATIONAL NEWS<br>
</strong>First Place&nbsp;–&nbsp;Manu Brabo/The Associated Press<br>
Second Place&nbsp;–&nbsp;Todd Heisler/The New York Times<br>
Third Place&nbsp;–&nbsp;William B. Plowman<br>
HM&nbsp;–&nbsp;Rebecca Blackwell/The Associated Press<br>
HM&nbsp;–&nbsp;Emilio Morenatti/The Associated Press</p>
<p><strong>FEATURE PICTURE STORY/ESSAY</strong><br>
First Place&nbsp;–&nbsp;Esteban Felix/The Associated Press<br>
Second Place&nbsp;–&nbsp;Enrico Fabian/Freelance<br>
Third Place&nbsp;–&nbsp;David Guttenfelder/The Associated Press<br>
HM&nbsp;–&nbsp;Lisa Wiltse</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place&nbsp;–&nbsp;Misha Domzhilov/Freelance<br>
Second Place&nbsp;–&nbsp;Misha Domozhilov/Freelance<br>
Third Place&nbsp;–&nbsp;Joe Amon/The Denver Post<br>
HM&nbsp;–&nbsp;Lise Wiltse<br>
HM&nbsp;–&nbsp;Michael Holahan/The Augusta Chronicle</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place –&nbsp;Cyrus McCrimmon/The Denver Post<br>
Second Place –&nbsp;Cyrus McCrimmon/The Denver Post<br>
Third Place –&nbsp;Rachel Anne Seymour/The Bigheart Times<br>
HM&nbsp;–&nbsp;Angela Lewis/Chattanooga Times-Free Press</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place –&nbsp;Nick Adams/The Register-Mail<br>
Second Place –&nbsp;Nick Adams/The Register-Mail<br>
Third Place –&nbsp;Corey Perrine/The Augusta Chronicle<br>
<strong></strong></p>
<p><strong>MULTIMEDIA INTERACTIVE PRESENTATION&nbsp;</strong><br>
First Place –&nbsp;David Goldman/Associated Press<br>
Second Place –&nbsp;Michael Chow/The Arizona Republic<br>
Third Place –&nbsp;Pat Shannahan/The Arizona Republic<br>
HM&nbsp;–&nbsp;Amelia Kunhardt/Quincy Patriot Ledger</p>
<p style="text-align: center;"><a href="/contest/winners/ten/">PREVIOUS YEAR </a>&nbsp; &nbsp; | &nbsp; &nbsp; <a href="/contest/winners/twelve/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;<a href="/contest/winners/twelve/"></a><a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
