---
title: 2011 Winners
navigation: Contest
---

<h1>2011 Winners</h1>

<p style="text-align: center;"><a href="/contest/winners/ten/">PREVIOUS YEAR </a>    |     <a href="/contest/winners/twelve/">NEXT YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 2011 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong><strong>BEST IN SHOW</strong><br>
</strong>Estaban Felix/The Associated Press</p>
<p><strong>BEST PORTFOLIO</strong><br>
Rodrigo Abd/The Associate Press</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
Bryan Thomas/Ohio University</p>
<p><strong>BEST WIRE STAFF<br>
</strong>The Associated Press</p>
<p><strong>BEST NEWSPAPER STAFF (TIE)<br>
</strong>The Denver Post<br>
The Register-Mail</p>
<p><strong>SPOT NEWS<br>
</strong>First Place – Dimitri Messinis/The Associated Press<br>
Second Place – Anja Niedringhaus/The Associated Press<br>
Third Place – Felipe Dana/The Associated Press<br>
HM – Anja Niedringhaus/The Associated Press<br>
HM – Ramon Espinosa/The Associated Press</p>
<p><strong>GENERAL NEWS</strong><br>
First Place – Manu Brabo/The Associated Press<br>
Second Place – Joseph Raedle/Getty Images<br>
Third Place – Dar Yasin/The Associated Press<br>
HM – Carlos Barria/Reuters<br>
HM – Emilio Morenatti/The Associated Press</p>
<p><strong>FEATURE<br>
</strong>First Place – Lisa Wiltse<br>
Second Place – William B. Plowman<br>
Third Place – Joseph Raedle/Getty Images<br>
HM – Ariana McLaughlin</p>
<p><strong>SPORTS ACTION</strong><br>
First Place – Scott Strazzante/Chicago Tribune<br>
Second Place – Kent Sievers/Omaha World-Herald<br>
Third Place – Mathieu Belanger/Reuters<br>
HM – Michael Holahan/The Augusta Chronicle<br>
HM – Morry Gash/The Associated Press</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place – Misha Domozhilov/Freelance<br>
Second Place – Matt Miller/Omaha World-Herald<br>
Third Place – Matt Dunham/The Associated Press<br>
HM – Daniel Ochoa de Olza/The Associated Press<br>
HM – Alyssa Schukar/Omaha World-Herald</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place – Alex Boerner/Scripps Treasure<br>
Second Place – T.J. Kirkpatrick/Freelance<br>
Third Place – Nick Adams/The Register-Mail<br>
HM – Rodrigo Abd/Associated Press<br>
HM – Ross Taylor/The Virginian-Pilot</p>
<p><strong>PICTORIAL</strong><br>
First Place – Scott Strazzante/Chicago Tribune<br>
Second Place – Michael Henninger/Pittsburgh<br>
Third Place – Mathieu Belanger/Reuters<br>
HM – Alex Boerner/Scripps Treasure</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place – T.J. Kirkpatrick/Freelance<br>
Second Place – Carlos Barria/Reuters<br>
Third Place – Michael Holahan/The Augusta Chronicle<br>
HM – Mike Kane/Freelance<br>
HM – Ty Wright/Ohio University</p>
<p><strong>CHRIS HONDROS MEMORIAL INTERNATIONAL NEWS<br>
</strong>First Place – Manu Brabo/The Associated Press<br>
Second Place – Todd Heisler/The New York Times<br>
Third Place – William B. Plowman<br>
HM – Rebecca Blackwell/The Associated Press<br>
HM – Emilio Morenatti/The Associated Press</p>
<p><strong>FEATURE PICTURE STORY/ESSAY</strong><br>
First Place – Esteban Felix/The Associated Press<br>
Second Place – Enrico Fabian/Freelance<br>
Third Place – David Guttenfelder/The Associated Press<br>
HM – Lisa Wiltse</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place – Misha Domzhilov/Freelance<br>
Second Place – Misha Domozhilov/Freelance<br>
Third Place – Joe Amon/The Denver Post<br>
HM – Lise Wiltse<br>
HM – Michael Holahan/The Augusta Chronicle</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place – Cyrus McCrimmon/The Denver Post<br>
Second Place – Cyrus McCrimmon/The Denver Post<br>
Third Place – Rachel Anne Seymour/The Bigheart Times<br>
HM – Angela Lewis/Chattanooga Times-Free Press</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place – Nick Adams/The Register-Mail<br>
Second Place – Nick Adams/The Register-Mail<br>
Third Place – Corey Perrine/The Augusta Chronicle<br>
<strong></strong></p>
<p><strong>MULTIMEDIA INTERACTIVE PRESENTATION </strong><br>
First Place – David Goldman/Associated Press<br>
Second Place – Michael Chow/The Arizona Republic<br>
Third Place – Pat Shannahan/The Arizona Republic<br>
HM – Amelia Kunhardt/Quincy Patriot Ledger</p>
<p style="text-align: center;"><a href="/contest/winners/ten/">PREVIOUS YEAR </a>    |     <a href="/contest/winners/twelve/">NEXT YEAR</a>     |     <a href="/contest/winners/twelve/"></a><a href="/contest/winners/">YEAR-BY-YEAR</a></p>

