---
title: 2018 Chris Hondros Memorial International News
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Khalil Hamra / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-065c1c', yaml_data: 'source/2018/chris-hondros-memorial-international-news/slideshow-first-place-065c1c.yml' } %>

<h3>Second Place: Luis Tato / AFP</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e7a45e', yaml_data: 'source/2018/chris-hondros-memorial-international-news/slideshow-second-place-e7a45e.yml' } %>

<h3>Third Place: Angelos Tzortzinis / AFP</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-f57574', yaml_data: 'source/2018/chris-hondros-memorial-international-news/slideshow-third-place-f57574.yml' } %>