---
title: 2019 Best in Show
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place Feature Picture Story - Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-065ae4', yaml_data: 'source/contest/winners/2019/feature-picture-story-essay/slideshow-first-place-4291b1.yml' } %>