---
title: 2017 Best Portfolio
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>Joe Raedle / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-b6eb18', yaml_data: 'source/contest/winners/2017/best-portfolio/slideshow-first-place-b6eb18.yml' } %>