---
title: 2015 Best In Show
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>Javier Arcenillas</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-ac1c63', yaml_data: 'source/2015/best-in-show/slideshow-first-place-3a729d.yml' } %>