---
title: 1978 Winners
navigation: Contest
---

<h1>1978 Winners</h1>

<p>The following are the winners from the 1978 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/seventy-seven/">PREVIOUS YEAR&nbsp;</a>&nbsp; &nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/seventy-nine/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;<a href="/contest/winners/">&nbsp;YEAR-BY-YEAR</a></p>
<p>We do not currently have information on the photo contest winners from this year.</p>
				<footer class="entry-meta">
				</footer>
