---
title: 1978 Winners
navigation: Contest
---

<h1>1978 Winners</h1>

<p style="text-align: center;"><a href="/contest/winners/seventy-seven/">PREVIOUS YEAR </a>    |     <a href="/contest/winners/seventy-nine/">NEXT YEAR</a>     |    <a href="/contest/winners/"> YEAR-BY-YEAR</a></p>
<p>We do not currently have information on the photo contest winners from this year.</p>

