---
title: 2013 Pictorial
navigation: Contest
comments: on
---

<h1>2013 Pictorial</h1>

<%= partial 'layouts/return_to_winners' %>

<%= partial 'layouts/slideshow', locals: { id: 'carousel', yaml_data: 'source/contest/winners/2013/pictorial/slideshow.yml', keybindings: true } %>