---
title: 2019 Rich Mahan Best Student Portfolio
navigation: Contest
layout: wide
comments: on
---

<%= partial 'layouts/return_to_winners' %>


<h3>Michael Blackshire</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-3a58c1', yaml_data: 'source/2019/rich-mahan-best-student-portfolio/slideshow-first-place-3a58c1.yml' } %>