---
title: Dave Martin Grant Application
navigation: Grants
---

<h1>Dave Martin Student Grant Application</h1>

<form id="form" role="form">
  <h3>Student Information</h3>

  <p>Enter your information in this section.</p>

  <div class="form-group">
    <label for="student_name">Name</label>
    <input type="text" class="form-control required" id="student_name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="student_address">Address</label>
    <input type="text" class="form-control required" id="student_address" placeholder="Address">
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="student_city">City</label>
        <input type="text" class="form-control required" id="student_city" placeholder="City">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="student_state">State</label>
        <input type="text" class="form-control required" id="student_state" placeholder="State">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="student_zip_code">Zip Code</label>
        <input type="text" class="form-control required" id="student_zip_code" placeholder="Zip Code">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="student_email">Email Address</label>
        <input type="email" class="form-control required" id="student_email" placeholder="Email Address">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="student_phone_number">Phone Number</label>
        <input type="email" class="form-control required" id="student_phone_number" placeholder="Phone Number">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="student_school">School</label>
        <input type="text" class="form-control required" id="student_school" placeholder="School">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="student_major">Major</label>
        <input type="text" class="form-control required" id="student_major" placeholder="Major">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="portfolio_url">Portfolio URL</label>
    <input type="text" class="form-control required" id="portfolio_url" placeholder="Portfolio URL">
  </div>
  

  <h3>Media or Academic Advisor Information</h3>

  <p>Use this section to enter information about your media or academic advisor.</p>

  <div class="form-group">
    <label for="advisor_name">Name</label>
    <input type="email" class="form-control required" id="advisor_name" placeholder="Name">
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="advisor_email">Email Address</label>
        <input type="email" class="form-control required" id="advisor_email" placeholder="Email Address">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="advisor_phone_number">Phone Number</label>
        <input type="email" class="form-control required" id="advisor_phone_number" placeholder="Phone Number">
      </div>
    </div>
  </div>

  <h3>Project Information</h3>

  <div class="form-group">
    <p>Please describe in detail the project you plan to use to the grant money for. If you have already started on the project, please include any links where it can be viewed:</p>
    <label for="project_description">Project Description</label>
    <textarea id="project_description" class="form-control required" placeholder="Project Description"></textarea>
  </div>
  <div class="form-group">
    <p>Please describe in detail how you plan to use the grant money for your project:</p>
    <label for="grant_usage">Grant Usage</label>
    <textarea id="grant_usage" class="form-control required" placeholder="Grant Usage"></textarea>
  </div>
  <button id="form-submit" type="button" class="btn btn-primary">Submit Application</button>
</form>

<script>
$(function() { Form.init("Dave Martin Student Grant"); });
</script>