<p>
  <strong>The 2015 photography contest is open! The deadline to enter is 11:59 P.M., November 11, 2015. Enter here: <a href="https://contest.photojournalism.org" target="_blank">contest.photojournalism.org</a>.</strong><br>
</p>