<p>
  <strong>The 2015 Contest will open on September 1, 2015 at 12:00AM.</strong>
</p>
<p>
  You can view your entries on the contest site at <strong><a href="https://contest.photojournalism.org" target="_blank">contest.photojournalism.org</a></strong>.
</p>