<p>
  <strong>The 2017 Atlanta Photojournalism Contest opens on Sept. 1 at 12 a.m. It closes at 11:59 p.m., Nov. 7, 2017 (EST). All contest entries must be received no later than that date. Enter at <a href="https://contest.photojournalism.org" target="_blank">contest.photojournalism.org</a>.</strong>
</p>