<p>
  <strong>The 2014 Contest is now open, and will close on November 4th, 2014 at 11:59PM. You can enter the contest at <a href="http://contest.photojournalism.org" target="_blank">contest.photojournalism.org</a>.</strong>
</p>