<p>
  <strong>The 2014 Contest closed on November 4. Judging will begin during the seminar on November 13. Good luck to all who entered!</strong>
</p>
<p>
  <strong>You can view your entries on the contest site at <a href="https://contest.photojournalism.org" target="_blank">contest.photojournalism.org</a></strong>.
</p>