<p>
  <strong>The 2014 Contest has closed and the <a href="/contest/winners/2014/">winners have been announced</a>. Thanks to everyone who entered and congratulations to the winners!</strong>
</p>
<p>
  You can view your entries on the contest site at <strong><a href="https://contest.photojournalism.org" target="_blank">contest.photojournalism.org</a></strong>.
</p>