<p>
  <strong>The 2016 Atlanta Photojournalism Contest is now open! It closes at 11:59 p.m., Nov. 10, 2016 (EST). All contest entries must be received no later than that date. Enter now at <a href="https://contest.photojournalism.org" target="_blank">contest.photojournalism.org</a>.</strong>
</p>