<p>
  <strong>The 2015 Contest is open! The deadline to enter is November 11 at 11:59pm. Enter now at <a href="https://contest.photojournalism.org" target="_blank">contest.photojournalism.org</a>.</strong>
</p>