---
title: Contest
navigation: Contest
---

<%= partial 'contest/contest_message' %>

<p>Each year, the Atlanta Photojournalism Seminar hosts an international photography competition that receives content from some of the world's top photojournalists. To enter the contest, please visit the <strong><a href="https://contest.photojournalism.org">contest website</a></strong>.</p>

<p>
  <ul>
    <li><strong><a href="rules/">Contest Rules</a></strong></li>
    <li><strong><a href="categories/">Contest Categories</a></strong></li>
    <li><strong><a href="judging/">Contest Judging and Prizes</a></strong></li>
    <li><strong><a href="winners/">Previous Contest Winners</a></strong></li>
  </ul>
</p>