---
title: Contest
navigation: Contest
---

<h1>Contest</h1>

<p>
  <strong>The 2014 Contest will open on September 1, 2014 and will close on October 31, 2014. The URL for the Contest Application to upload contest entries will be released soon.</strong>
</p>

<p>Each year, the Atlanta Photojournalism Seminar hosts a photography competition that receives content from some of the world's top photojournalists. To enter, please first read through all of the information on the pages listed below. You will need to complete one of our contest entry forms. If you are entering as an individual, please use the individual form. The multimedia team form is reserved for teams who enter either or both of the multimedia categories.</p>