---
title: Contest
navigation: Contest
---

<%= partial 'contest/contest_message' %>

<p>Each year, the <strong>Atlanta Photojournalism Seminar</strong> hosts an international photography competition that receives content from some of the world's top photojournalists.</p>

<p><strong>Entry for the contest is $49 and should be paid for on <a href="https://www.eventbrite.com/e/2016-atlanta-photojournalism-seminar-tickets-26911844050" target="_blank">Eventbrite</a> prior to submission.</strong></p>

<p>
  <ul>
    <li><strong><a href="rules/">Contest Rules</a></strong></li>
    <li><strong><a href="categories/">Contest Categories</a></strong></li>
    <li><strong><a href="judging/">Contest Judging and Prizes</a></strong></li>
    <li><strong><a href="winners/">Previous Contest Winners</a></strong></li>
  </ul>
</p>