---
title: Grants
navigation: Grants
---

<h3>Dave Martin Student Grant</h3>

<p>The Atlanta Photojournalism Seminar is happy to announce a $1,000 grant to be named after longtime Associated Press photographer David "Mullet" Martin, who passed away suddenly on Jan. 1, 2014 while on assignment in Atlanta. The grant will be awarded to a college student who wishes to pursue or continue a personal photojournalism project.</p>


<p>The student must be currently enrolled in college. A detailed description of the project, including how the money will be spent, is required (see below). Applicants should include a link to their portfolio, as well as to any work already begun on the project (if the project has not been started, only a portfolio of work is required). The project can be shot in stills, video, or a combination. <strong>The application deadline is 11:59pm (EST) November 1, 2018.</strong></p>

<p>Seminar faculty and staff will determine the winner. The recipient will be awarded half of the grant up front, and will be awarded the other half once the project is submitted. The final project will be due September 15, 2019. It will be showcased during the 2019 Atlanta Photojournalism Seminar and displayed on our website.</p>

<p>Martin was a larger-than-life photographer, who was as much teacher as photographer. He covered assignments with a tenacity that inspired and continues to inspire many in the photojournalism field. His work ethic was matched only by his desire to help others, teach, and share what he had to offer, even to his competitors. It is in this spirit that the Atlanta Photojournalism Seminar created this grant.</p>

<h3><a href="/grants/dave-martin-student-grant/">Click here to apply</a></h3>

<h4>Previous Winners</h4>

<ul>
  <li><a href="https://www.andreacornejo.com/">2017 - Andrea Paulina Cornejo</a>
  <li><a href="http://www.gabrielscarlett.com">2016 - Gabriel Stephen Scarlett</a></li>
  <li><a href='http://www.theatlantic.com/photo/2016/02/we-fear-the-water/459687/'>2015 - Brittany Greeson</a></li>
  <li><a href='http://www.saranaomiphoto.com/'>2014 - Sara Lewkowicz</a></li>
</ul>

<h3>Ken Hawkins Student Grant</h3>

<p>Former Atlanta Photojournalism Seminar Board Member Ken Hawkins has generously provided a grant to help students attend the Seminar if they have a financial difficulty that might prevent them from otherwise attending. Grant winners will receive free Seminar registration and a stipend of either $100 or $200 to offset travel, hotel or food expenses. Grant requests must be sent by your College Professor/Instructor and should indicate the nature of your financial difficulty and why you would be a worthy recipient. Please indicate whether you are requesting $100 or $200 and send the request to Mikki Harris at <a href="mailto:mikki@photojournalism.org">mikki@photojournalism.org</a> by October 1, 2018.</p>