---
title: Grants
navigation: Grants
---

<h3>Dave Martin Student Grant</h3>

<p>The Atlanta Photojournalism Seminar is happy to announce a $1,000 grant to be named after longtime Associated Press photographer David "Mullet" Martin, who passed away suddenly on Jan. 1, 2014 while on assignment in Atlanta. The grant will be awarded to a college student who wishes to pursue or continue a personal photojournalism project.</p>


<p>The student must be currently enrolled in college. A detailed description of the project, including how the money will be spent, is required (see below). Applicants should include a link to their portfolio, as well as to any work already begun on the project (if the project has not been started, only a portfolio of work is required). The project can be shot in stills, video, or a combination. <strong>The application deadline is at 11:59 p.m., Nov. 9, 2016 (EST).</strong></p>

<p>Seminar faculty and staff will determine the winner. The recipient will be awarded half of the grant up front, and will be awarded the other half once the project is submitted. The final project will be due Oct. 1, 2017. It will be showcased during the 2017 Atlanta Photojournalism Seminar and displayed on our website.</p>

<p>Martin was a larger-than-life photographer, who was as much teacher as photographer. He covered assignments with a tenacity that inspired and continues to inspire many in the photojournalism field. His work ethic was matched only by his desire to help others, teach, and share what he had to offer, even to his competitors. It is in this spirit that the Atlanta Photojournalism Seminar created this grant.</p>

<h3><a href="/grants/dave-martin-student-grant/">Click here to apply</a></h3>

<h4>Previous Winners</h4>

<ul>
  <li><a href='http://www.theatlantic.com/photo/2016/02/we-fear-the-water/459687/'>2015 - Brittany Greeson</a></li>
  <li><a href='http://www.saranaomiphoto.com/'>2014 - Sara Lewkowicz</a></li>
</ul>