---
title: Grants
navigation: Grants
---

<h1>Grants</h1>

<h3>Dave Martin Grant</h3>

<p>The Atlanta Photojournalism Seminar is happy to announce a $1,000 grant to be named after longtime Associated Press photographer David "Mullet" Martin, who passed away suddenly on Jan. 1, 2014 while on assignment in Atlanta. The grant will be awarded to a college student who wishes to pursue or continue a personal photojournalism project.</p>

<p>The student must be currently enrolled in college. A detailed description of the project, including how the money will be spent, is required (below). Applicants should include a link to their portfolio, as well as to any work already begun on the project (if the project has not been started, only a portfolio of work is required). The project can be shot in stills, video, or a combination.</p>

<p>Half of the grant will be given up front and the remainder will be awarded when the project is submitted. The project will need to be submitted by Sept. 1, 2015, and will be showcased during the 2015 Atlanta Photojournalism Seminar and will displayed on our website.</p>

<p>The deadline for entry is <strong>Nov. 1, 2014.</strong></p>

<p>Martin was a larger-than-life photographer, who was as much teacher as photographer. He covered assignments with a tenacity that inspired and continues to inspire many in the photojournalism field. His work ethic was matched only by his desire to help others, teach, and share what he had to offer, even to his competitors. It is in this spirit that the Atlanta Photojournalism Seminar created these grants.</p>

<p><a href="/grants/dave-martin-grant/">Click here to apply for the Dave Martin Grant.</a></p>