---
title: 2014 Chris Hondros Memorial International News
navigation: Contest
comments: on
---

<h1>2014 Chris Hondros Memorial International News</h1>

<%= partial 'layouts/return_to_winners' %>



<h3>First Place: John Moore / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e2c772', yaml_data: 'source/contest/winners/2014/chris-hondros-memorial-international-news/slideshow-first-place-e2c772.yml' } %>

<h3>Second Place: Oliver Weiken / European Pressphoto Agency (EPA)</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-59c1f5', yaml_data: 'source/contest/winners/2014/chris-hondros-memorial-international-news/slideshow-second-place-59c1f5.yml' } %>

<h3>Third Place: Jerome Delay / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-f9e6b9', yaml_data: 'source/contest/winners/2014/chris-hondros-memorial-international-news/slideshow-third-place-f9e6b9.yml' } %>