---
title: 1982 Winners
navigation: Contest
---

<h1>1982 Winners</h1>

<p>The following are the winners from the 1982 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/eighty-one/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/eighty-three/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 1982 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Bill Wax, Gainesville Sun</p>
<p><strong>BEST PORTFOLIO</strong><br>
Atlanta Press Photographers Association Award of Excellence (for the portfolio best exemplifying outstanding and consistent performance by a press photographer)<br>
First – Carol Guzy, Miami Herald.<br>
Runner up – Bill Frakes, Miami Herald<br>
HM – Scott Goldsmith, Louisville Courier-Journal &amp; Times</p>
<p><strong>SWEEPSTAKES AWARD</strong><br>
Miami Herald, for best cumulative performance by a photographic staff</p>
<p><strong>STUDENT PHOTOGRAPHER of the YEAR</strong><br>
First – Mike Healy, Western Kentucky University<br>
Runner Up – Joe Burbank, University of Florida<br>
HM – Mark Hovind, University of South Carolina<br>
(This was the first year for this category)</p>
<p><strong>GEORGIA PHOTOGRAPHER of the YEAR</strong><br>
First – Rich Addicks, The Atlanta Journal &amp; Constitution<br>
Runner-up – Michael Pugh, The Atlanta Journal &amp; Constitution<br>
HM – Lannis Waters, The Augusta Chronicle<br>
HM – Cheryl Bray, The Atlanta Journal &amp; Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First – Bo Rader, Florida Times-Union &amp; Jacksonville Journal<br>
Second – James Dickman, Dallas Times Herald<br>
Third – James Dickman, Dallas Times Herald<br>
HM – Vince Musi, Palm Beach Post intern/Ohio University<br>
HM – Chuck Cook, Times Picayune-States Item intern/University of Southern Mississippi</p>
<p><strong>GENERAL NEWS</strong><br>
First – John Pemberton, Florida Times Union &amp; Jacksonville Journal<br>
Second – Dianne Milam, Nashville Tennessean<br>
Third – Randy Grothe, Dallas Morning News<br>
HM – Jebb Harris, Louisville Courier &amp; Journal<br>
HM – P. Casey Daley, Nashville Tennessean</p>
<p><strong>FEATURE</strong><br>
First – Carol Guzy, Miami Herald<br>
Second – Joe Rimkus Jr., Miami Herald<br>
Third – Scott Robinson, Florida Times-Union &amp; Jacksonville Journal<br>
HM – Curtis Compton, Gwinnett (county, GA) Daily News<br>
HM – Jebb Harris, Louisville Courier-Journal</p>
<p><strong>SPORTS ACTION</strong><br>
First – Dave Dieter, Huntsville Times<br>
Second – Bill Wax, Gainesville Sun<br>
Third – Michael Barrett, Clarion Ledger/Jackson Daily News<br>
HM – Calvin Cruce, Atlanta Journal &amp; Constitution<br>
HM – Michael Takash, Daytona Beach News-Journal</p>
<p><strong>SPORTS FEATURES</strong><br>
First – Kevin Kolczynski, Gainesville Sun<br>
Second – Bruce Gilbert, Miami Herald<br>
Third – Dick Van Halsema Jr. Florida Times-Union &amp; Jacksonville Times<br>
HM – Mark Humphrey, Associated Press<br>
HM – Eric Mencher, St. Petersburg Times &amp; Evening Independent</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – William Berry, Macon Telegraph &amp; News<br>
Second – Carol Guzy, Miami Herald<br>
Third – Todd Buchanan, Western Kentucky University<br>
HM – Steve Crowley, Post-Evening Times (Jupiter, FL)<br>
HM – Robert Seay, Macon Telegraph &amp; News</p>
<p><strong>PICTORIAL</strong><br>
First – Randy Piland, Macon Telegraph &amp; News<br>
Second – Tom Ervin, The Union Recorder (Milledgeville, GA)<br>
Third – Jebb Harris, Louisville Courier-Journal<br>
HM – Eric Mencher, St. Petersburg Times<br>
HM – Scott Goldsmith, Louisville Courier-Journal</p>
<p><strong>ILLUSTRATION</strong><br>
First – Bill Frakes, Miami Herald<br>
Second – Pat McDonogh, Fort Myers News-Press<br>
Third – Lannis Waters, Augusta Chronicle<br>
HM – Pat McDonough, Fort Myers News-Press<br>
HM – Bruce Gilbert, Miami Herald</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – Marice Cohn, Miami Herald<br>
Second – Todd Buchanan, Western Kentucky University<br>
Third – Chirs Walker, Ft. Lauderdale News-Sun Sentinel<br>
HM – Jebb Harris, Courier-Journal<br>
HM – James Dickman, Dallas Times Herald</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First – Bruce Gilbert, Miami Herald<br>
Second – John Pemberton, Florida Times-Union &amp; Jacksonville Journal<br>
Third – None awarded<br>
HM – Scott Goldsmith, Louisville Courier-Journal<br>
HM – Albert Diaz, Independent Florida Alligator (Univ. of Florida)</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – Bill Wax, Gainesville Sun<br>
Second – David Woo, Dallas Morning News<br>
Third – Carol Guzy, Miami Herald<br>
HM – Karen T. Borchers, Palm Beach Post<br>
HM – Bo Rader, Florida Times-Union &amp; Jacksonville Journal</p>
<p>&nbsp;</p>
<p style="text-align: center;"><a href="/contest/winners/eighty-one/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/eighty-three/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
