---
title: 2019 Contest Rules
navigation: Contest
---

<%= partial 'contest/contest_message' %>

<h3>Eligibility</h3>

<ul>
  <li>Entry for the contest is $49 and should be paid for on <a href="https://photojournalism.eventbrite.com" target="_blank">Eventbrite</a> prior to submission.</li>
  <li>Anyone may enter.</li>
  <li>Because all entries are delivered electronically, only digital entries are accepted. It is ok to digitally scan photographs originally captured on film.</li>
  <li>Entrants do not need to attend the Seminar.</li>
  <li>Content entries must have been captured between Nov. 1, 2018 and Oct. 31, 2019 (see contest rules for picture story exceptions). No content entered in last year's contest may be entered again this year.</li>
  <li>Content does not need to have been published.</li>
  <li>15 entries max per person (Entries: the number of category entries submitted by one photographer. A multiple-picture category entry and a multimedia entry counts as one entry. Do not include a portfolio entry in this count.)</li>
  <li>Any photographer from any country is eligible to enter.</li>
  <li>No photograph previously entered in the Seminar competition may be entered in a future contest.</li>
  <li>Single photographs can only be entered into one category.</li>
  <li>Individual photos from picture stories may be entered into any of the single categories.</li>
  <li>Photographs in a picture story entry, taken over a period of time that begins before the eligible date but extends into the period of eligibility, may be entered as long as they have not been entered in the Seminar's competition before.</li>
  <li>Each picture story, which may contain a maximum of 12 images, entered counts as one entry.</li>
  <li>A portfolio entry does not count towards the 15 entry maximum.</li>
</ul>

<p>
  <em><strong>ETHICAL STATEMENT</strong>:
  We do not allow any sort of manipulation to the content of an image. This includes Instagram-type effects or filters on photos taken with phones or other devices. Only basic color correction and cropping are allowed to maintain the integrity and ethical standards of the industry. Normal burning and dodging is acceptable, so long as not to eliminate or obscure subject matter. It is our responsibility as photojournalists to document and present images in an honest manner. As a result, the judging panel or members of the board may disqualify any images that do not meet the ethical standards put forth. We also we reserve the right to request RAW files if the image is in question. </em>
</p>