---
title: 2004 Winners
navigation: Contest
---

<h1>2004 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 2004 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 2004 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Patrick Schneider, The Charlotte Observer, "Dirt Track"</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Patrick Schneider, The Charlotte Observer<br>
Second Place — Ross Taylor, The Herald—Sun/Corbis (NC)<br>
Third Place — Chip Litherland, Sarasota Herald—Tribune<br>
HM — Dudley Brooks, The Washington Post<br>
HM — Melissa Lyttle, South Florida Sun—Sentinel</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Evan Semón, Metro State College/Rocky Mountain News<br>
Second Place — Daron Dean, University of Florida<br>
Third Place — Erik Jacobs, Western Kentucky University<br>
HM — Andrew Henderson, Western Kentucky University</p>
<p><strong>STAFF OF THE YEAR</strong><br>
Rocky Mountain News</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Chris Jordan, Daily Inter Lake (MT), "Close Call"<br>
Second Place — Musa Sadulayev, Associated Press, "Kadyrov's Body"<br>
Third Place — J.B. Forbes, St. Louis Post—Dispatch, "Fighting at Vashon"<br>
HM — Andreas Fuhrmann, Record Searchlight (CA) "Stop"<br>
HM — Rodrigo Abd, Associated Press, "Haiti Crisis"</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Ivan Sekretarev, Associated Press, "Georgy's Funeral"<br>
Second Place — Peter Andrew Bosch, Miami Herarld, "Morgue"<br>
Third Place — Emilio Morenatti, Associated Press, "Afghan Elections"<br>
HM — Andrew Henderson, Western Kentucky University, "Uganda"<br>
HM — Ross Taylor, The Hearld—Sun, "Goodbye"</p>
<p><strong>FEATURE</strong><br>
First Place — Todd Heisler, Rocky Mountain News, "Freedom"<br>
Second Place — Dudley Brooks, The Washington Post,<br>
Third Place — Chad Pilster, Daytona Beach News Journal, "Terry"<br>
HM — Melissa Lyttle, South Florida Sun—Sentinel, "Helping Hands"<br>
HM — Daron Dean, University of Florida, "Birthday Party</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Jeff Blake, Athens Banner—Herald, "Facemask"<br>
Second Place — Roger Simms, Daytona Beach News Journal, "Flip"<br>
Third Place — Douglas Tesner, Traverse City Record—Eagle, "Ouch"<br>
HM — Carrie Nilad, Tallahassee Democrat, "So Close"<br>
HM — Jason Hunt, Coeur d'Alene Press</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Cindy Brown, University of Southern Mississippi<br>
Second Place — David Pierini, The Herald (IN), "Shake On It"<br>
Third Place — Rachel Rique, Athens Banner—Herald, "Congrats"<br>
HM — Beth Schlanker, University of Missouri, "Love of the Game"<br>
HM — Dave Martin, Associated Press, "Mickelson"</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place — Davis Turner, Freelance, "The Entomologist"<br>
Second Place — Dudley Brooks, The Washington Post<br>
Third Place — Lara Shipley, University, "Dorita Lindo"<br>
HM — Josh Meltzer, The Roanoke Times, "Amish Work"<br>
HM — Jim Winn, Western Kentucky University, "Ozzie"</p>
<p><strong>PICTORIAL</strong><br>
First Place — Ross Taylor, The Herald—Sun (NC), "Sandstorm"<br>
Second Place — Chris Jordan, Daily Inter Lake (MT), "Stormy Swing"<br>
Third Place — Daron Dean, University of Florida, "Prayer"<br>
HM — Lisa Krantz, San Antonio Express—News, "Wal—Mart"<br>
HM — Schalk Van Zuydam, Associated Press, "Locusts"</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Laurie Skrivan, St. Louis Post—Dispatch, "Egg"<br>
Second Place — Edmund D. Fountain, St. Petersburg Times, "Here's Looking At You"<br>
Third Place — Maria Avila, The Rocky Mountain News, "Fall Fashion"<br>
HM — Maria Avila, The Rocky Mountain News, "Fall Fashion"<br>
HM — Maria Avila, The Rocky Mountain News, "Fall Fashion"</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Robert Hendricks, Casper Star—Tribune, "Out At Home"<br>
Second Place — Jon M. Fletcher, The Florida Times—Union, "School Savings"<br>
Third Place — Eric Schmadel, Greensburg Tribune—Review, "Conference Realignment"<br>
HM — Joey Ivansco, Atlanta Journal Constitution, "The Passion of The Christ"<br>
HM — Jon M. Fletcher, The Florida Times—Union, "High Yield Stocks"</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — John Moore, Associated Press, "Hopes for Peace"<br>
Second Place — Deanne Fitzmaurice, San Francisco Chronicle, "Saving Saleh"<br>
Third Place — Evan Semón, Rocky Mountain News/ Metro State College, "Before & After"<br>
HM — Mike Morones, The Freelance—Star (VA), "The Comforts"<br>
HM — Chris Schneider, Rocky Mountain News, "AIDS Survivor"</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Sergey Ponomarev, Associated Press, "Beslan Hostage Crisis"<br>
Second Place — Kevin Frayer, Associated Press, "Separate States"<br>
Third Place — Kuni Takahashi, Chicago Tribune, "Crisis in Haiti"<br>
HM — Patrick Schneider, The Charlotte Observer, "Hurricane Rescue"<br>
HM — Rodrigo Abd, Associated Press, "Haiti Coup"</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Patrick Schneider, The Charlotte Observer, "Dirt Track"<br>
Second Place — Shadd Dirk, St. Petersburg Times, "Stanley's Summer Tour"<br>
Third Place — Michael Robinson—Chavez, The Washington Post, "Geraldine Pride"<br>
HM — Shadd Dirk, St. Petersburg Times, "Quest for the Cup"<br>
HM — Erik Jacobs, Western Kentucky University, "Team"</p>
<p><strong>ELECTION 2004</strong><br>
First Place — Eric Schmadel, Greensburg Tribune—Review<br>
Second Place — Willie Allen, Jr, St. Petersburg Times "Early Vote"<br>
Third Place — Judy Walgren, Rocky Mountain News, "Campaigning"<br>
HM — A.J. Mast, Freelance, "On Board"<br>
HM — Chris Zuppa, St. Petersburg Times, "Like Father Like Son"</p>
<p><strong>ELECTION 2004 PICTURE STORY</strong><br>
First Place — Dudley Brooks, The Washington Post, "The Contender"<br>
Second Place — Todd Heisler, Rocky Mountain News, " Republican National Convention"<br>
Third Place — Chip Litherland, Sarsota Herald—Tribune, "Preparing the Stage"<br>
HM — Joe Burbank, Orlando Sentinel, Battleground Florida"<br>
HM — Preston Gannaway, Concord Monitor, "Cup of Joe"</p>
<p><strong>OLYMPICS 2004</strong><br>
First Place — Julie Jacobson, Associated Press<br>
Second Place — Joe Mahoney, The Rocky Mountain News<br>
Third Place — Patrick Schneider, The Charlotte Observer,<br>
HM — Joe Mahoney, The Rocky Mountain News<br>
HM — Joe Mahoney, The Rocky Mountain News</p>
<p><strong>OLYMPICS 2004 PICTURE STORY</strong><br>
First Place — Patrick Schneider, The Charlotte Observer, "Summer Olympics"<br>
HM — Joe Mahoney, The Rocky Mountain News, "Summer Games"<br>
HM — Rodolfo Gonzalez, The Rocky Mountain News "Missed Handoff"</p>

<%= partial 'layouts/contest_navigation', locals: { year: 2004 } %>