---
title: 2021 Chris Hondros Memorial International News
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Khalil Hamra / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-64536f', yaml_data: 'source/2021/chris-hondros-memorial-international-news/slideshow-first-place-64536f.yml' } %>

<h3>Second Place: Dar Yasin / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-262a09', yaml_data: 'source/2021/chris-hondros-memorial-international-news/slideshow-second-place-262a09.yml' } %>

<h3>Third Place: Rodrigo Abd / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-501db5', yaml_data: 'source/2021/chris-hondros-memorial-international-news/slideshow-third-place-501db5.yml' } %>