---
title: 2007 Winners
navigation: Contest
---

<h1>2007 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 2007 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 2007 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Justin Cook, The Roanoke Times "Injured Veteran And Wife"</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Justin Cook, The Roanoke Times<br>
Second Place — Scott Strazzante Chicago Tribune<br>
Third Place — Chip Litherland, Sarasota Herald Tribune<br>
HM — Greg Kahn, Naples Daily News</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Justin Maxon, San Francisco State University<br>
Second Place — Benjamin Reed, University of Missouri<br>
Third Place — Tim Gruber, Ohio University<br>
HM — Matt Eich, Ohio University<br>
HM — Carl Kiilsgaard, Western Kentucky University</p>
<p><strong>NEWSPAPER STAFF OF THE YEAR</strong><br>
The Roanoke Times</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Adem Hadei, Associated Press "Last Touch"<br>
Second Place — Steve Chen, Associated Press "Deadly Jaws"<br>
Third Place — Chip Litherland, Sarasota Herald tribune "Wildfire Rages"<br>
HM — Derek Redos, Associated Press "Midair Collision"<br>
HM — Don Randall, Associated Press "Balloon Horror"</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Emily Rasinski, The Evening Sun "Goodbye Kiss"<br>
Second Place — David Goldman, Boston Herald "Candlelight Vigil"<br>
Third Place — Jenn Ackerman, Ohio University "Uplifting Home Coming"<br>
HM — Ahmad Reza Halabisaz, Associated Press "Hanged"</p>
<p><strong>FEATURE SINGLE</strong><br>
First Place — John Moore, Getty Images "Mary Mourns"<br>
Second Place — Matt Eich, Ohio University "Street Corner"<br>
Third Place — Justin Cook, The Roanoke Times "Fire Flies"<br>
HM — Edmund Fountain, St Petersburg Times "Fall Free Fall"</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Chris Detrick Salt Lake Tribune "Freestyle Skiing"<br>
Second Place — Johnny Crawford, Atlanta Journal Constitution "No Helmet No Interception"<br>
Third Place — Ross Taylor, The Hartford Courant "Reach"</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Chris McGrath, Getty Images "Cubs Fans"<br>
Second Place — Noah Rabinowitz, Ohio University "Falcons Dad"<br>
Third Place — Scott Strazzante, Chicago Tribune "What Could Have Been"<br>
HM — Johnny Crawford, Atlanta Journal Consitution "Group Photo"<br>
HM — Chip Litherland, Sarasota Herald Tribune "Redneck Grandma"</p>
<p><strong>PORTRAIT</strong><br>
First Place — Justin Maxon, San Francisco State University "Mother and Child"<br>
Second Place — Astrid Riecken, The Washington Times "David Lynch"<br>
Third Place — David Walter Banks, David Walter Banks Photography "TV"<br>
HM — Travis Dove, Ohio University "Lake"<br>
HM — Greg Constantine "Face"</p>
<p><strong>PICTORIAL</strong><br>
First Place — Vadim Ghirda, Associated Press "Strange Fruit "<br>
Second Place — Josh Meltzer, The Roanoke Times "Ice"<br>
Third Place — Ronald W Erdrich, Abilene Reporter—News "Warm Up"<br>
HM — Justin Kase Conder, Patuxent Publishing "An Electric Fair"<br>
HM — Logan Mock—Bunting, Aurora Photos "Manta Rays"</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Benjamin Rusnak, Food for the Poor "Guatamala Malnutrition"<br>
Second Place — Javier Manzano, Rocky Mountain News "Holly Tornado"<br>
Third Place — Stacy Pearsall, USAF "Deadly Diyala"<br>
HM — Sam Dean, The Roanoke Times"Virginia Tech"<br>
HM — Ben Gray, Atlanta Journal Constitution "Georgia Legislative Session"</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Maisie Crow, Patuxent Publishing "Dirtbike"<br>
Second Place — Peter McCollough, Ohio University "Cage Fighters<br>
Third Place — Dan Hale Arkansas Democrat—Gazette "Justin Presides"<br>
HM — Preston Gannaway, Concord Monitor "Under the Light "<br>
HM — Sam Dean, The Roanoke Times "Dollars and Feathers"</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place —Justin Cook, The Roanoke Times "Injured Veteran And Wife"<br>
Second Place — Rodrigo Add, Associated Press "Cemetary Dues"<br>
Third Place — Ross Taylor, The Hartford Courant "A Love Complimented"<br>
HM — Jenn Ackerman, Ohio University "The Hewitts"</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Elissa Eubanks, Atlanta Journal Constitution "Santa Suiting Up"<br>
Second Place — Luiz Santos, Ohio University "Light Pollution"<br>
Third Place — Chris Hunt, Atlanta Journal Constitution "Allergies"</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Ross Taylor, Hartford Courant "Lemon Herbs"<br>
Second Place — David Walter Banks, David Walter Banks Photography "They're Coming"<br>
Third Place — Luiz Santos, Ohio University "The Tumblers"</p>
<p><strong>MILITARY PHOTOGRAPH</strong><br>
HM — Stacy L Pearsall, USAF "Soldier Peers"<br>
HM — Andrew N Dunaway II, USAF "Iraqi Policeman"</p>
<p><strong>MULTIMEDIA</strong><br>
First Place — Tim Gruber, Ohio University "Cadets"<br>
Second Place — David Stephenson, Lexington Herald Leader "Getting the Boot"<br>
Third Place — Emily Rasinski, The Evening Sun, "The Long Goodbye"<br>
HM — Julie Jacobson, The Associated Press "Cyclone"<br>
HM — John Moore, Getty Images "Inside the Baghdad ER"</p>
<p><strong>MULTIMEDIA INTERACTIVE</strong><br>
First Place — David Carson, St Louis Post Dispatch "Reporting For Duty"</p>
<p><strong>NIKON SHOOTOUT</strong><br>
First Place — Molly Wade, Hawkeye Community College</p>

<%= partial 'layouts/contest_navigation', locals: { year: 2007 } %>