---
title: 1985 Winners
navigation: Contest
---

<h1>1985 Winners</h1>

<p>The following are the winners from the 1985 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/eighty-four/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/eighty-six/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 1985 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
John Kaplan, The Pittsburgh Press</p>
<p><strong>BEST PORTFOLIO</strong><br>
First – Carol Guzy, The Miami Herald<br>
HM – Joey Ivansco, The Atlanta Journal-Constitution</p>
<p><strong>BEST STUDENT PORTFOLIO</strong><br>
Alan Warren, Western Kentucky University<br>
HM – Rick Musacchio, Western Kentucky University</p>
<p><strong>GEORGIA PHOTOGRAPHER of the YEAR</strong><br>
Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Rich Addicks, The Atlanta Journal-Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First – John Kaplan, The Pittsburgh Press<br>
Second – Losi Bernstein, The Virginian Pilot/The Ledger-Star<br>
Third – Al Diaz, The Miami News</p>
<p><strong>GENERAL NEWS</strong><br>
First – Mark Edelson, Hollywood Sun-Tattler<br>
Second – Rick McKay, Cox Newspapers<br>
Third – Pete Cross, The Miami News</p>
<p><strong>SPORTS ACTION</strong><br>
First – Scott Wiseman, Western Kentucky University<br>
Second – Michael Schwarz, Gannett Rochester Newspapers<br>
Third – Rick Mansfield, Nashville Banner</p>
<p><strong>SPORTS FEATURE</strong><br>
First – Rick Mansfield, Nashville Banner<br>
Second – Anne Ryan, Ft. Lauderdale News and Sun Sentinel<br>
Third – John Keating, Dallas Times Herald</p>
<p><strong>FEATURE</strong><br>
First – Patrick Reddy, The Cincinnati Post<br>
Second – Roberta Barnes, The San Antonio Light<br>
Third – Jeff Willhelm, The Charlotte Observer</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – Carol Guzy, The Miami Herald<br>
Second – Martin Rodden, The San Antonio Light<br>
Third – Melissa Mimms, Palm Beach Post</p>
<p><strong>PICTORIAL</strong><br>
First – John Rottet, Raleigh News and Observer<br>
Second – Vince Mussi, The Pittsburgh Press<br>
Third – Albert Diaz, The Miami News</p>
<p><strong>EDITORIAL ILLUSTRATION</strong><br>
First – Bruce Gilbert, The Miami Herald<br>
Second – Kim Kulish, The Birmingham Post-Herald<br>
Third – Joey Ivansco, The Atlanta Journal-Constitution</p>
<p><strong>FASHION</strong><br>
First – Marice Carolyn Cohn, The Miami Herald<br>
Second – David Murray Jr., The Ft. Lauderdale News<br>
Third – Marice Carolyn Cohn, The Miami Herald</p>
<p><strong>FOOD</strong><br>
First – Rich Addicks, The Atlanta Journal-Constitution<br>
Second – Mimi Foster Fuller, The Atlanta Journal-Constitution<br>
Third – Lawrence Lambert, The Cincinnati Post</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First – Rich Addicks, The Atlanta Journal-Constitution<br>
Second – Scott Goldsmith, The Courier Journal and Louisville Times<br>
Third – Keith Boyer, The Birmingham Post-Herald</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – Larry Coyne, The Commercial Appeal<br>
Second – Michael Schwarz, Gannett Rochester Newspapers<br>
Third – Sam Hughes, University of Southern Mississippi</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – Carol Guzy, The Miami Herald<br>
Second – David Walters, The Miami Herald<br>
Third – Bill Frakes, The Miami Herald</p>
<p style="text-align: center;">
<a href="/contest/winners/eighty-four/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/eighty-six/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
