---
title: 2012 Winners
navigation: Contest
---

<h1>2012 Winners</h1>

<p>The following are the winners from the 2012 Atlanta Photojournalism Contest:</p>

The following are the winners of the 2012 Atlanta Photojournalism Seminar Contest. Thank you to everyone who entered and participated in the contest, and congratulations to the winners!</p>
<p>(Click category name to view the winning photos from that category)<br />
HM = Honorable Mention</p>
<h3><strong><a title="2012 Winners – Spot News" href="/contest/2012-winners/spot-news/">Spot News</a></strong></h3>
<p>First Place – Manu Brabo / Associated Press<br />
Second Place – Manas Paran / Associated Press<br />
Third Place – Esteban Felix / Associated Press<br />
HM — Rodrigo Abd / Associated Press<br />
HM — Khalil Hamra / Associated Press<br />
HM — Emilio Morenatti / Associated Press<br />
HM — Liu Tao / ZUMA Press</p>
<h3><strong><a title="2012 Winners – General News" href="/contest/2012-winners/general-news/">General News</a></strong></h3>
<p>First Place – RJ Sangosti / The Denver Post<br />
Second Place – Patrick Smith / Freelance<br />
Third Place – Altaf Qadri / Associated Press<br />
HM — Scott Olson / Getty Images<br />
HM — Muhammed Muheisen / Associated Press<br />
HM — RJ Sangosti / The Denver Post</p>
<h3><strong><a title="2012 Winners – Feature" href="/contest/2012-winners/feature/">Feature</a></strong></h3>
<p>First Place – Lucy Nicholson / Reuters<br />
Second Place – Kevin Frayer / Associated Press<br />
Third Place – Rodrigo Abd / Associated Press<br />
HM — Rodrigo Abd / Associated Press<br />
HM — Lucy Nicholson / Reuters<br />
HM — Daniel Ochoa de Olza / Associated Press</p>
<h3><strong><a title="2012 Winners – Sports Action" href="/contest/2012-winners/sports-action/">Sports Action</a></strong></h3>
<p>First Place – Mark J. Terrill / Associated Press<br />
Second Place – Mark J. Terrill / Associated Press<br />
Third Place – Francis Gardler / Lincoln Journal Star</p>
<h3><strong><a title="2012 Winners – Sports Feature" href="/contest/2012-winners/sports-feature/">Sports Feature</a></strong></h3>
<p>First Place – Bryan Thomas / Freelance<br />
Second Place – David Guttenfelder / Associated Press<br />
Third Place – Francis Gardler / Lincoln Journal Star<br />
HM — Logan Mock-Bunting / Freelance<br />
HM — Anne McQuary / WLTX Channel 19<br />
HM — Ryan Henriksen / Columbia Daily Tribune</p>
<h3><strong><a title="2012 Winners – Portrait / Personality" href="/contest/2012-winners/portrait-personalit/">Portrait/Personality</a></strong></h3>
<p>First Place — Felipe Dana / Associated Press<br />
Second Place — Daniel Ochoa de Olza / Associated Press<br />
Third Place — Rodrigo Abd / Associated Press<br />
HM — Javier Arcenillas / GEA Photowords<br />
HM — Brian Snyder / Reuters<br />
HM — Javier Arcenillas / GEA Photowords</p>
<h3><strong><a title="2012 Winners – Pictorial" href="/contest/2012-winners/pictorial/">Pictorial</a></strong></h3>
<p>First Place –Oded Balilty / Associated Press<br />
Second Place – Patrick Smith / Freelance<br />
Third Place – Michael Henniger / Pittsburgh Post Gazette<br />
HM — Rebecca Blackwell / Associated Press<br />
HM — Charles Rex Arbogast / Associated Press<br />
HM — Michael Chow / The Arizona Republic</p>
<h3><strong><a title="2012 Winners – Olympics" href="/contest/2012-winners/olympics/">Olympics</a></strong></h3>
<p>First Place – Gregory Bull / Associated Press<br />
Second Place – Mark J. Terrill / Associated Press<br />
Third Place – Robert Carr / Getty Images<br />
HM — Ezra Shaw / Getty Images<br />
HM — Mark J. Terrill / Associated Press<br />
HM — David J. Phillip / Associated Press<br />
HM — Lucy Nicholson / Reuters</p>
<h3><strong><a title="2012 Winners – Election" href="/contest/2012-winners/election/">Election</a></strong></h3>
<p>First Place – Carolyn Kaster / Associated Press<br />
Second Place – Justin Sullivan / Getty Images<br />
Third Place – Charles Dharapak / Associated Press<br />
HM — Evan Vucci / Associated Press</p>
<h3><strong><a title="2012 Winners – News Picture Story" href="/contest/2012-winners/news-picture-story/">News Picture Story</a></strong></h3>
<p>First Place – Shannon Stapleton / Reuters<br />
Second Place – Andrew Harnik / The Washington Times<br />
Third Place – Emilio Morenatti / Associated Press<br />
HM — Bryan Thomas / Freelance<br />
HM — NG Han Guan / Associated Press</p>
<h3><strong><a title="2012 Winners – Chris Hondros International News" href="/contest/2012-winners/chris-hondros/">Chris Hondros International News</a></strong></h3>
<p>First Place – Manu Brabo / Associated Press<br />
Second Place – Khalil Hamra / Associated Press<br />
Third Place – Rodrigo Abd / Associated Press<br />
HM — Joe Raedle / Getty Images<br />
HM — Khalil Hamra / Associated Press<br />
HM — Muhammed Muheisen / Associated Press</p>
<h3><strong><a title="2012 Winners – Feature Picture Story" href="/contest/2012-winners/feature-picture-story/">Feature Picture Story</a> </strong></h3>
<p>First Place – April Saul / Philadelphia Inquirer<br />
Second Place – Craig Walker / The Denver Post<br />
Third Place – Esteban Felix / Associated Press<br />
HM — Scott Strazzante / Chicago Tribune<br />
HM — Kevin Frayer / Associated Press<br />
HM — Logan Mock-Bunting / Freelance</p>
<h3><strong><a title="2012 Winners – Sports Picture Story" href="/contest/2012-winners/sports-picture-story/">Sports Picture Story</a></strong></h3>
<p>First Place – Patrick Smith / Freelance<br />
Second Place – Liu Tao / ZUMA Press<br />
HM — Logan Mock-Bunting / Freelance</p>
<h3><strong><a title="2012 Winners – Multimedia Slideshow" href="/contest/2012-winners/multimedia-slideshow/">Multimedia Slideshow</a></strong></h3>
<p>HM — Mike Kepka / San Francisco Chronicle<br />
HM — Mike Kepka / San Francisco Chronicle<br />
HM — Jon Kasbe / University of North Carolina at Chapel Hill</p>
<h3><strong>Multimedia Interactive Presentation</strong></h3>
<p>First Place – &#8220;Port Stories&#8221; &#8211; Pat Davidson / University of North Carolina<br />
Second Place – &#8220;Lost and Found&#8221; &#8211; Jeremy Lurgio / University of Montana School of Journalism<br />
Third Place – &#8220;Living Galapagos&#8221; &#8211; Pat Davidson / University of North Carolina</p>
<h3><a href="/contest/2012-winners/rich-mahan-student-portfolio/"><strong>Rich Mahan Best Student Portfolio</strong></a></h3>
<p>Jabin Botsford / Western Kentucky University</p>
<h3><a href="/contest/2012-winners/best-portfolio/"><strong>Best Portfolio</strong></a></h3>
<p>Javier Arcenillas / GEA Photowords</p>
<p style="text-align: center;"> <a href="/contest/winners/eleven/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>
        <footer class="entry-meta">
        </footer>