---
title: 1997 Winners
navigation: Contest
---

<h1>1997 Winners</h1>

<p style="text-align: center;"><a href="/contest/winners/ninety-six/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/ninety-eight/">NEXT YEAR</a>     |    <a href="/contest/winners/"> YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1997 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Robert Cohen, The Commercial Appeal</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Liu Xin, The Palm Beach Post<br>
Second Place — Brian Walski, The Boston Herald<br>
Third Place — Michael Williamson, The Washington Post</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Carrie Pratt, Western Kentucky University<br>
Second Place — Susanna Frohman, Ohio University</p>
<p><strong>GEORGIA PHOTOGRAPHER of the YEAR</strong><br>
The judges did not award any places in this category.</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Kent Phillips, The Commercial Appeal "Little Hostage"<br>
Second Place — Santiago Lyon, The Associated Press "Albania Unrest"<br>
Third Place — E.A. Kennedy III, The Palm Beach Post "Grief"<br>
HM — David T. Foster III, The Charlotte Observer "Brick Picking"<br>
HM — Jonathan Kirshner, Western Kentucky University "Tornado Kids"<br>
HM — Liu Xin, The Palm Beach Post "Rollover"<br>
HM — Yuta Sataguchi, Daily Southtown "End of the Line"</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Robert Cohen, The Commercial Appeal "Testing a Driver's Patience"<br>
Second Place — Marice Cohn Band, The Miami Herald "Farewell"<br>
Third Place — John Moore, The Associated Press "Mourning Mother"<br>
HM — Penny de los Santos, Ohio University "Band Competition"<br>
HM — Jock Fistick, The Tampa Tribune "Guilty"<br>
HM — Mark Mirko, The Palm Beach Post "Seized"<br>
HM — Michael Williamson, The Washington Post "Crack Bust"</p>
<p><strong>FEATURE</strong><br>
First Place — Eugene Garcia, Freelance-Orange County Register "Bubbles For the Needy"<br>
Second Place — Gary O'Brien, The Charlotte Observer "Daddies & Daughters Dance"<br>
Third Place — Chiaki Kawajiri, The Baltimore Sun "Till You Drop"<br>
HM — Ting—Li Wang, Ohio University "Uniform Day"<br>
HM — Todd Sumlin, The Charlotte Observer "First Haircut"<br>
HM — Liu Xin, The Palm Beach Post "Fishing"<br>
HM — Susanna Frohman, Ohio University "Dog Moms"</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Tom Pennington, Ft. Worth Star—Telegram "Blown Away"<br>
Second Place — Richard Hartog, The (Santa Monica) Outlook "Full Court Press"<br>
Third Place — Khue Bui, The Washington Post "untitled"<br>
HM — Charles Bertram, The Lexington Herald Leader "Ouch"<br>
HM — Eric Draper, The Associated Press "De La Hoya-Whitaker"<br>
HM — Kevin Fujii, The Ft. Worth Star-Telegram "Nothing But Net"<br>
HM — Chris Hondros, Fayetteville Observer-Times "Blind Bowling"<br>
HM — Preston C. Mack, The Sun Sentinel (FL) "That's Gonna Leave a Mark"</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Charles Krupa, The Associated Press "In a Fog"<br>
Second Place — Preston C. Mack, The Sun Sentinel (FL) "Surfin' Cat"<br>
Third Place (tie) — Laura Kleinhenz, The Commercial Appeal "Barracuda"<br>
Third Place (tie) — Sean Meyers, Columbia Daily Tribune "Coach Choke"<br>
HM — Richard Hartog, The (Santa Monica) Outlook "Water Polo Timeout"<br>
HM — Ting—Li Wang, Ohio University "Confused Scoreboard" HM – Rich Addicks, The Atlanta Journal & Constitution "Rest Time"<br>
HM — Gary Allen, The News & Observer "Oglers"</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place — Laura M. Mueller, The Charlotte Observer "Socks"<br>
Second Place — Eugene Garcia, Freelance Orange County Register "Hiding With Their Pain"<br>
Third Place — Reneé Ittner-McManus, The State (SC) "A Brother Lost"<br>
HM — Mark Mirko, The Palm Beach Post "Melvin B"<br>
HM — Chiaki Kawajiri, The Baltimore Sun "Play That Tune"<br>
HM — Robin Donina Serne, St. Petersburg Times "Keeping The Faith"<br>
HM — Jay Janner, The (Colorado Springs) Gazette "Rejecting the Rat Race"<br>
HM — Milbert Orlando Brown, The Chicago Tribune "Water"</p>
<p><strong>PICTORIAL</strong><br>
First Place — Kenneth Papaleo, The Rocky Mountain News "Hale Bopp"<br>
Second Place — Joe Stefanchik, The Dallas Morning News "Weld"<br>
Third Place — Kurt Hegre, The Fresno Bee "The Break"<br>
HM — Todd Sumlin, The Charlotte Observer "Wake Rider"<br>
HM — Richard Chapman, The Chicago Sun-Times "Air & Water"<br>
HM — Michael Williamson, The Washington Post "Blues Alley"<br>
HM — Louie Favorite, The Atlanta Journal-Constitution "Rainbow"<br>
HM — Steven Smith, The Commercial Appeal "A Ray of Light"</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Laura M. Mueller, The Charlotte Observer "White Chocolate"<br>
Second Place — Alex Garcia, The Los Angeles Times "Flashy Signals"<br>
Third Place — Reneé Ittner McManus, The State (SC) "Simply Snowpea"<br>
HM — William Snyder, The Dallas Morning News "Nostalgic Look"</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Stephanie Grace Lim, Charlotte Observer "Corporate Welfare"<br>
Second Place — Stephanie Grace Lim, Charlotte Observer "City of Suits"<br>
Third Place — Ralph Lauer, Ft. Worth Star-Telegram "Out-of-date Medicine"<br>
HM — Nicole DeVito, The Eugene Register Guard "Geriatric Depression"</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — Khue Bui, The Washington Post "Children of the Inner City"<br>
Second Place — William Snyder, The Dallas Morning News "Trans-Siberian Railroad"<br>
Third Place — Leigh Daughtridge, The Commercial Appeal "Beale Street Boys"<br>
HM — Robert Cohen, The Commercial Appeal "Show of Hands"<br>
HM — Nuri Vallbona, The Miami Herald "Drug Hole Warriors"</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Alex Garcia, The Los Angeles Times "A Following in Their Footsteps"<br>
Second Place — Michael Williamson, The Washington Post "Trauma Tech"<br>
Third Place — Michael Williamson, The Washington Post "The Rains of Ruin"<br>
HM — André F. Chung, The Baltimore Sun "Deadly City"<br>
HM — Robert Cohen, The Commercial Appeal "Mending Hearts, Soothing Souls"<br>
HM — Laura Kleinhenz, The Commercial Appeal "Last Days of Lemoyne Gardens – a Tribute"<br>
HM — Santiago Lyon, The Associated Press "Albania Unrest"<br>
HM — Joe Stefanchik, The Dallas Morning News "After the War"</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
HM — Christopher A. Record, The Charlotte Observer "Kindergarten Cowboy"<br>
HM — Alan Spearman, The Commercial Appeal "The Kid (A Boy in a Man's Shoes)"</p>
<p style="text-align: center;"><a href="/contest/winners/ninety-six/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/ninety-eight/">NEXT YEAR</a>     |    <a href="/contest/winners/"> YEAR-BY-YEAR</a><a href="/contest/winners/ninety-five/"><br>
</a></p>

