---
title: 1991 Winners
navigation: Contest
---

<h1>1991 Winners</h1>

<p style="text-align: center;"><a href="/contest/winners/ninety/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/ninety-two/">NEXT YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1991 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Dianne Laakso, Atlanta Journal-Constitution</p>
<p><strong>BEST STUDENT PORTFOLIO</strong><br>
First – Marc Piscotty, Western Kentucky University<br>
Second – Rick Loomis, Western Kentucky University<br>
Third – Jessica Boyatt, Ohio University<br>
HM – Jeffrey Boan, Art Institute of Ft. Lauderdale<br>
HM – David Stephenson, Western Kentucky University<br>
HM – Adrian Dennis, University of Florida</p>
<p><strong>BEST PORTFOLIO</strong><br>
First – Jeffery A. Salter, Miami Herald<br>
Second – Candace B. Barbot, Miami Herald<br>
Third – Lucian Perkins, The Washington Post<br>
HM – Bill Snead, The Washington Post<br>
HM – Mike Stocker, Miami Herald</p>
<p><strong>GEORGIA PHOTOGRAPHER of the YEAR</strong><br>
First – Ken Hawkins, Georgia Trend Magazine<br>
HM – Jonas N. Jordan, U.S. Army<br>
HM – Frank Niemeir, Atlanta Journal-Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First – Janet Jarman, The (Boca Raton, FL) News<br>
Second – David Stephenson, Western Kentucky University<br>
Third – Patrick Ferrell, Miami Herald<br>
HM – Lucian Perkins, The Washington Post<br>
HM – Nancy Andrews, The Washington Post<br>
HM – Greg Lovett, Palm Beach Post</p>
<p><strong>GENERAL NEWS</strong><br>
First – Dianne Laakso, Atlanta Journal-Constitution<br>
Second – Louie Favorite, Atlanta Journal-Constitution<br>
Third – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Jason Hallmark, Western Kentucky University<br>
HM – Robert York, Freelance/Reuters<br>
HM – Patrick Ferrell, Miami Herald</p>
<p><strong>SPORTS ACTION</strong><br>
First – Jonathan Newton, Atlanta Journal-Constitution<br>
Second – Frank Niemeir, Atlanta Journal-Constitution<br>
Third – Caroline E. Couig, Palm Beach Post<br>
HM – Joel Richardson, The Washington Post<br>
HM – David Tulis, Reuters Newspapers<br>
HM – Billy Weeks, The Chattanooga Times</p>
<p><strong>SPORTS FEATURES</strong><br>
First – Eliot J. Schechter, Ft. Lauderdale Sun Sentinel<br>
Second – Dianne Laakso, Atlanta Journal-Constitution<br>
Third – Bill Frakes, Miami Herald<br>
HM – Louie Favorite, Atlanta Journal-Constitution<br>
HM – Robert Gurecki, The Daily Times (Primos, PA)</p>
<p><strong>FEATURE</strong><br>
First – Fred Comgeys, Wilmington (DE) News-Journal<br>
Second – Frank Niemeir, Atlanta Journal-Constitution<br>
Third – Larry McCormack, The Nashville Banner<br>
HM – John Simpson, Western Kentucky University<br>
HM – Bill Frakes, Miami Herald<br>
HM – Candace B. Barbot, Miami Herald</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – Eliot J. Schechter, Ft. Lauderdale Sun Sentinel<br>
Second – Dianne Laakso, Atlanta Journal-Constitution<br>
Third – Frank Niemeir. Atlanta Journal-Constitution<br>
HM – E. A. Kennedy III, Palm Beach Post<br>
HM – Louie Favorite, Atlanta Journal-Constitution<br>
HM – Louie Favorite, Atlanta Journal-Constitution<br>
HM – Dianne Laakso, Atlanta Journal-Constitution</p>
<p><strong>PICTORIAL</strong><br>
First – Craig Fritz, Western Kentucky University<br>
Second – Scott Wiseman, Palm Beach Post<br>
Third – Steve Jones, The Memphis Commercial Appeal<br>
HM – Todd Anderson, Jackson Hold Guide<br>
HM – Jamie Francis, The State<br>
HM – James Borchuck, Macon Telegraph</p>
<p><strong>EDITORIAL ILLUSTRATION</strong><br>
First – Sherman Zent, Palm Beach Post<br>
Second – Sherman Zent, Palm Beach Post<br>
Third – Craig Bell, Gaston Gazette<br>
HM – Al Diaz, Miami Herald</p>
<p><strong>FASHION</strong><br>
First – Louie Favorite, Atlanta Journal-Constitution<br>
Second – Bill Steber, The Tennessean<br>
Third – Lisa Waddell, The Commercial Appeal<br>
(No Honorable Mentions were awarded in this category)</p>
<p><strong>FOOD</strong><br>
First – Greg Foster – Freelance<br>
Second – Louie Favorite, Atlanta Journal-Constitution<br>
Third – Laura Embry, Nashville Banner<br>
HM – Delores Delvin, The Tennessean<br>
HM – Ken Riddick, Ft. Myers (FL) News-Press</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First – Patrick Ferrell, Miami Herald<br>
HM – Marc Piscotty, Western Kentucky University<br>
HM – Karim Shamsi-Basha, Birmingham Post-Herald</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – Janet Jarman, The News (Boca Raton, FL)<br>
Second – Scott Wiseman, Palm Beach Post<br>
Third – Joey Ivansco, Atlanta Journal-Constitution<br>
HM – Al Diaz, Miami Herald<br>
HM – Jon Kral, Miami Herald<br>
HM – Jonathan Newton, Atlanta Journal-Constitution</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – Carol Guzy, The Washington Post<br>
Second – Jamie Francis, The State<br>
Third – Walt Stricklin, Atlanta Journal-Constitution<br>
HM – Bill Snead, The Washington Post<br>
HM – Lannis Waters, Palm Beach Post</p>
<p style="text-align: center;">
<a href="/contest/winners/ninety/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/ninety-two/">NEXT YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>

