---
title: 2018 Best Portfolio
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>David Goldman / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-02e3b7', yaml_data: 'source/2018/best-portfolio/slideshow-first-place-02e3b7.yml' } %>