---
title: About
navigation: About
---

<p><a href="/documents/aps-2015-promotional-poster.pdf">Click here to view the 2015 Atlanta Seminar Promotional Poster (PDF)</a></p>

<p>The Atlanta Photojournalism Seminar, America’s longest continuously operating photojournalism conference, was founded in 1973 by a group of photojournalists representing newspapers, magazines and wire services. A 501(c)(3) organization, the Seminar promotes the highest standards of photojournalism through an annual educational conference and photography contest judged by working photographers and editors.</p>

<iframe width="100%" height="500" src="https://www.youtube.com/embed/AI3JL2nnZro" frameborder="0" allowfullscreen></iframe>

<p><strong>The Seminar offers:</strong></p>

<ul>
  <li>Photography and video workshops led by some of the country’s most talented photojournalists, aimed at helping photographers of any skill level.</li>
  <li>Distinguished speakers from photojournalism field.</li>
  <li>Vendor displays of the latest photography and video gear.</li>
  <li>Free clean and checks of equipment (limit two), provided by Nikon and Canon.</li>
  <li>Photography contest, awarding more than $5,000 in prizes.</li>
  <li>Portfolio reviews.</li>
</ul>

<p>Speakers throughout the years have included Pulitzer Prize winners, Photographer of the Year winners, major magazine and wire service photographers, influential directors of photography, important educators in photojournalism, academia.</p>