---
title: About
navigation: About
---

<h1>About</h1>

<p><a href="/documents/aps-2014-promotional-poster.pdf">Click here to view the 2014 Atlanta Seminar Promotional Poster (PDF)</a></p>

<p>The Atlanta Photojournalism Seminar was founded in 1973 by a group of photojournalists representing newspapers, magazines and wire services. Its reason for being is to promote the highest standards of photojournalism through an annual educational conference and a photography contest judged by working photographers.</p>

<iframe id="about-video" src="//player.vimeo.com/video/71135385" style="width:100%;height:500px;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<p><strong>The Seminar offers:</strong></p>

<ul>
  <li>Hands-on workshops for learning the latest photo tricks, techniques and technological advances</li>
  <li>A full day dedicated to video, featuring some of the country's most renowned videographers</li>
  <li>Distinguished speakers from the field of photojournalism</li>
  <li>Vendor displays and sale of the latest photo and video gear</li>
  <li>Nikon and Canon camera clean and check</li>
  <li>Yearly photo contest with more than $5,000 in prizes</li>
  <li>Portfolio critiques by editors who make the hiring decisions</li>
</ul>

<p>Speakers throughout the years have included Pulitzer Prize winners, Photographer of the Year winners, major magazine and wire service photographers, influential directors of photography, important educators in photojournalism, academia, and others important in this profession. Founded as a regional event, the Atlanta Photojournalism Seminar has grown to become one of the most prestigious photojournalism competitions, with participants from throughout the world.</p>