---
title: 2015 Rich Mahan Best Student Portfolio
navigation: Contest
comments: on
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Callaghan O'Hare</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-c633dc', yaml_data: 'source/contest/winners/2015/rich-mahan-best-student-portfolio/slideshow-first-place-c633dc.yml' } %>