---
title: 2006 Winners
navigation: Contest
---

<h1>2006 Winners</h1>

<p>The following are the winners from the 2006 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/five/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/seven/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 2006 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Oded Balilty, The Associated Press, “The Power of One”</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — David W. Guttenfelder, The Associated Press<br>
Second Place — Paula Bronstein, Getty Images<br>
Third Place — Tracy Boulian, Naples Daily News<br>
HM — Ben Gray, Atlanta Journal Constitution<br>
HM — Evan Semon, The Rocky Mountain News</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Christian Hansen, Western Kentucky University<br>
Second Place — Matt Eich, Ohio University<br>
Third Place — Benjamin Reed, University of Missouri—Columbia<br>
HM — Eric Kayne, Ohio University<br>
HM — Jim Korpi, Ohio University</p>
<p><strong>NEWSPAPER STAFF OF THE YEAR</strong><br>
Palm Beach Post</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Oded Balilty, The Associated Press, “The Power of One”<br>
Second Place — Ramsay deGive, Brooks Institute of Photography, “Inferno”<br>
Third Place — Kevin Frayer, The Associated Press, “Young Casualty”<br>
HM — Hadi Mizban, The Associated Press, “Baghdad Bombing”<br>
HM — Paula Bronstein, Getty Images, “Riot Police in Nepal”</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Oded Balilty, The Associated Press, “The Power of One”<br>
Second Place — Damsay deGive, Brooks Institute of Photography, “Inferno”<br>
Third Place — Kevin Frayer, The Associated Press, “Young Casualty”<br>
HM — Hadi Mizban, The Associated Press, “Baghdad Bombing”<br>
HM — Paula Bronstein, Getty Images, “Riot Police in Nepal”</p>
<p><strong>FEATURE SINGLE</strong><br>
First Place — Peter McCollough, Ohio University, “Red”<br>
Second Place — Carl Kiilsgaard, Western Kentucky University, “The Back Room”<br>
Third Place — Chris Detrick, Salt Lake Tribune, “Mystic Hot Springs”<br>
HM — John Freidah, Providence Journal, “Twins”<br>
HM — Yoon Byun, Hartford Courant, “Alternate Play”</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Joe Cavaretta, South Florida Sun—Sentinel, “Boxing”<br>
Second Place — Dan Powers, Appleton Post—Crescent, “Super Bowl MVP”<br>
Third Place — Jeff Siner, Charlotte Observer, “Panthers vs. Browns”<br>
HM — Dylan Wilson, Macon Telegraph, “Long Jump”<br>
HM — Nicholas Laham, Getty Images, “Matador and Bull”</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Cliff Jette, Cedar Rapids Gazette, “Match Winning Pin”<br>
Second Place — Maisie Crow. Patuxent Publishing, “Lost Horse”<br>
Third Place — Edmund Fountain, St. Petersburg Times, “Behind the Scenes”<br>
HM — Brant Sanderlin, Atlanta Journal Constitution, “Leader”<br>
HM — Ana Pimlser, Potomac News, “Hard to Watch”</p>
<p><strong>PORTRAIT</strong><br>
First Place — Autumn Cruz, Sacramento Bee, “Jeremy’s Bath”<br>
Second Place — Stephanie Klein—Davis, The Roanole Times, “Diamond Tooth Tolliver”<br>
Third Place — Q. Sakamaki, Redux Pictures, “Sex Worker”<br>
HM — Brian Lehmann, University of Nebraska, “Life”<br>
HM — Matt Eich, Ohio University, “Troy”</p>
<p><strong>PICTORIAL</strong><br>
First Place — Q. Sakamaki, Redux Pictures, “Sri Lankan Conflict”<br>
Second Place — Andrew Henderson, Freelance (Connecticut), untitled<br>
Third Place — Gary Coronado, Palm Beach Post, “Train Jumpers”<br>
HM — Matt Roth, Patuxent Publishing, “Milo the Cowboy”</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Spencer Platt, Getty Images, “A Battle of Faith”<br>
Second Place — Josh Metzler, The Roanoke Times, “Land of Opportunity”<br>
Third Place — Paula Bronstein, Getty Images, “The Agony of the Kashmir—Pakistan Earthquake”<br>
HM — Justin Sullivan, Getty Images, “Harvesting a Win”<br>
HM — David W. Guttenfelder, The Associated Press, “Gaza”</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — Christian Hansen, Western Kentucky University, “Life on the Cusp”<br>
Second Place — Gary Coronado, Palm Beach Post, Train Jumpers”<br>
Third Place — Yoon Byun, Hartford Courant, “Life’s Cycles”<br>
HM — Q. Sakamaki, Redux Pictures, “Sex Workers”<br>
HM — Melissa Lyttle, St. Petersburg Times, “Lillie”<br>
HM — Lisa Krantz, San Antonio Express—News, “A Big Not So Easy Mess”</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Erik Sucar, Freelance (New Jersey), “J—Mac”<br>
Second Place — Lisa Krantz, San Antonio News—Express, “MudDrags”<br>
Third Place — David W. Guttenfelder, The Associated Press, “Afghan Bodybuilding”<br>
HM — Kyle Green, Roanoke Times, “Ultimate Fight”<br>
HM — Melissa Lyttle, St. Petersburg Times, “This is How They Roll”</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Kyle Green, Roanoke Times, “Cyber Predator”<br>
Second Place —Q. Sakamaki, Redux Pictures, “Haunted by War” ”<br>
Third Place —Erik Lunsford, Palm Beach Post, “The Anchorman”<br>
HM — Erik Lunsford, Palm Beach Post, “The Bodyguard”<br>
HM — Erik Lunsford, Palm Beach Post, “The Professor”</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Lance Murphey, Memphis Commercial Appeal, “Dollhouse”<br>
Second Place — Autumn Cruz, Sacramento Bee, “Goth Fashion”<br>
Third Place — Roberto Gonzalez, Orlando Sentinel, “Bubble Boom”<br>
HM — Todd Sumlin, Charlotte Observer, “Red Accessories”<br>
HM — Roberto Gonzalez, Orlando Sentinel, “Colored With Gray”</p>
<p><strong>NIKON SHOOTOUT</strong><br>
Jesse Jones, University of N. Florida</p>
<p style="text-align: center;"><a href="/contest/winners/five/"><br>
PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/seven/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
