---
title: 2016 Chris Hondros Memorial International News
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Matt McClain / The Washington Post</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-035300', yaml_data: 'source/2016/chris-hondros-memorial-international-news/slideshow-first-place-035300.yml' } %>

<h3>Second Place: Dieu Nalio Chery / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-866cea', yaml_data: 'source/2016/chris-hondros-memorial-international-news/slideshow-second-place-866cea.yml' } %>

<h3>Third Place: Ben Curtis / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-123d62', yaml_data: 'source/2016/chris-hondros-memorial-international-news/slideshow-third-place-123d62.yml' } %>