---
title: 1987 Winners
navigation: Contest
---

<h1>1987 Winners</h1>

<p style="text-align: center;"><a href="/contest/winners/eighty-six/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/eighty-eight/">NEXT YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1987 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Micheal duCille, The Miami Herald</p>
<p><strong>BEST STUDENT PORTFOLIO</strong><br>
First – Jeffrey Camp, Daytona Beach Community College<br>
Second – Edward Remsburg<br>
Third – Richard Schultz, Indiana University<br>
HM – Mic Smith, Indiana University<br>
HM – Alan Lessig, University of Kentucky<br>
HM – John Anesi, Courtland High School<br>
HM – Scott Wiseman, Western Kentucky University<br>
HM – John Dunham, Western Kentucky University<br>
HM – Andrew Itkoff</p>
<p><strong>BEST PORTFOLIO</strong><br>
First – Ben Van Hook, The Courier-Journal<br>
Second – Charles Trainor Jr., The Miami Herald<br>
Third – Charles Ledford, The St. Petersburg Times<br>
HM – Patrick Farrell, The Miami News<br>
HM – Rick McKay, Cox Newspapers (Washington bureau)</p>
<p><strong>BEST GEORGIA PORTFOLIO</strong><br>
First – Joey Ivansco, Atlanta Journal and Constitution<br>
Second – Kelly Wilkinson, Gwinnett Daily News</p>
<p><strong>SPOT NEWS</strong><br>
First (tie) - Patrick Farrell, The Miami Herald<br>
First (tie) - Paul J. Milette, The Palm Beach Post<br>
Second – Mike Stocker, The Sun-Tattler<br>
Third – David Murray Jr., Ft. Lauderdale News/Sun-Sentinel<br>
HM – Kenneth E. Walker, Atlanta Journal and Constitution<br>
HM – Edwin H. Remsberg, student</p>
<p><strong>GENERAL NEWS</strong><br>
First – Todd Buchanan, The Courier-Journal<br>
Second – Joe Burbank, Fort Myers News-Press<br>
Third – Louis DeLuca, Dallas Times Herald<br>
HM – Bob Self, The Florida Times-Union<br>
HM – Judy Lutz, The Post-Gazette</p>
<p><strong>SPORTS ACTION</strong><br>
First – Pete Cross, The Miami Herald<br>
Second – Kelly Wilkinson, Gwinnett Daily News<br>
Third – Susan Gardner, Ft. Lauderdale News/Sun-Sentinel<br>
HM – David Woo, Dallas Morning News<br>
HM – Jerry L. Wolford, Greensboro News and Record</p>
<p><strong>SPORTS FEATURES</strong><br>
First – Ursula Seemann, Ft. Lauderdale News/Sun-Sentinel<br>
Second – Jonathan Newton, Nashville Banner<br>
Third – Patrick Farrell, The Miami Herald<br>
HM – Ron Jenkins, Fort Worth Star Telegram<br>
HM – Louis DeLuca, Dallas Times Herald</p>
<p><strong>FEATURE</strong><br>
First – Anne Ryan, Ft. Lauderdale News/Sun-Sentinel<br>
Second – Paul Uttermohlen, freelance<br>
Third – Kathy Anderson, The Times-Picayune<br>
HM – Mark Dolan, The Gainesville Sun<br>
HM – Catherine Krueger, The Sun Tattler<br>
HM – David Woo, The Dallas Morning News</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First – Charles Trainor Jr., The Miami Herald<br>
Second – Brian Smith, The Miami Herald<br>
Third – Ron Bell, The Florida Times-Union<br>
HM – Ron Bell, The Florida Times-Union<br>
HM – Todd Buchanan, The Courier-Journal<br>
HM – Charles F. Eaton Jr., The Anderson Independent Mail</p>
<p><strong>PICTORIAL</strong><br>
First – Charles Ledford, St. Petersburg Times<br>
Second – Scott Hoffman, Winston-Salem Journal<br>
Third – Mark Edelson, The Sun-Tattler<br>
HM – Charles Trainor Jr., The Miami Herald<br>
HM – Dave Findley, The Nashville Banner<br>
HM – Joe Burbank, Ft. Myers News-Press<br>
HM – Sam Upshaw Jr., The Courier-Journal</p>
<p><strong>EDITORIAL ILLUSTRATION</strong><br>
First – Sherman Zent, The Palm Beach Post<br>
Second – Mike Stocker, The Sun-Tattler<br>
Third – Ron Jenkins, Ft. Worth Star Telegram<br>
HM – David Spencer, The Pittsburgh Press<br>
HM – Dave Kraus, The Tulsa Tribune</p>
<p><strong>FASHION</strong><br>
First – Melissa Mimms, The Palm Beach Post<br>
Second – Melissa Mimms, The Palm Beach Post<br>
Third – Melissa Mimms, The Palm Beach Post<br>
HM – Vickie Lewis, The Albuquerque Tribune<br>
HM – Erica Berger, The Miami Herald<br>
HM – Joey Ivansco, The Atlanta Journal<br>
HM – Melissa Mimms, The Palm Beach Post</p>
<p><strong>FOOD</strong><br>
First – Lois Bernstein, The Virginian-Pilot<br>
Second – Craig Trumbo, The Providence Journal<br>
Third – Catharine Krueger, The Sun-Tattler<br>
HM – Sherman Zent, The Palm Beach Post<br>
HM – Sherman Zent, The Palm Beach Post</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First (tie) - Robert Cohen, The Sun-Tattler<br>
First (tie) - Patrick Farrell, The Miami Herald</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First – Michel duCille, The Miami Herald<br>
Second – Ben Van Hook, The Courier-Journal<br>
Third – Charles Trainor Jr., The Miami Herald<br>
HM – Ben Van Hook, The Miami Herald<br>
HM – Hope L. Ziffer, The Athens Banner Herald and Daily News<br>
HM – Bob Self, The Florida Times-Union</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First – Steve Thackston, The Augusta Chronicle-Herald<br>
Second – John Lopinot, The Palm Beach Post<br>
Third – Scott Sines, The San Antonio Express-News<br>
HM – David Woo, The Dallas Morning News<br>
HM – Thomas A. Price, The Ft. Myers News-Press</p>
<p style="text-align: center;">
<a href="/contest/winners/eighty-six/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/eighty-eight/">NEXT YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>

