---
title: 2018 Rich Mahan Best Student Portfolio
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>Gabriel Scarlett</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-0430a0', yaml_data: 'source/2018/rich-mahan-best-student-portfolio/slideshow-first-place-0430a0.yml' } %>