---
title: 1993 Winners
navigation: Contest
---

<h1>1993 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 1993 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1993 print contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Dianne Laakso, The Atlanta Journal-Constitution</p>
<p><strong>BEST PORTFOLIO</strong><br>
First place – Allan Detrich, Toledo Blade<br>
Second place – Mark Bugnaski, Baltimore Sun<br>
Third place – Michael Lutzky, Baltimore Sun<br>
HM – Jonathan Newton, The Atlanta Journal-Constitution<br>
HM – Patrick Farrell, Miami Herald</p>
<p><strong>STUDENT PORTFOLIO</strong><br>
First place – Karen Ballard, University of Kentucky<br>
Second place – Joe Stefanchik, Western Kentucky University<br>
Third place – Joe Howell, Western Kentucky University<br>
HM – Jared Lazarus, University of Florida<br>
HM – Sophie Brandstrom, Art Institute of Ft. Lauderdale</p>
<p><strong>GEORGIA PHOTOGRAPHER OF THE YEAR</strong><br>
First Place – Jonathan Newton, The Atlanta Journal-Constitution</p>
<p><strong>SPOT NEWS</strong><br>
First place – Matthew Craig, Augusta Chronicle<br>
Second place – Joe Burbank, The Orlando Sentinel<br>
Third place – Rick Musacchio, The Tennessean<br>
HM – Joe Burbank, The Orlando Sentinel<br>
HM – Lori Waselchuk, The Advocate</p>
<p><strong>GENERAL NEWS</strong><br>
First place – Robert Cohen, The Commercial Appeal<br>
Second place – Robert Cohen, The Commercial Appeal<br>
Third place – David Tulis, The Atlanta Journal-Constitution<br>
HM – Allan Detrich, Toledo Blade<br>
HM – Hal Stoezle, The Rocky Mountain News<br>
HM – Bo Rader, The Baltimore Sun</p>
<p><strong>FEATURE</strong><br>
First place – Dianne Laakso, The Atlanta Journal-Constitution<br>
Second place – Maryann Bates, The Macon Telegraph<br>
Third place – Stewart F. House, San Antonio Express-News<br>
HM – Caroline E. Couig, The Palm Beach Post<br>
HM – Cheryl Hatch, Albatross Press Agency<br>
HM – Allan Detrich, Toledo Blade</p>
<p><strong>SPORTS ACTION</strong><br>
First place – Fred Comegys, Wilmington News Journal<br>
Second place – Christopher A. Record, The Charlotte Observer<br>
Third place – Jay Capers, Florence Morning News<br>
HM – Rich Riggins, Patuxent Publishing<br>
HM – Patrick Kramer, Colorado State University</p>
<p><strong>SPORTS FEATURE</strong><br>
First place – David Stephenson, Jackson Hole Guide<br>
Second place – Joe Burbank, The Orlando Sentinel<br>
Third place – Robert Cohen, The Commercial Appeal<br>
HM – Ken Papaleo, Rocky Mountain News<br>
HM – David G. McIntyre, The Phoenix Gazette</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First place – Candace B. Barbot, The Miami Herald<br>
Second place – Ted Jackson, New Orleans Times-Picayune<br>
Third place – Candace B. Barbot, The Miami Herald<br>
HM – Candace B. Barbot, The Miami Herald<br>
HM – Blake Madden, The Augusta Chronicle</p>
<p><strong>PICTORIAL</strong><br>
First place – Jamie Francie, The State (Columbia, S.C.)<br>
Second place – Allan Detrich, Toledo Blade<br>
Third place – Marice Cohn Band, The Miami Herald<br>
HM – Freeman Ramsey Jr., The Tennessean<br>
HM – Jay Koelzer, The Rocky Mountain News</p>
<p><strong>EDITORIAL ILLUSTRATION</strong><br>
First place – Jay Koelzer, The Rocky Mountain News<br>
HM – Jay Koelzer, The Rocky Mountain News<br>
HM – Jay Koelzer, The Rocky Mountain News<br>
HM – Kathy Anderson/Kenneth Hamson, The Times-Picayune</p>
<p><strong>FASHION</strong><br>
First place – Mark Mirko, The Palm Beach Post<br>
Second place – John Davenport, San Antonio Express-News<br>
Third place – Patrick D. Witty, Western Kentucky University<br>
HM – Louie Favorite, The Atlanta Journal-Constitution<br>
HM – Mark Mirko, The Palm Beach Post</p>
<p><strong>FOOD</strong><br>
First place – Joe Koelzer, The Rocky Mountain News<br>
Second place – Louie Favorite, The Atlanta Journal-Constitution<br>
Third place – Jock E. Fistick, Tampa Tribune<br>
HM – Jay Koelzer, The Rocky Mountain News</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First place – Ted Jackson, Times-Picayune<br>
Second place – Robin L. Buckson, Western Kentucky University<br>
Third place – John McCusker, Times-Picayune<br>
HM – Anne McQuary, The State (Columbia, S.C)<br>
HM – Ken Harper, Western Kentucky University<br>
HM – Allan Detrich, Toledo Blade</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First place – Karen Ballard, University of Kentucky<br>
Second place – Tyrone Turner, Times-Picayune<br>
Third place – Louie Favorite, Atlanta Journal-Constitution<br>
HM – John R. Stanmeyer, Tampa Tribune<br>
HM – Patrick Farrell, The Miami Herald</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First place – Greg Lovett, The Palm Beach Post<br>
Second place – Lloyd Fox, The Baltimore Sun<br>
Third place – Greg Lovett, The Palm Beach Post<br>
HM – Joe Stefanchik, Western Kentucky University</p>

<%= partial 'layouts/contest_navigation', locals: { year: 1993 } %>