---
title: Staff
navigation: About
---

<p><strong>The members of our all-volunteer board are:</strong></p>

<p>
  <ul>
    <li><strong>Kevin Liles</strong> - President</li>
    <li><strong>David Tulis</strong> - Registration Chair</li>
    <li><strong>Ben Gray</strong> - Workshop Chair</li>
    <li><strong>Erik S. Lesser</strong> - Speaker Chair</li>
    <li><strong>Tami Chappell</strong> - Sponsor Chair</li>
    <li><strong>Phil Skinner</strong> - Co-Contest Chair, Logistics</li>
    <li><strong>Jeremy Brooks</strong> - Co-Contest Chair</li>
    <li><strong>Michael Schwarz</strong> - Chief Financial Officer</li>
    <li><strong>Ted Pio-Roda</strong> - Production Supervisor/Portfolio Review Chair</li>
    <li><strong>Jabin Botsford</strong> - Volunteer Chair</li>
    <li><strong>Casey Scarborough</strong> - Webmaster</li>
    <li><strong>Lance Murphey</strong> - Video Speaker Chair</li>
  </ul>
</p>