---
Title: Seminar Staff
---

<h1>Seminar Staff</h1>

<p><strong>The members of our all-volunteer board are:</strong></p>

<p>
  <ul>
    <li><strong>Kevin Liles</strong> — President and Webmaster</li>
    <li><strong>Steve Schaefer</strong> — Vice Chair and Volunteer Chair</li>
    <li><strong>David Tulis</strong> — Registration chair</li>
    <li><strong>Ben Gray</strong> — Workshop Chair</li>
    <li><strong>Erik S. Lesser</strong> — Speaker Chair</li>
    <li><strong>Tami Chappell</strong> — Sponsor Chair</li>
    <li><strong>Phil Skinner</strong> — Co-Contest Chair</li>
    <li><strong>Jeremy Brooks</strong> — Co-Contest Chair</li>
    <li><strong>Michael Schwarz</strong> — Chief Financial Officer</li>
    <li><strong>Ted Pio-Roda</strong> — Communications Chair</li>
    <li><strong>Jabin Botsford</strong> — Social Media Chair</li>
  </ul>
</p>