---
title: 2013 Best Portfolio
navigation: Contest
comments: on
---

<%= partial 'layouts/return_to_winners' %>

<h4>Winner: Andrew Biraj / Reuters</h4>

<%= partial 'layouts/slideshow', locals: { id: 'carousel', yaml_data: 'source/contest/winners/2013/best-portfolio/slideshow.yml', keybindings: true } %>