---
title: 2014 Best In Show
navigation: Contest
layout: wide
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>Winner: John Moore / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-e2c772', yaml_data: 'source/2014/chris-hondros-memorial-international-news/slideshow-first-place-e2c772.yml', keybindings: true } %>