---
title: 2021 Video Multimedia Project (Short) Winners
layout: wide
comments: off
---

<p style='text-align: center;'>
<a href='https://www.youtube.com/watch?v=78gnZcT5hOo&t=14s' target='_blank'>First Place – Michael Simons / Tulsa World </a>
</p>