---
title: 2015 Long Term Documentary Project
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place  – John Pendygraft / Tampa Bay Times</h3>

<p><a href="http://www.tampabay.com/projects/2015/investigations/florida-mental-health-hospitals/video/" target="_blank">http://www.tampabay.com/projects/2015/investigations/florida-mental-health-hospitals/video/</a></p>

<h3>Second Place – Carter McCall</h3>

<p><iframe src="https://player.vimeo.com/video/114979255" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>

<h3>Honorable Mention – Sophia Allison / UNC - Chapel Hill</h3>

<p><iframe src="https://player.vimeo.com/video/133760048" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p></p>