---
title: 2014 Best Portfolio
navigation: Contest
comments: on
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Bulent Kilic / Agence France-Presse</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-ba8ab4', yaml_data: 'source/contest/winners/2014/best-portfolio/slideshow-first-place-ba8ab4.yml', keybindings: true } %>