---
title: 2019 Schedule
navigation: Schedule
---

For more information regarding speakers and topics, visit the <strong><a href="/faculty/">2019 Faculty</a></strong> page.</p>

<h3>Friday Workshops (November 8)</h3>

<p><strong>7:00am</strong> – Registration Desk Opens<br>
<strong>7:00am</strong> – Vendor Room Opens<br>
<strong>8:00am-Noon</strong> – Contest Judging<br>
<strong>1:00-6:00pm</strong> – Contest Judging</p>

<h4>Workshops</h4>

<strong>8:00-9:15am</strong> – Block 1
<ul>
  <li>John Harrington - The Business of Photography</li>
  <li>David Goldman - Managing and Executing Large Visual Projects</li>
  <li>Haimy Assefa - Video Documentary Storytelling</li>
</ul>

<strong>9:15-9:30am</strong> – Break<br><br>

<strong>9:30-10:45am</strong> – Block 2
<ul>
  <li>Rich Glickstein - Covering Traumatic Events for Journalists and Mental Health Professionals Part 1 (Please attend both of Rich's back to back sessions)</li>
  <li>David Goldman - Managing and Executing Large Visual Projects</li>
  <li>Haimy Assefa - Video Documentary Storytelling</li>
</ul>

<strong>10:45-11:00am</strong> – Break<br><br>

<strong>11:00am–12:15pm</strong> – Block 3
<ul>
  <li>Rich Glickstein - Covering Traumatic Events for Journalists and Mental Health Professionals Part 2 (Please attend both of Rich's back to back sessions)</li>
  <li>Ryon Horne - Video Storytelling with the Resources You Have</li>
  <li>Bernadette Tuazon - Conscious Inclusion</li>
</ul>
<strong>12:15-1:30pm</strong> – Lunch Break<br><br>

<strong>1:30–2:45pm</strong> – Block 4
<ul>
  <li>John Harrington - The Business of Photography</li>
  <li>Ryon Horne - Video Storytelling with the Resources You Have</li>
  <li>Bernadette Tuazon - Conscious Inclusion</li>
</ul>
<strong>2:45–3:00pm</strong> – Break<br><br>

<strong>3:00–4:15pm</strong> – Block 5
<ul>
  <li>Richard Liebowitz - Hot Topics in Copyright Law that Affect the Professional Photographer</li>
  <li>Gabriel Scarlett - Navigating a College Career and More</li>
  <li>Ryon Horne - Video Storytelling with the Resources You Have</li>
</ul>
<strong>4:15–4:30pm</strong> – Break<br><br>

<strong>4:30–5:45pm</strong> – Block 6
<ul>
  <li>Richard Liebowitz - Hot Topics in Copyright Law that Affect the Professional Photographer</li>
  <li>Gabriel Scarlett - Navigating a College Career and More</li>
</ul>

<p>
  <strong>6:00-8:00pm</strong> – Meet and Greet in the Hotel Bar/Reception Area<br>
  <strong>8:00-9:00pm</strong> – Panel Discussions<br>
  <strong>9:00pm-???</strong> – Portfolio Reviews
</p>

<h3>Saturday Speakers (November 9)</h3>

<p>
  <strong>7:30am</strong> – Registration Desk Opens<br>
  <strong>8:00am</strong> - Vendor Room Opens<br>
  <strong>9:00am-3:30pm</strong> - Silent Auction
</p>

<h4>Speakers</h4>

<ul>
  <li><strong>8:25am</strong> – Welcome/Announcements</li>
  <li><strong>8:30-9:30am</strong> – Carolyn Van Houten</li>
  <li><strong>9:30-9:45pm</strong> – Coffee Break (Sponsored by Associated Press Atlanta)</li>
  <li><strong>9:45-10:45am</strong> – Jessica Koscielniak</li>
  <li><strong>11:00am-12:00pm</strong> – Michael McCarter</li>
  <li><strong>12:00-1:15pm</strong> – Lunch (on your own)</li>
  <li><strong>1:15-2:15pm</strong> – Lisa Krantz</li>
  <li><strong>2:30-3:45pm</strong> – David Burnett (Sponsored by Sony)</li>
  <li><strong>4:00-5:15pm</strong> – Stephanie Sinclair (Sponsored by Canon)</li>
</ul>

<p>
  <strong>5:15-5:30pm</strong> – Contest Announcements<br>
  <strong>6:00-8:00pm</strong> – Meet and Greet in the Hotel Bar/Reception Area<br>
  <strong>8:00-9:00pm</strong> – Panel Discussions<br>
  <strong>9:00-11:00pm</strong> – Portfolio Reviews
</p>

<p>
  <em>***All speakers, dates and times are subject to change.</em>
</p>