---
title: Schedule
navigation: Schedule
---

<h1>2014 Schedule</h1>

<p>The following is the schedule for the <strong>2014 Atlanta Photojournalism Seminar</strong>. Check back later for updates about the <strong>2015 Atlanta Photojournalism Seminar</strong>.

For more information regarding speakers and topics, visit the <strong><a href="/faculty" target="_blank">2014 Faculty</a></strong> page.</p>

<p>
  <strong><a href="/documents/aps-2014-schedule.pdf">Click here to download a PDF of the 2014 schedule.</a></strong>
</p>

<h3>Thursday Video Speakers (November 13)</h3>

<p>All Video Day activities are held in the Mercer Room.</p>

<ul>
  <li><strong>7:30am</strong> – Registration desk opens</li>
  <li><strong>8:30am</strong> – Eyeopener videos begin</li>
  <li><strong>9:30am-5:45pm</strong>  – Contest Judging (Open to public)</li>
  <li><strong>9:30-10:45am</strong> – <strong>Amani Channel</strong> / <em>Visual Eye Media</em></li>
  <li><strong>11:00-12:15pm</strong> – <strong>Oliver Janney</strong> / <em>CNN</em></li>
  <li><strong>12:15-1:30pm</strong> – Lunch on your own </li>
  <li><strong>1:30-2:45pm</strong> – <strong>Lauren Frohne</strong> / <em>Seattle Times</em></li>
  <li><strong>3:00-4:15pm</strong> – <strong>Wes Pope</strong> / <em>University of Oregon</em></li>
  <li><strong>4:30-5:45pm</strong> – <strong>Eric Seals</strong> / <em>Detroit Free Press</em></li>
</ul>

<br>

<h3>Friday Workshops (November 14)</h3>

<ul>
  <li><strong>8:00am</strong> – Registration desk opens</li>
  <li><strong>12:00am-5:00pm</strong>  – Contest Judging (Open to public, except for portfolio judging) (Richard Rogers Room)</li>
</ul>

<ul>
  <li><strong>9:00-10:45am</strong></li>
  <li style="list-style-type:none">
    <ul>
      <li>Location Lighting – <strong>Robert Seale</strong> / <em>robertseale.com</em> (Mercer Room)</li>
      <li>Shooting With Your Ears – <strong>Oliver Janney</strong> / <em>CNN</em> (Kern Room)</li>
    </ul>
  </li>
</ul>

<ul>
  <li><strong>11:00-12:45am</strong></li>
  <li style="list-style-type:none">
    <ul>
      <li>Location Lighting – <strong>Robert Seale</strong> / <em>robertseale.com</em> (Mercer Room)</li>
      <li>Shooting With Your Ears – <strong>Oliver Janney</strong> / <em>CNN</em> (Kern Room)</li>
      <li>Sports – <strong>Jamie Squire</strong> / <em>Getty Images</em> (Concourse South)</li>
    </ul>
  </li>
</ul>

<ul>
  <li><strong>12:45-2:00pm</strong> – Lunch on your own</li>
</ul>

<ul>
  <li><strong>2:15-4:00pm</strong></li>
  <li style="list-style-type:none">
    <ul>
      <li>Go Pros: Dos, Don'ts, and Drones – <strong>Eric Seals</strong> / <em>Detroit Free Press</em> (Bernstein II Room)</li>
      <li>Sports – <strong>Jamie Squire</strong> / <em>Getty Images</em> (Concourse South)</li>
      <li>Standing on Your Own Two Feet – <strong>Judy Herrmann</strong> / <em>Herrmann + Starke</em> (Kern Room)</li>
    </ul>
  </li>
</ul>
 
<ul>
<li><strong>4:15-6:00pm</strong></li>
<li style="list-style-type:none">
<ul>
  <li>Go Pros: Dos, Don'ts, and Drones – <strong>Eric Seals</strong> / <em>Detroit Free Press</em> (Bernstein II Room)</li>
  <li>Standing on Your Own Two Feet – <strong>Judy Herrmann</strong> / <em>Herrmann + Starke</em> (Concourse South)</li>
</ul>
</li>
</ul>

<ul>
  <li><strong>8:00pm-???</strong> – Portfolio Reviews (Concourse South)</li>
</ul>

<br>

<h3>Saturday Speakers (November 15)</h3>

<p>All Speaker activities are held in the Ballroom.</p>

<ul>
  <li><strong>8:00am</strong> – Registration desk opens</li>
  <li><strong>8:40am</strong> – Eyeopener videos begin</li>
  <li><strong>8:50am</strong> – Welcome/Announcements</li>
  <li><strong>9:00-10:15am</strong> – <strong>Al Diaz</strong> / <em>Miami Herald</em></li>
  <li><strong>10:30-11:45am</strong> – <strong>Ken Lyons</strong> / <em>The Denver Post</em></li>
  <li><strong>11:45-12:45pm</strong> – Lunch on your own</li>
  <li><strong>12:45-2:00pm</strong> – <strong>Scott Strazzante</strong> / <em>San Francisco Chronicle</em></li>
  <li><strong>2:15-3:30pm</strong> – <strong>Amy Toensing</strong></li>
  <li><strong>3:45-5:00pm</strong> – <strong>Matt Eich</strong></li>
  <li><strong>5:00-5:30pm</strong> – Contest and Dave Martin Student Grant award presentations</li>
  <li><strong>8:00-10:00pm</strong> – Breakout Sessions (topics and locations TBA)</li>
  <li><strong>8:00pm-???</strong> – Portfolio Reviews (Concourse South)</li>
</ul>

<p>
  <em>***All speakers, dates and times are subject to change.</em>
</p>