---
title: 2017 Schedule
navigation: Schedule
---

For more information regarding speakers and topics, visit the <strong><a href="/faculty/">2017 Faculty</a></strong> page.</p>

<h3>Friday Workshops (November 11)</h3>

<p><strong>8:00am</strong> – Registration Desk Opens<br>
<strong>8:00am-12:00pm</strong> – Contest Judging<br>
<strong>1:00-6:00pm</strong> – Contest Judging</p>

<h4>Photo Workshops</h4>

<ul>
  <li><strong>9:00-10:15am</strong> – <a href="/faculty/workshops/#yunghi-kim">Yunghi Kim - Photojournalism Jigsaw; Navigate the Puzzle</a></li>
  <li><strong>9:00-10:15am</strong> – <a href="/faculty/workshops/#john-nowak">John Nowak - Sexy Lighting on the Run</a></li>
  <li><strong>9:00-10:15am</strong> – <a href="/faculty/workshops/#alicia-burton-steele">Alicia Burton Steele - Effective Storytelling</a></li>
  <li><strong>10:15-10:45am</strong> – Break</li>
  <li><strong>10:45am-12:00pm</strong> – <a href="/faculty/workshops/#yunghi-kim">Yunghi Kim - Photojournalism Jigsaw; Navigate the Puzzle</a></li>
  <li><strong>10:45am-12:00pm</strong> – Drone Photo Workshop - Techniques, Gear, Rules (Faculty member TBA)</li>
  <li><strong>10:45am-12:00pm</strong> – <a href="/faculty/workshops/#richard-liebowitz">Richard Liebowitz - Protecting Your Copyright</a></li>
  <li><strong>12:00-1:00pm</strong> – Lunch Break</li>
  <li><strong>1:00-2:15pm</strong> – <a href="/faculty/workshops/#richard-liebowitz">Richard Liebowitz - Protecting Your Copyright</a></li>
  <li><strong>1:00-2:15pm</strong> – <a href="/faculty/workshops/#alicia-burton-steele">Alicia Burton Steele - Effective Storytelling</a></li>
  <li><strong>1:00-2:15pm</strong> – <a href="/faculty/workshops/#john-nowak">John Nowak - Sexy Lighting on the Run</a></li>
</ul>

<h4>Video Workshops</h4>

<ul>
  <li><strong>2:30-3:45pm</strong> – <a href="/faculty/video-workshops/#deborah-acosta">NY Times Video Journalist Deborah Acosta</a></li>
  <li><strong>2:30-3:45pm</strong> – <a href="/faculty/video-workshops/#jamie-francis">Blue Chalk Media's Jamie Francis</a></li>
  <li><strong>3:45-4:15pm</strong> – Break</li>
  <li><strong>4:15-5:30pm</strong> – <a href="/faculty/video-workshops/#brent-foster">Holiday Films' Brent Foster</a></li>
  <li><strong>4:15-5:30pm</strong> – Drone Video Workshop - Techniques, Gear, Rules (Faculty member TBA)</li>
  <li><strong>5:30-5:45pm</strong> – Break</li>
  <li><strong>5:45-7:00pm</strong> – <a href="/faculty/video-workshops/#deborah-acosta">NY Times Video Journalist Deborah Acosta</a></li>
  <li><strong>5:45-7:00pm</strong> – <a href="/faculty/video-workshops/#jamie-francis">Blue Chalk Media's Jamie Francis</a></li>
  <li><strong>5:45-7:00pm</strong> – <a href="/faculty/video-workshops/#brent-foster">Holiday Films' Brent Foster</a></li>
</ul>

<strong>9:00pm-???</strong> – Portfolio Reviews</p>

<h3>Saturday Speakers (November 12)</h3>

<ul>
  <li><strong>8:00am</strong> – Registration Desk Opens</li>
  <li><strong>8:00am</strong> - Vendor Room Opens</li>
  <li><strong>10:00am-4:00pm</strong> - Silent Auction</li>
  <li><strong>8:50am</strong> – Welcome/Announcements</li>
  <li><strong>9:00-10:15am</strong> – <a href="/faculty/speakers/#jabin-botsford">Jabin Botsford</a></li>
  <li><strong>10:15-10:45am</strong> – Break</li>
  <li><strong>10:45am-12:00pm</strong> – <a href="/faculty/speakers/#nick-oza">Nick Oza</a></li>
  <li><strong>12:00-1:00pm</strong> – Lunch Break</li>
  <li><strong>1:00-2:15pm</strong> – <a href="/faculty/speakers/#yunghi-kim">Yunghi Kim</a></li>
  <li><strong>2:15-2:45pm</strong> – Break</li>
  <li><strong>2:45-4:00pm</strong> – <a href="/faculty/speakers/#eli-reed">Eli Reed</a></li>
  <li><strong>4:00-4:15pm</strong> – Break</li>
  <li><strong>4:15-5:30pm</strong> – <a href="/faculty/speakers/#pete-souza">Pete Souza</a></li>
</ul>

<p>
  <strong>9:00pm-???</strong> – Portfolio Reviews Peachtree Corners
</p>

<p>
  <em>***All speakers, dates and times are subject to change.</em>
</p>