---
title: 2017 Schedule
navigation: Schedule
---

For more information regarding speakers and topics, visit the <strong><a href="/faculty/">2017 Faculty</a></strong> page.</p>

<h3>Friday Workshops (November 10)</h3>

<p><strong>8:00am</strong> – Registration Desk Opens<br>
<strong>8:00am</strong> - Vendor Room Opens<br>
<strong>8:00am</strong> - Nikon and Canon Clean and Check Begins<br>
<strong>8:00am-12:00pm</strong> – Contest Judging<br>
<strong>1:00-6:00pm</strong> – Contest Judging</p>

<h4>Photo Workshops</h4>

<ul>
  <li><strong>9:00-10:15am</strong> – <a href="/faculty/workshops/#yunghi-kim">Yunghi Kim - Photojournalism Jigsaw; Navigate the Puzzle</a> (Hunnicut C - small room)</li>
  <li><strong>9:00-10:15am</strong> – <a href="/faculty/workshops/#john-nowak">John Nowak - Sexy Lighting on the Run</a> (Peachtree Corners)</li>
  <li><strong>9:00-10:15am</strong> – <a href="/faculty/workshops/#alysia-burton-steele">Alysia Burton Steele - Effective Storytelling</a> (Medlock Amphitheatre)</li>
  <li><strong>10:15-10:45am</strong> – Break</li>
  <li><strong>10:45am-12:00pm</strong> – <a href="/faculty/workshops/#yunghi-kim">Yunghi Kim - Photojournalism Jigsaw; Navigate the Puzzle</a> (Medlock Amphitheatre)</li>
  <li><strong>10:45am-12:00pm</strong> – <a href="/faculty/workshops/#matt-sloane">Matt Sloane - Drone Photo Workshop - Techniques, Gear, Rules</a> (Peachtree Corners)</li>
  <li><strong>10:45am-12:00pm</strong> – <a href="/faculty/workshops/#richard-liebowitz">Richard Liebowitz - Protecting Your Copyright</a> (Hunnicut C - small room)</li>
  <li><strong>12:00-1:00pm</strong> – Lunch Break</li>
  <li><strong>1:00-2:15pm</strong> – <a href="/faculty/workshops/#richard-liebowitz">Richard Liebowitz - Protecting Your Copyright</a> (Hunnicut C - small room)</li>
  <li><strong>1:00-2:15pm</strong> – <a href="/faculty/workshops/#alysia-burton-steele">Alysia Burton Steele - Effective Storytelling</a> (Medlock Amphitheatre)</li>
  <li><strong>1:00-2:15pm</strong> – <a href="/faculty/workshops/#john-nowak">John Nowak - Sexy Lighting on the Run</a> (Peachtree Corners)</a></li>
</ul>

<h4>Video Workshops</h4>

<ul>
  <li><strong>2:30-3:45pm</strong> – <a href="/faculty/video-workshops/#deborah-acosta">NY Times Video Journalist Deborah Acosta</a> (Medlock Amphitheatre)</li>
  <li><strong>2:30-3:45pm</strong> – <a href="/faculty/video-workshops/#jamie-francis">Blue Chalk Media's Jamie Francis</a> (Peachtree Corners)</li>
  <li><strong>3:45-4:15pm</strong> – Break</li>
  <li><strong>4:15-5:30pm</strong> – <a href="/faculty/video-workshops/#brent-foster">Holiday Films' Brent Foster</a> (Medlock Amphitheatre)</li>
  <li><strong>4:15-5:30pm</strong> – <a href="/faculty/video-workshops/#matt-sloane">Matt Sloane - Drone Video Workshop - Techniques, Gear, Rules</a> (Peachtree Corners)</li>
  <li><strong>5:30-5:45pm</strong> – Break</li>
  <li><strong>5:45-7:00pm</strong> – <a href="/faculty/video-workshops/#deborah-acosta">NY Times Video Journalist Deborah Acosta</a> (Medlock Amphitheatre)</li>
  <li><strong>5:45-7:00pm</strong> – <a href="/faculty/video-workshops/#jamie-francis">Blue Chalk Media's Jamie Francis</a> (Peachtree Corners)</li>
  <li><strong>5:45-7:00pm</strong> – <a href="/faculty/video-workshops/#brent-foster">Holiday Films' Brent Foster</a> (Hunnicut C - small room)</li>
</ul>

<strong>9:00pm-???</strong> – Portfolio Reviews</p>

<h3>Saturday Speakers (November 11)</h3>

<ul>
  <li><strong>8:00am</strong> – Registration Desk Opens</li>
  <li><strong>8:00am</strong> - Vendor Room Opens</li>
  <li><strong>8:00am</strong> - Nikon and Canon Clean and Check Begins</li>
  <li><strong>10:00am-4:00pm</strong> - Silent Auction</li>
  <li><strong>8:45am</strong> – Welcome/Announcements</li>
  <li><strong>8:50-9:50am</strong> – <a href="/faculty/speakers/#jabin-botsford">Jabin Botsford</a></li>
  <li><strong>9:55am-11:00am</strong> – <a href="/faculty/speakers/#nick-oza">Nick Oza</a></li>
  <li><strong>11:00-11:25am</strong> – Break</li>
  <li><strong>11:25am-12:30pm</strong> – <a href="/faculty/speakers/#renee-byer">Renée Byer</a></li>
  <li><strong>12:30-1:30pm</strong> – Lunch Break</li>
  <li><strong>1:30-2:40pm</strong> – <a href="/faculty/speakers/#yunghi-kim">Yunghi Kim</a></li>
  <li><strong>2:45-4:05pm</strong> – <a href="/faculty/speakers/#eli-reed">Eli Reed</a></li>
  <li><strong>4:05-4:30pm</strong> – Break / Pickup Silent Auction Items / Pickup Clean and Check Items</li>
  <li><strong>4:30-5:50pm</strong> – <a href="/faculty/speakers/#pete-souza">Pete Souza</a></li>
  <li><strong>5:50-6:05pm</strong> – Contest Awards Announcements and Closing</li>
  <li><strong>6:15-8:00pm</strong> – Pete Souza Book Signing (must purchase book at the seminar or <a href='http://photojournalism.eventbrite.com'>on Eventbrite</a> to attend the book signing)</li>
</ul>

<p>
  <strong>9:00pm-???</strong> – Portfolio Reviews Peachtree Corners
</p>

<p>
  <em>***All speakers, dates and times are subject to change.</em>
</p>