---
title: 2015 Schedule
navigation: Schedule
---

For more information regarding speakers and topics, visit the <strong><a href="/faculty">2015 Faculty</a></strong> page.</p>

<h3>Friday Workshops (November 13)</h3>

<p><strong>8:00am</strong> – Registration Desk Opens<br>
<strong>8:00am-12:00pm</strong> – Contest Judging<br>
<strong>12:30pm until completion</strong> – Contest Judging</p>

<h4>Photo Workshops</h4>

<ul>
  <li><strong>9:00-10:30am</strong> – <a href="/faculty/workshops/#gary-chapman">Is Non-Profit, Humanitarian, Cause-Related Photography for You? (Gary Chapman)</a></li>
  <li><strong>10:45am-12:15pm</strong> – <a href="/faculty/workshops/#victoria-will">Portraits Under Pressure (Victoria Will)</a> / <a href="/faculty/workshops/#carolyn-potts">What Do I Do Now?!? Charting a Viable "Plan B" for the Photojournalist (Carolyn Potts)</a></li>
  <li><strong>12:15-1:30pm</strong> – Break for Lunch</li>
  <li><strong>1:30-3:00pm</strong> – <a href="/faculty/workshops/#victoria-will">Portraits Under Pressure (Victoria Will)</a> / <a href="/faculty/workshops/#ben-lowy">iPhone + Instagram (Ben Lowy)</a></li>
</ul>

<h4>Video Workshops</h4>

<ul>
  <li><strong>4:00-5:30pm</strong> – <a href="/faculty/video-workshops/#bill-frakes">Deconstruction of a Documentary (Bill Frakes)</a></li>
  <li><strong>5:30-6:45pm</strong> – Break for Dinner</li>
  <li><strong>6:45-8:15pm</strong> – <a href="/faculty/video-workshops/#kassie-bracken">Motion + Emotion + Great Sound (Kassie Bracken)</a></li>
  <li><strong>8:30-10:00pm</strong> – <a href="/faculty/video-workshops/#tim-matsui">Becoming an Agent of Change (Tim Matsui)</a></li>
</ul>

<p><strong>10:15pm-???</strong> – Portfolio Reviews</p>

<h3>Saturday Speakers (November 14)</h3>

<ul>
  <li><strong>8:00am</strong> – Registration Desk Opens</li>
  <li><strong>8:50am</strong> – Welcome/Announcements</li>
  <li><strong>9:00-10:15am</strong> – <a href="/faculty/speakers/#robert-cohen">Robert Cohen / St. Post Dispatch</a></li>
  <li><strong>10:30-11:45am</strong> – <a href="/faculty/speakers/#sara-lewkowicz">Sara Lewkowicz / Freelance</a></li>
  <li><strong>11:45am-12:45pm</strong> – Break for Lunch</li>
  <li><strong>12:45-2:00pm</strong> – <a href="/faculty/speakers/#bill-frakes">Bill Frakes</a></li>
  <li><strong>2:15-3:30pm</strong> – <a href="/faculty/speakers/#ben-lowy">Ben Lowy</a></li>
  <li><strong>3:45-5:00pm</strong> – <a href="/faculty/speakers/#david-hume-kennerly">David Hume Kennerly</a></li>
</ul>

<p><strong>9:00pm-???</strong> – Portfolio Reviews</p>

<p>
  <em>***All speakers, dates and times are subject to change.</em>
</p>