---
title: 2015 Schedule
navigation: Schedule
---

For more information regarding speakers and topics, visit the <strong><a href="/faculty" target="_blank">2015 Faculty</a></strong> page.</p>

<h3>Friday Workshops (November 13)</h3>

<p><strong>8:00am</strong> – Registration Desk Opens</p>

<h4>Photo Workshops</h4>

<ul>
  <li><strong>9:00-10:30am</strong> – Gary Chapman</li>
  <li><strong>10:45am-12:15pm</strong> – Victoria Will / Carolyn Potts</li>
  <li><strong>12:15-1:30pm</strong> – Break for Lunch</li>
  <li><strong>1:30-3:00pm</strong> – Victoria Will / Ben Lowy</li>
</ul>

<h4>Video Workshops</h4>

<ul>
  <li><strong>4:00-5:30pm</strong> – Bill Frakes</li>
  <li><strong>5:30-6:45pm</strong> – Break for Dinner</li>
  <li><strong>6:45-8:15pm</strong> – Kassie Bracken</li>
  <li><strong>8:30-10:00pm</strong> – Tim Matsui</li>
</ul>

<h3>Saturday Speakers (November 14)</h3>

<ul>
  <li><strong>8:00am</strong> – Registration Desk Opens</li>
  <li><strong>8:50am</strong> – Welcome/Announcements</li>
  <li><strong>9:00-10:15am</strong> – Robert Cohen / St. Post Dispatch</li>
  <li><strong>10:30-11:45am</strong> – Sara Lewkowicz / Freelance</li>
  <li><strong>11:45am-12:45pm</strong> – Break for Lunch</li>
  <li><strong>12:45-2:00pm</strong> – Bill Frakes</li>
  <li><strong>2:15-3:30pm</strong> – Ben Lowy</li>
  <li><strong>3:45-5:00pm</strong> – David Hume Kennerly</li>
</ul>

<p>
  <em>***All speakers, dates and times are subject to change.</em>
</p>