---
title: 1998 Winners
navigation: Contest
---

<h1>1998 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 1998 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1998 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Allan Detrich, Block News Alliance</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Allan Detrich, Block News Alliance<br>
Second Place — Patrick A. Schneider, The Charlotte Observer<br>
Third Place — Rich Addicks, The Atlanta Journal-Constitution<br>
HM — Chris Stanford, Copely Newspapers<br>
HM — Jeff Widener, The Honolulu Advertiser</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Stuart Thurkill, University of Montana<br>
Second Place — Rich Glickstein, University of Florida<br>
Third Place — Chad Stevens, Western Kentucky University<br>
HM — Joshua Dautoff, Antioch College<br>
HM — Bruce Bennett, Ohio University</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Dave Martin, The Associated Press "Hurricane Georges"<br>
Second Place — Jim MacMillan, The Philadelphia Daily News – "Mother's Murder"<br>
Third Place — Khalil Senosi, The Associated Press "Kenya Explosion"<br>
HM — Al Schaben, Los Angeles Times "Shaken Up"<br>
HM — Todd Bennett, The Augusta Chronicle "Flood Boat"<br>
HM — Alan Spearman, The Commercial Appeal "Tears"</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Annie O'Neill, Pittsburgh Post-Gazette<br>
Second Place — Alejandro A. Alvarez, Philadelphia Daily News<br>
Third Place — Brennan Linsley, Associated Press<br>
HM — Jeff Siner, The Charlotte Observer<br>
HM — Chad Stevens, Western Kentucky University</p>
<p><strong>FEATURE</strong><br>
First Place — Michael Goulding, Orange County Register<br>
Second Place — Jeff Siner, The Charlotte Observer<br>
Third Place — Robert Cohen, The Commercial Appeal<br>
HM — Richard Graulich, The Palm Beach Post<br>
HM — Michael Goulding, Orange County Register</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Steve Dykes, The Rocky Mountain News<br>
Second Place — Robert Hendricks, The Northwest Herald (IL)<br>
Third Place — Mark Garfinkel, The Boston Herald<br>
HM — Jack Gruber, The Detroit News<br>
HM — Greg Lovett, The Palm Beach Post<br>
HM — Chris Tyree, unknown</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Andy Holzman, Los Angeles Daily News<br>
Second Place — Sherman D. Zent, The Palm Beach Post<br>
Third Place — M. Scott Moon, Peninsula Clarion (AK)<br>
HM — Rich Glickstein, University of Florida<br>
HM — Craig Kohlruss, Appeal-Democrat (Calif.)<br>
HM — Jeff Gritchen, Long Beach (Calif.) Press-Telegram</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place — Allan Detrich, Block News Alliance<br>
Second Place — Bruce Bennett, Ohio University<br>
Third Place — Allan Detrich, Block News Alliance<br>
HM — Allan Detrich, Block News Alliance<br>
HM — Sean Loftin, Western Kentucky University<br>
HM — Brennan Linsley, The Associated Press</p>
<p><strong>PICTORIAL</strong><br>
First Place — Kenneth D. Lyons, Daily Press, Newport News, VA<br>
Second Place — Astrid Riecken, The Washington Times<br>
Third Place — Todd Sumlin, The Charlotte Observer</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Kent Phillips, The Commercial Appeal<br>
Second Place — Kent Phillips, The Commercial Appeal<br>
Third Place — David Eulitt, Topeka Capital-Journal<br>
HM — Phil Skinner, The Atlanta Journal-Constitution<br>
HM — Rick Loomis, The Los Angeles Times</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Jeff Davis, Topeka Capital-Journal<br>
Second Place — Carol Cleere, Tallahassee Democrat<br>
Third Place — Kent Phillips, The Commercial Appeal<br>
HM — Carol Cleere, Tallahassee Democrat<br>
HM — Sherman D. Zent, The Palm Beach Post</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — Allan Detrich, Block News Alliance<br>
Second Place — John Beale, Pittsburgh Post-Gazette<br>
Third Place — Candice Cusic, Chicago Tribune<br>
HM — Bruce Bennett, Ohio University<br>
HM — Jeff Guenther, Chattanooga Times<br>
HM — Patrick A. Schneider, The Charlotte Observer</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Mike Stocker, The Sun-Sentinel<br>
Second Place — Srdjan Ilic, The Associated Press<br>
Third Place — Rich Addicks, The Atlanta Journal-Constitution<br>
HM — Rich Addicks, The Atlanta Journal-Constitution<br>
HM — Chris Stanford, Copely Newspapers<br>
HM — Achmad Ibrahim, The Associated Press</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Eric J. Larson, University of Florida<br>
Second Place — Rich Glickstein, University of Florida<br>
Third Place — Mark Henle, The Arizona Republic<br>
HM — Peter Diana, Pittsburgh Post-Gazette<br>
HM — Aristide Economopoulos, The State Journal-Register (IL)</p>

<%= partial 'layouts/contest_navigation', locals: { year: 1998 } %>