---
title: 2008 Winners
navigation: Contest
---

<h1>2008 Winners</h1>

<%= partial 'layouts/contest_navigation', locals: { year: 2008 } %>

<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 2008 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
David Guttenfelder, The Associated Press, Pakistani Lawyers</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — David Guttenfelder, The Associated Press,<br>
Second Place — Oded Balilty, The Associated Press,<br>
Third Place — Kevin German, LUCEO Images</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — John Adkisson, UNC Chapel Hill,<br>
Second Place — Tim Hussin, Univ, of Florida,<br>
Third Place — Matthew William Lutton,"<br>
HM — Scott McIntyre, Western Kentucky</p>
<p><strong>STAFF OF THE YEAR</strong><br>
The Associated Press</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Gregorio Marrero, The Associated Press, "Point Blank"<br>
Second Place — George Abdaladze, The Associated Press, "Caught in Air Strike"<br>
Third Place — Emilio Morenatti, The Associated Press, "Struggle for Food"<br>
HM — Emilio Morenatti, The Associated Press, "Buried Alive"<br>
HM — Muhammed Muheisen, The Associated Press, "Raining Gas"</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — David Guttenfelder, The Associated Press, "Pakistani Lawyers"<br>
Second Place — David Guttenfelder, The Associated Press, "Sichuan Quake"<br>
Third Place — Rich—Joseph Facun, The National/The Virginia Pilot, "Festival of Color"<br>
HM — Tim Hussi, "Untitled"<br>
HM — Michael Holahan, The Augusta Chronicle, "The Wall"</p>
<p><strong>FEATURE SINGLE</strong><br>
First Place — Kent Treptow, L,A, Times, "Untitled"<br>
Second Place — Noah Rabinowitz, Ohio University, "Sunday Service"<br>
Third Place — Oded Balilty, The Associated Press, "Picture Fun"<br>
HM — John Freidah, The Providence Journal Company, "Foreclosure"</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — Chris Detrick, The Salt Lake Tribune "Untitled"<br>
Second Place — Scott Heppell, The Associated Press, "Aerial Feat"<br>
Third Place — Matt Dunham, The Associated Press, "Out of the Bunker"</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — John Russell, The Associated Press, "Victory"<br>
Second Place — Oded Balilty, The Associated Press, "Flexibility"<br>
Third Place — Ronna Gradus, The Miami Herald, "Warm Up"<br>
HM — Marty Lavor, The Lavor Group, "Untitled"<br>
HM — Kainaz Amaria, St, Petersburg Times, "Untitled"</p>
<p><strong>PORTRAIT</strong><br>
First Place — Mustafah Abulaziz, Freelance, "Chilean Cowboy"<br>
Second Place — James Gregg, Arizona Daily Star, "Pigeon Man"<br>
Third Place — Benjamin Sklar, Freelance, "Discovery"<br>
HM — Matt Eich, Ohio University, "Farmers Neck"<br>
HM — Ikuru Kuwajima, Freelance, "Rest"</p>
<p><strong>ELECTION SINGLE</strong><br>
First Place — Chris Zuppa, St, Petersburg Times, "Obama"<br>
Second Place — Matt Freed, Pittsburgh Post Gazette, "Friends Closer, Enemies Closer"<br>
Third Place — Matt McClain, Rocky Mountain News, "Ron Paul Supporters"</p>
<p><strong>ELECTION STORY</strong><br>
First Place — Joe Raedle, Getty Images, "Hillary"<br>
Second Place — Jae Hong, The Associated Press, "Obama"<br>
HM — Joe Raedle, Getty Images, "Untitled"<br>
HM — Joe Raedle, Getty Images, "Untitled"<br>
HM — Joe Raedle, Getty Images, "Untitled"</p>
<p><strong>PICTORIAL</strong><br>
First Place — Jackie Ricciardi, The Augusta Chronicle, "Frost"<br>
Second Place — Rich—Joseph Facun, The National/The Virginian—Pilot, "Untitled"<br>
Third Place — Angela Wilhelm, Ohio University, "Soprano Sister"<br>
HM — Djamila Grossman, Standard—Examiner, "Untitled"<br>
HM — Jackie Ricciardi, The Augusta Chronicle, "Gloomy"</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Oded Balilty, The Associated Press, "Nanjimg 70 Years Later"<br>
Second Place — David Guttenfelder, The Associated Press "Sichuan Earthquake"<br>
Third Place — Matt McClain, Rocky Mountain News "Windsor Tornado"<br>
HM— Ikuru Kuwajima"The Dead Spiral"</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Mustafah Abulaziz, Freelance, "Penn Relays"<br>
Second Place — Oded Balilty, The Associated Press, "Going for the Gold<br>
Third Place — Josh Birnbaum, Ohio University, "Wheelchair Basketball"<br>
HM — Rich—Joseph Facun, The National/The Virginian Pilot, "Rollin' Revivial "</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — David Guttenfelder, The Associated Press, "Cult of Kim"<br>
Second Place — Jenn Ackerman, Ohio University, "Trapped"<br>
Third Place — John Freidah, The Providence Journal Company, "Foreclosure"<br>
HM — Kent Treptow, L,A, Times/Times Community News, "Untitled"<br>
HM — Emilio Morenatti, The Associated Press, "Tibetan Monks in Nepal"</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Francisco Kjolseth, The Salt Lake Tribune, "Sundance"<br>
Second Place — Matt Roth, mattrothphoto,com, "Trust Your Postal Worker?"<br>
Third Place — Joey Ivansco, Atlanta Journal Constitution "Peachball"<br>
HM — Louie Favorite, Atlanta Journal Constitution "Wallstreet"</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Erik Lunsford, St, Louis Post—Dispatch, "Art Bowls"<br>
Second Place — John L, White, St, Louis Post—Dispatch, "Untitled"<br>
Third Place — Edmund Fountain, St, Petersburg Times, "Camo on Camo"<br>
HM — Cyrus McCrimmon, Denver Post, "Untitled"</p>
<p><strong>MILITARY PHOTOGRAPH</strong><br>
First Place— Jonathan Phillips, Gwinnett Daily Post "Untitled"<br>
Second Place — Jon Soucy, U,S, Army "Early Morning Tea"<br>
Third Place — Justin Merriman, Pittsburgh Tribune Review "Untitled"</p>
<p><strong>MULTIMEDIA</strong><br>
First Place — Jenn Ackermann "Trapped"<br>
Second Place — Nicole Fruge "Bikini Man"<br>
Third Place — John Freidah "Constable Claires"<br>
HM — Kainaz Amaria and Matt Eich "Life with Dan"<br>
HM — Ed Ou, The Associated Press "Memorial"</p>
<p><strong>MULTIMEDIA INTERACTIVE</strong><br>
First Place — Travis Long, News & Observer, "Life Unbarred"<br>
Second Place — Patrick Davison, UNC "Cape Fear to Down Here"<br>
Third Place — Justin Idle, Rose Lincoln and Rebecca Rollins, Harvard "International Health"<br>
HM — Sonya Doctorian, Rocky Mountain News "Beyond the Boom"</p>
<p><strong>NIKON SHOOTOUT</strong><br>
First Place — Jesse Jones</p>

<%= partial 'layouts/contest_navigation', locals: { year: 2008 } %>