---
title: 1999 Winners
navigation: Contest
---

<h1>1999 Winners</h1>

<p style="text-align: center;"><a href="/contest/winners/ninety-eight/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/zero/">NEXT YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar's 1999 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Candace West, The Miami Herald</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Mike Stocker, Sun-Sentinel<br>
Second Place — Eugene Garcia, The Orange County Register<br>
Third Place — Peggy Peattie, San Diego Union-Tribune<br>
HM — Jamie Francis, The St. Petersburg Times<br>
HM — Andrew Cutraro, St. Louis Post Dispatch</p>
<p><strong>RICH MAHAN STUDENT PORTFOLIO</strong><br>
First Place — Jonathan Kirshner, Western Kentucky University<br>
Second Place — Mark Weber, Western Kentucky University<br>
Third Place — Kye—Ryung Lee, Ohio University</p>
<p><strong>STAFF OF THE YEAR</strong><br>
Ft. Lauderdale Sun—Sentinel</p>
<p><strong>SPOT NEWS</strong><br>
First Place — David Brauchli, The Associated Press "Fleeing Kosovo"<br>
Second Place — George Kochaniec Jr., The Rocky Mountain News "The Scream"<br>
Third Place — Patrick A. Schneider, The Charlotte Observer "Thanks, Mr. Firefighter"<br>
HM — Jim Damaske, St. Petersburg Times "Night Wave"<br>
HM — Enric Marti, The Associated Press "Earthquake Rescue"<br>
HM — Jerome Delay, The Associated Press "Exhausted Refugee"<br>
HM — Tomás Ovalle, The Fresno Bee "Fleeing Firefighter"<br>
HM — Jerome Delay, The Associated Press "Ramallah Clashes I"</p>
<p><strong>GENERAL NEWS</strong><br>
First Place — Candace Barbot, The Miami Herald "Stabbing Victim Grief"<br>
Second Place — Deidra Laird, The Charlotte Observer "Suffering the Consequences"<br>
Third Place — David Bergman, The Miami Herald "They're Heeere"<br>
HM — Lake Fong, Pittsburg Post-Gazzette "Disorderly Conduct"<br>
HM — Motoya Nakamura, The Virginian Pilot "Daddy's Girl"</p>
<p><strong>FEATURE</strong><br>
First Place — J.M. Eddins Jr., The Washington Times "Barbed Wire Beach"<br>
Second Place — Mike Stocker, Ft. Lauderdale Sun-Sentinel "Digging Out the Gravesite"<br>
Third Place — Layne Bailey, The Charlotte Observer "Dealers"<br>
HM — Jonathan Kirshner, Western Kentucky University "Kappa Song"<br>
HM — Robert Cohen, St. Louis Post-Dispatch "Lift Off"</p>
<p><strong>SPORTS ACTION</strong><br>
First Place — David Bergman, The Miami Herald "Tongue Lashing"<br>
Second Place — Rich Glickstein, The University of Florida "Can't Quite Get It"<br>
Third Place — Danny Wilcox Frazier, Iowa City Press-Citizen "Anchor Falls"<br>
HM — Robert Mayer, Ft. Lauderdale Sun-Sentinel "Inside Pitch"<br>
HM — Rodney A. White, Freelance "Over Under"<br>
HM — Francis Gardler, Patuxent Publishing Company "Up and Over"<br>
HM — Jeff Davis, The Topeka Capital—Journal "Grip and Grin"</p>
<p><strong>SPORTS FEATURE</strong><br>
First Place — Preston C. Mack, Ft. Lauderdale Sun Sentinel "Surfacing"<br>
Second Place — Bruce Bennett, The Palm Beach Post "Backwards and Barefoot"<br>
Third Place — Christine Jacobs, The Birmingham Post—Herald "The Rookies"<br>
HM — Toni L. Sandys, St. Petersburg Times "Great Time"<br>
HM — Jacek Gancarz, Palm Beach Daily News "Lay Up"<br>
HM — Joe Raedle, Newsmakers "El Toro"</p>
<p><strong>PORTRAIT/PERSONALITY</strong><br>
First Place — Mark Weber, Western Kentucky University "Family Home"<br>
Second Place — Brian Walski, Los Angeles Times "Tears of Uncertainty"<br>
Third Place — Hilda M. Perez, Ft. Lauderdale Sun-Sentinel "Young Girl in Pristina"<br>
HM — Preston C. Mack, Ft. Lauderdale Sun-Sentinel "Chess Champion"<br>
HM — Michael Laughlin, Ft. Lauderdale Sun-Sentinel "Soft Track Runner"<br>
HM — Mike Stocker, Ft. Lauderdale Sun-Sentinel "Feud"</p>
<p><strong>PICTORIAL</strong><br>
First Place — J.M. Eddins Jr., The Washington Times "Soggy Plea"<br>
Second Place — Jon Lowenstein, Sun Publications (IL) "Marge Adelman"<br>
Third Place — Mike Stocker, Ft. Lauderdale Sun—Sentinel "Life Imitates Art"<br>
HM — Eric J. Larson, Ft. Lauderdal Sun-Sentinel "Diver"<br>
HM — Marsha Halper, The Miami Herald "Synchro Swimming"<br>
HM — Ben Gray, The Atlanta Journal-Constitution "Moon Shot"</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First Place — Carol Cleere, The Tallahassee Democrat "Snap Peas<br>
Second Place — Laura Mueller, The Charlotte Observer "Banks Make the City"<br>
Third Place — Sung Park, Austin American-Statesman "Shredder"</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First Place — Jacek Gancarz, Palm Beach Daily News "Burned—Out Socialite"<br>
Second Place — Carol Cleere, Tallahassee Democrat "Asthma"<br>
Third Place — Renee Ittner-McManus, The State, Columbia, S.C. "Family Legacy"</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First Place — Candace West, The Miami Herald "Jessica Woodin"<br>
Second Place — Motoya Nakamura, The Virginian Pilot "Work At It"<br>
Third Place — Stephanie Sinclair, The Chicago Tribune "By the power vested in me…DONE"<br>
HM — Eugene Garcia,, The Orange County Register "Mom's Gone, Brother's in Charge"<br>
HM — Marice Cohn Band, The Miami Herald "Candy"<br>
HM — Saurabh Das, The Associated Press "Living With Polio"</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First Place — Andrew Cutraro, St. Louis Post-Dispatch "Fatal Fire"<br>
Second Place — Peggy Peattie, San Diego Union-Tribune "Life from Death"<br>
Third Place — Eugene Garcia, The Orange County Register "The Rise and Fall of Communism"<br>
HM — David Brauchli, The Associated Press "Kosovo"<br>
HM — Lisa Nipp, The Tennessean "Reawakening Kosovo"</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
First Place — Matt Freed, Pittsburgh Post-Gazette<br>
Second Place — Jeff Davis, The Topeka Capital-Journal "Midget Wrestling"<br>
Third Place — Jim Stawniak, Creative Loafing, Atlanta</p>
<p style="text-align: center;"><a href="/contest/winners/ninety-eight/">PREVIOUS YEAR</a>     |     <a href="/contest/winners/zero/">NEXT YEAR</a>     |     <a href="/contest/winners/">YEAR-BY-YEAR</a></p>

