---
title: 2018 Schedule
navigation: Schedule
---

For more information regarding speakers and topics, visit the <strong><a href="/faculty/">2018 Faculty</a></strong> page.</p>

<h3>Friday Workshops (November 9)</h3>

<p><strong>7:00am</strong> – Registration Desk Opens<br>
<strong>8:00am-5:00pm</strong> – Vendor Room Open<br>
<strong>8:00am-Noon</strong> – Contest Judging<br>
<strong>1:00-6:00pm</strong> – Contest Judging</p>

<h4>Workshops</h4>

<ul>
  <li><strong>8:00-9:15am</strong> – <a href="/faculty/workshops/#julia-wall">Julia Wall - Video Storytelling With the Resources You Have</a></li>
  <li><strong>8:00-9:15am</strong> – <a href="/faculty/workshops/#karen-warren">Karen Warren – The Sports Beat</a></li>
  
  <li><strong>9:15-9:30am</strong> – BREAK</li>
  
  <li><strong>9:30-10:45am</strong> – <a href="/faculty/workshops/#john-nowak">John Nowak – One Light Setups are Bunk: This One Has Two</a></li>
  <li><strong>9:30-10:45am</strong> – <a href="/faculty/workshops/#julia-wall">Julia Wall - Video Storytelling With the Resources You Have</a></li>
  <li><strong>9:30-10:45am</strong> – <a href="/faculty/workshops/#karen-warren">Karen Warren – The Sports Beat</a></li>
  
  <li><strong>9:15-9:30am</strong> – BREAK</li>

  <li><strong>11:00am–12:15pm</strong> – <a href="/faculty/workshops/#john-nowak">John Nowak – One Light Setups are Bunk: This One Has Two</a></li>
  <li><strong>11:00am–12:15pm</strong> – <a href="/faculty/workshops/#robert-seale">Robert Seale - Photo Business 101: Starting Out On Your Own</a></li>
  <li><strong>11:00am–12:15pm</strong> – <a href="/faculty/workshops/#paul-gero">Paul Gero – Wedding Photojournalism</a></li>
  
  <li><strong>12:15-1:30pm</strong> – LUNCH BREAK</li>

  <li><strong>1:30–2:45pm</strong> – <a href="/faculty/workshops/#robin-rayne">Robin Rayne – The Power of Why: Pursuing Your Personal Passion</a></li>
  <li><strong>1:30–2:45pm</strong> – <a href="/faculty/workshops/#robert-seale">Robert Seale – Photo Business 201: Estimates & Licensing</a></li>
  <li><strong>1:30–2:45pm</strong> – <a href="/faculty/workshops/#john-nowak">John Nowak - One Light Setups are Bunk: This One Has Two</a></li>

  <li><strong>2:45–3:00pm</strong> – BREAK</li>

  <li><strong>3:00–4:15pm</strong> – <a href="/faculty/workshops/#robin-rayne">Robin Rayne – The Power of Why: Pursuing Your Personal Passion</a></li>
  <li><strong>3:00–4:15pm</strong> – <a href="/faculty/workshops/#aubrey-aden-buie">Aubrey Aden-Buie - Evolution of a Video Story That Almost Wasn't</a></li>
  <li><strong>3:00–4:15pm</strong> – <a href="/faculty/workshops/#richard-liebowitz">Richard Liebowitz - Hot Topics in Copyright Law</a></li>

  <li><strong>4:15–4:30pm</strong> – BREAK</li>

  <li><strong>4:30–5:45pm</strong> – <a href="/faculty/workshops/#aubrey-aden-buie">Aubrey Aden-Buie - Evolution of a Video Story That Almost Wasn't</a></li>
  <li><strong>4:30–5:45pm</strong> – <a href="/faculty/workshops/#richard-liebowitz">Richard Liebowitz - Hot Topics in Copyright Law</a></li>
  <li><strong>4:30–5:45pm</strong> – <a href="/faculty/workshops/#paul-gero">Paul Gero – Wedding Photojournalism</a></li>
</ul>

<p><strong>7:15-8:45pm</strong> – Screening of "Hondros" (Peachtree Corners)<br>
<strong>9:00pm-???</strong> – Portfolio Reviews (Peachtree Corners)</p>

<h3>Saturday Speakers (November 10)</h3>

<ul>
  <li><strong>7:30am</strong> – Registration Desk Opens</li>
  <li><strong>8:00am</strong> - Vendor Room Opens</li>
  <li><strong>10:00am-4:00pm</strong> - Silent Auction (Peachtree Corners)</li>
  <li><strong>8:50am</strong> – Welcome/Announcements (Peachtree Corners)</li>
  <li><strong>9:00-10:15am</strong> – <a href='/faculty/speakers/#sharon-farmer'>Sharon Farmer</a></li>
  <li><strong>10:15-10:45am</strong> – BREAK</li>
  <li><strong>10:45am-12:00pm</strong> – <a href='/faculty/speakers/#joe-raedle'>Joe Raedle</a></li>
  <li><strong>12:00-1:00pm</strong> – LUNCH BREAK</li>
  <li><strong>1:00-2:15pm</strong> – <a href='/faculty/speakers/#lauren-frohne'>Lauren Frohne</a></li>
  <li><strong>2:15-2:45pm</strong> – BREAK</li>
  <li><strong>2:45-4:00pm</strong> – <a href='/faculty/speakers/#barbara-davidson'>Barbara Davidson</a></li>
  <li><strong>4:00-4:15pm</strong> – BREAK</li>
  <li><strong>4:15-5:30pm</strong> – <a href='/faculty/speakers/#carol-guzy'>Carol Guzy</a></li>
</ul>

<p>
  <strong>9:00pm-???</strong> – Portfolio Reviews Peachtree Corners
</p>

<p>
  <em>***All speakers, dates and times are subject to change.</em>
</p>