---
title: 2017 Chris Hondros Memorial International News
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>


<h3>First Place: Moe Zoyari</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-602aa4', yaml_data: 'source/contest/winners/2017/chris-hondros-memorial-international-news/slideshow-first-place-602aa4.yml' } %>

<h3>Second Place: Felipe Dana / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-cbde32', yaml_data: 'source/contest/winners/2017/chris-hondros-memorial-international-news/slideshow-second-place-cbde32.yml' } %>

<h3>Third Place: Luis Tato / Stringer / Agence France-Presse</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-4476fd', yaml_data: 'source/contest/winners/2017/chris-hondros-memorial-international-news/slideshow-third-place-4476fd.yml' } %>