---
title: 2021 Video Multimedia Project (Long) Winners
layout: wide
comments: off
---

<p style='text-align: center;'>
<a href='https://www.univision.com/especiales/noticias/2021/george-floyd-one-year-from-his-death/index.html' target='_blank'>First Place – Andrea Patino contreras / Univision News Digital</a><br>
<a href='https://www.univision.com/univision-news/immigration/expelled-to-mexico-crisis-of-a-city-forced-deal-migrants-sent-back-by-the-u-s-title-42' target='_blank'>Second Place – Andrea Patino contreras / Univision News Digital </a><br>
<a href='https://vimeo.com/580522298/885042eec8' target='_blank'>Third Place – Jarrad Henderson / USA Today</a>
</p>