---
title: 2015 Chris Hondros Memorial International News
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>First Place: Win Mcnamee / Getty Images</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-641713', yaml_data: 'source/contest/winners/2015/chris-hondros-memorial-international-news/slideshow-first-place-641713.yml' } %>

<h3>Second Place: Vadim Ghirda / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-169771', yaml_data: 'source/contest/winners/2015/chris-hondros-memorial-international-news/slideshow-second-place-169771.yml' } %>

<h3>Third Place: Jerome Delay / Associated Press</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-40e204', yaml_data: 'source/contest/winners/2015/chris-hondros-memorial-international-news/slideshow-third-place-40e204.yml' } %>