---
title: 2016 Best Portfolio
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h3>Matt McClain / The Washington Post</h3>

<%= partial 'layouts/slideshow', locals: { id: 'carousel-846a18', yaml_data: 'source/contest/winners/2016/best-portfolio/slideshow-first-place-846a18.yml' } %>