---
title: 1995 Winners
navigation: Contest
---

<h1>1995 Winners</h1>

<p>The following are the winners from the 1995 Atlanta Photojournalism Contest:</p>

<p style="text-align: center;"><a href="/contest/winners/ninety-four/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/ninety-six/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
<p>Below is a list of the winners from the Atlanta Photojournalism Seminar’s 1995 photo contest.</p>
<p>HM = Honorable Mention</p>
<p><strong>BEST IN SHOW</strong><br>
Mary Gardella, The Patriot-News, Harrisburg, Pa.</p>
<p><strong>BEST PORTFOLIO</strong><br>
First Place — Peggy Peattie, The (Columbia, S.C.) State<br>
HM — Mark Mirko, The Palm Beach Post</p>
<p><strong>STUDENT PORTFOLIO</strong><br>
First place — Patrick Witty, Western Kentucky University<br>
Second place — Chris Stanford, Western Kentucky University<br>
Third place — Huy Nguyen, University of Texas/Austin<br>
HM — Missy Bello, University of North Carolina — Chapel Hill<br>
HM — Wendy Yang, University of North Carolina — Chapel Hill<br>
HM — Stefanie Boyar, Western Kentucky University</p>
<p><strong>GEORGIA PORTFOLIO</strong><br>
Carol Cleere, The Augusta Chronicle</p>
<p><strong>SPOT NEWS</strong><br>
First Place — Lannis Waters, The Palm Beach Post<br>
Second place — Jim Hudelson, The Times, Shreveport, La.<br>
Third place — Scott Panella, Western Kentucky University<br>
HM — Scott Wiseman, The Palm Beach Post<br>
HM — Caroline E. Couig, The Palm Beach Post</p>
<p><strong>GENERAL NEWS</strong><br>
First place — John Beale, Pittsburgh Post—Gazette<br>
Second place — Patrick Farrell, The Miami Herald<br>
Third place — J. Albert Diaz, The Miami Herald<br>
HM — J. Albert Diaz, The Miami Herald<br>
HM — Roger W. Winstead, The News &amp; Observer, Raleigh, N.C.<br>
HM — Swayne B. Hall, Fayetteville (N.C.) Observer-Times</p>
<p><strong>FEATURES</strong><br>
First place — Mary Gardella, The Patriot—News, Harrisburg, Pa.<br>
Second place — Nuri Vallbona, The Miami Herald<br>
Third place — Cathy Seith, The Herald Sun, Durham, N.C.<br>
HM — Nuri Vallbona, The Miami Herald<br>
HM — L.E. Baskow, Rockford (IL) Register Star<br>
HM — Lelen Bourgoignie, University of Miami</p>
<p><strong>SPORTS ACTION</strong><br>
First place — Eliot Schechter, Sun Sentinel, Ft. Lauderdale<br>
Second place — J. Albert Diaz, The Miami Herald<br>
Third place — Carol Cleere, The Augusta (Ga.) Chronicle<br>
HM — Alan Spearman, University of Georgia<br>
HM — Gary Allen, News &amp; Observer, Raleigh, N.C.<br>
HM — Jim Hudelson, The Times, Shreveport, La.</p>
<p><strong>SPORTS FEATURE</strong><br>
First place — Allan Detrich, Toledo Blade<br>
Second place — J. Albert Diaz, The Miami Herald<br>
Third place — Aristide Economopoulos, Journal Tribune, Biddeford, Maine<br>
HM — Gary Allen, News &amp; Observer, Raleigh, N.C.<br>
HM — Scott Panella, Western Kentucky University<br>
HM — Peggy Peattie, The State, Columbia, S.C.</p>
<p><strong>PORTRAIT PERSONALITY</strong><br>
First place — Eric Seals, The State, Columbia, S.C.<br>
Second place — Joey Ivansco, The Atlanta Journal—Constitution<br>
Third place — Mike Stocker, The Miami Herald<br>
HM — Vicki Cronis, Virginian-Pilot, Norfolk<br>
HM — Lelen Bourgoignie, University of Miami</p>
<p><strong>PICTORIAL</strong><br>
First place — Greg Lovett, The Palm Beach Post<br>
Second place — Bill Steber, The Tennessean<br>
Third place — Joe Burbank, The Orlando Sentinel<br>
HM — Craig Fritz, Western Kentucky University<br>
HM — Lisa DeJong, Muskegon (Mich.) Chronicle<br>
HM — Greg Lovett, The Palm Beach Post</p>
<p><strong>PRODUCT ILLUSTRATION</strong><br>
First place — Joey Ivansco, The Atlanta Journal—Constitution<br>
Second place — Pamela Miller, The Daily Press, Newport News, Va.<br>
3nd place — Renee Ittner-McManus, The State, Columbia, S.C.<br>
HM — Renee Ittner-McManus, The State, Columbia, S.C.<br>
HM — Swayne B. Hall, Fayetteville (N.C.) Observer—Times</p>
<p><strong>ISSUE ILLUSTRATION</strong><br>
First place — Joseph Trotz, The Augusta (Ga.) Chronicle<br>
Second place — Joseph Trotz, The Augusta (Ga.) Chronicle<br>
HM — Eric Parsons, San Bernardino County (Calif.) Sun</p>
<p><strong>FEATURE PICTURE STORY</strong><br>
First place — Mary Gardella, The Patriot—News, Harrisburg, Pa.<br>
Second place — Mark Mirko, The Palm Beach Post<br>
Third place (tie) — Cathy Seith, The Herald Sun, Durham, N.C.<br>
Third place (tie) — Maurice Rivenbark, St. Petersburg Times<br>
HM — Jared Lazarus, Fayetteville Observer-Times</p>
<p><strong>NEWS PICTURE STORY</strong><br>
First place — Patrick Farrell, The Miami Herald<br>
Second place — Mary Gardella, The Patriot News, Harrisburg, Pa.<br>
HM — Chris Stanford, Western Kentucky University<br>
HM — Charles Bertram, The Lexington (Ky.) Herald-Leader</p>
<p><strong>SPORTS PICTURE STORY</strong><br>
HM — J. Albert Diaz, The Miami Herald<br>
HM — Emily Kelsey, The Miami Herald<br>
HM — Allen Eyestone, The Palm Beach Post</p>
<p style="text-align: center;"><a href="/contest/winners/ninety-four/">PREVIOUS YEAR</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;&nbsp;<a href="/contest/winners/ninety-six/">NEXT YEAR</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;&nbsp;<a href="/contest/winners/">YEAR-BY-YEAR</a></p>
				<footer class="entry-meta">
				</footer>
