---
title: 2013 Multimedia Slideshow
navigation: Contest
comments: off
---

<%= partial 'layouts/return_to_winners' %>

<h4>Winner - Christopher Capozziello</h4>

<iframe src="//player.vimeo.com/video/79561282" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>